<div class="col-lg-6">
    <c-forms.barcode_input />
</div>
<div class="col-lg-6 d-flex flex-nowrap flex-shrink-0 gap-2 btn-group justify-content-end">
    <div class="">
        <a href="#" class="pt-3 px-75px btn btn-outline-gray-100 mb-2" 
            data-bs-toggle="modal" data-bs-target="#modalPosSearchModal"
                hx-get="{% url 'pos:pos-modal-search' %}" hx-target="#modalPosSearchModal"
            >
            <i class="fas fa-2xl fa-search"></i><br>
            <span class="small"></span>
            Search
        </a>
    </div>
    <div class="">
        <a href="#" class="pt-3 px-75px btn btn-outline-gray-100 mb-2" icon="fas fa-2xl fa-times" btn="btn-outline-gray-100" hx-swap="outerHTML" id="item-delete-btn" hx-delete="/orders/delete-active-order" hx-target="#order-tab-sales-30112024-0149">
            <i class="fas fa-2xl fa-times"></i><br>
            <span class="small"></span>
            Status
        </a>
    </div>
    <div class="" >
        <a href="#" class="pt-3 px-75px btn btn-outline-gray-100 mb-2" icon="fas fa-2xl fa-times" btn="btn-outline-gray-100" hx-swap="outerHTML" id="item-delete-btn" hx-delete="/orders/delete-active-order" hx-target="#order-tab-sales-30112024-0149">
            <i class="fas fa-2xl fa-times"></i><br>
            <span id="orders-count"  class="small" hx-swap-oob="outerHTML">{{ orders|length }}</span>
            Orders
        </a>
    </div>
</div>