<c-pos-base>
<c-wrappers.pos_card>
{% comment %} {% block extra_content %}{{ orders.first }}{% endblock %} {% endcomment %}

    {% comment %} <div class="card-header bg-transparent row mx-0 align-content-between align-items-center w-100">
        <div class="col-lg-6">
        <c-forms.barcode_input />
        </div>
        <div class="col-lg-3">
            <c-forms.select_order id="order-tab-select" />
        </div>
    </div> {% endcomment %}
    <div class="pos-container card-body" style="width: 100%;">
          
        <c-pos-menu />
         <div class="pos-content" id="container1" style="width: 42%; min-width: 40%;">
            <c-orders.list  id="order-tab-list-1">
                {% for order in orders %}
                    <c-orders.order />
                {% endfor %}
            </c-orders.list>
        </div>
        <div class="pos-sidebar" id="container2" style="width: 43%; min-width: 35%;">
            <c-orders.order_detail />
        </div> 
    </div>
    <c-card-arrow />
</c-wrappers.pos_card>

<c-slot name="additional_pos_script">
<c-scripts.resize />
<script>
console.log('additional_pos_script from inside comp');
</script>
</c-slot>
</c-pos-base>