<div class="d-flex">
    <button hx-get="{% url 'pos:subtract-quantity' item.number %}" hx-target="#orders-detail"
        class="btn btn-sm btn-outline-theme btn-sm"><i class="fa fa-minus"></i></button>
    <input id="qty-input-{{ item.number }}" value="{{ item.quantity }}" type="text"
        class="form-control w-50px text-center mx-2 form-control-sm bg-white bg-opacity-25" name="qty">
    <button hx-get="{% url 'hud:add-quantity' item.number %}" hx-target="#orders-detail"
        class="btn btn-sm btn-outline-theme btn-sm"><i class="fa fa-lg fa-plus"></i></button>
</div>