<div class="card mb-3">
    <div class="card-header bg-none fw-bold d-flex align-items-center">Discussion group <a href="#" class="ms-auto text-muted text-decoration-none" data-toggle="card-expand"><i class="fa fa-expand"></i></a></div>
    <div class="card-body p-2 bg-inverse bg-opacity-10" style="height: 100px;">
        <div class="widget-chat-item">
            <div class="widget-chat-content">
                <div class="widget-chat-name">Roberto Lambert</div>
                <div class="widget-chat-message">
                    Not much, It's got a new look, contact pics show up.
                </div>
                <div class="widget-chat-message last">
                    How's crusty old iOS 6 treating you?
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer bg-none">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <button class="btn btn-outline-default" type="button"><i class="fa fa-paper-plane text-muted"></i></button>
        </div>
    </div>
    <!-- card-arrow -->
    {% include 'components/card-arrow.html' %}
</div>