<div class="mg-document-tab p-0 tab-pane fade {{ active }}" id="mgt-documents-{{ order.number }}">
    <div id="add-new-document-form">
        <div class="file-manager">
            {% include 'mgt/documents/add/new/forms/document-form.html' %}
            {% include 'mgt/documents/add/new/forms/document-details.html' %}
        </div>
    </div>
</div>
<script>

var handleChatScroll = function() {
    var elm = document.querySelector('.messenger-content-body [data-scrollbar="true"]');
    elm.scrollTop = elm.scrollHeight - elm.clientHeight;
    var elm = document.querySelector('.messenger-content-body');
    elm.classList.remove('invisible');
};

document.addEventListener("DOMContentLoaded", (event) => {
    handleChatScroll();
});


</script>