{% load widget_tweaks mgt_tags %}


    {{ product_tax_formset.management_form }}
    {% for form in product_tax_formset %}
    {% include 'mgt/tabs/add-product/side-forms/product-tax-form.html' with product_tax_form=form %}
    {% endfor %}
    {% comment %} {% include 'mgt/tabs/add-product/side-forms/product-tax-form.html' with product_tax_form=product_tax_formset.empty_form %}
    {% include 'mgt/tabs/add-product/side-forms/product-tax-form.html' with product_tax_form=product_tax_formset.empty_form %}
    {% include 'mgt/tabs/add-product/side-forms/product-tax-form.html' with product_tax_form=product_tax_formset.empty_form %}
    {% include 'mgt/tabs/add-product/side-forms/product-tax-form.html' with product_tax_form=product_tax_formset.empty_form %} {% endcomment %}
    <div class="mb-3">
        <input type="hidden" id="product-id" name="product-id" value="{{ product.id }}" />
        <button class="btn btn-outline-default is-add-button" id="add-tax-to-product-form-button"
                hx-get="{% url 'mgt:add-to-producttax-formset' %}"
                hx-target="#product-tax-formset"
                hx-include="#product-id"
                {% if max_forms == product_tax_formset|length %}style="display:none;"{% endif %}
                _="on click
                toggle my *display"
                >Add more</button>
    </div>

