<div class="form-group row mb-3" id="id_form-0-tax-{{ tax.id}}">
        {% include 'mgt/tabs/add-product/side-forms/product-tax-field.html' %}
        max_forms = {{ max_forms }}|{{product_tax_formset.forms|length}}
        <div class="col-sm-1 has-button">
            {% comment %} <input type="hidden" id="product-id" name="product-id" value="{{ product.id }}" /> {% endcomment %}
            <button
                hx-get="{% url 'mgt:add-to-producttax-formset' %}"
                hx-target="#product-tax-formset"
                hx-include="#product-id"
                class="btn btn-outline-success is-button" 
                id="add-product-add-customer-button"
                my-form-id="{{ tax.id }}"
                {% if max_forms == product_tax_formset|length %}disabled{% endif %}
                
            >+</button>
        </div>
        <div class="col-sm-1 ">
        {% if form.instance and form.instance.id %}
        <button class="btn btn-outline-theme {{ is_first_set }}" id="cancel-add-producttax-form-{{ tax.id}}"
            hx-post="{% url 'mgt:delete-product-tax' %}"
            hx-target="#product-tax-formset"
            hx-vals='{
                "product_tax_id": "{{ form.instance.id }}",
                "product-id": "{{ product.id }}"
                }'
            _="on click
                remove #id_form-0-tax-{{ tax.id }}
                if I match .is-first-set
                    then 
                        toggle *display of the #add-tax-to-product-form-button  
                else 
                    toggle @disabled on the last .is-button
                    toggle @disabled on the #add-tax-to-product-form-button
                end 
                "
            >-</button>
            {% else %}
            <button class="btn btn-outline-theme {{ is_first_set }}" id="cancel-add-producttax-form-{{ tax.id}}"
            _="on click
                remove #id_form-0-tax-{{ tax.id }}
                if I match .is-first-set
                    then 
                        toggle *display of the #add-tax-to-product-form-button  
                else 
                    toggle @disabled on the last .is-button
                    toggle @disabled on the #add-tax-to-product-form-button
                end 
                "
            >-</button>
            {% endif %}
        </div>
    </div>