
<c-base>
<c-slot name="extra_app_class">app-content-full-height position-relative</c-slot>
<c-slot name="content fade">
<div id="content"
hx-on::load="bInput=htmx.find('#barcode-input');bInput.value= '';bInput.focus();" 
class="app-content p-1 ps-xl-4 pe-xl-4 pt-xl-3 pb-xl-3">
    {{ slot }}
    <c-buttons.mobile_sidebar />
</div>
{% comment %} <c-buttons.order_panel /> {% endcomment %}
</c-slot>
<c-panels.orders />


{% comment %} {% include 'pos/modals/pos-panel.html' %} {% endcomment %}

<c-slot name="modals">
    <c-modals />
</c-slot>
<c-slot name="additional_js">
<script>
console.log('additional_js from pos_base');
</script>
{{ additional_pos_script }}
</c-slot>
{% if debug %}
    <iframe 
        src="/__debug__/"
        style="position:fixed;bottom:0;left:0;width:100%;height:300px;border:none;z-index:9999;"
    ></iframe>
{% endif %}
</c-base>
