{% comment %} <input type="hidden" id="el-id" name="el-id" value="calculations-{{ active_order.number }}" />
<input type="hidden" id="url" name="url" value="{% url 'pos:order-discount' active_order.number %}" />
<input type="hidden" id="is_ajax" name="is_ajax" value="true" /> {% endcomment %}


{% comment %} hx-get="{% url 'pos:modal-calculator' %}" 
hx-target="#orderDiscountModal"
hx-vals='{
    "is_ajax": true,
    "url": "{% url "pos:order-discount" active_order.number %}",
    "display": "order-discount",
    "el-id": "calculations-{{ active_order.number }}"
    }'
hx-trigger="click" {% endcomment %}
<div class="flex-fill" id="orderDiscountButton">
    <a  class="w-100 pt-3 px-4 btn btn-outline-default rounded-2 mb-2"
        href="#orderDiscountModal"
        hx-get="{% url 'pos2:update-order-generic' active_order.number %}?fields=discount,discount_type"
        hx-target="#pos"
        hx-swap="innerHTML"
        data-bs-toggle="modal"
        >
        <i class="fas fa-2xl fa-percent"></i><br>
        <span class="small">Order Discount</span>
    </a>
</div>