{% load humanize %}

<div class="tab-content pt-3">
    {% for pt in payment_types %}
    <div class="tab-pane fade {% if pt == payment_type %} show active{% endif %}" id="pt-{{ pt.id }}" role="tabpanel" aria-labelledby="{{ pt.name }}-tab">
        <div class="d-flex mb-3">
            <div class="h4 me-2 text-lg-start">{{ pt.name }}</div>
            <div class="flex-fill">
                <input type="text" class="h4 focus-ring-none w-100 text-end pos-form-control rounded-0 border-0 border-bottom first-input"
                    value="{{ active_order.total|floatformat:'0'|intcomma }}"
                    id="payment-amount-{{ pt.id }}"
                    name="paid"
                    hx-get="{% url 'payments:change' active_order.number %}"
                    hx-target="#paid-change"
                    hx-trigger="keyup changed delay:500ms"
                    >
            </div>
        </div>
    </div>
    {% endfor %}
</div>