{% if payment_types %}
<div class="nav  nav-pills flex-column px-2">
    {% for pt in payment_types %}
    {% comment %} _="on click 
        remove .btn-success from .labe
        then add .btn-outline-default to .labe
        then remove .btn-outline-default from me 
        then add .btn-success to me end" {% endcomment %}
   
   
        {% comment %} <input type="radio" class="d-none" id="payment-type-{{ pt.id }}" name="payment-type" 
        value="{{ pt.id }}" 
        {% if payment_type == pt %}checked{% endif %}> {% endcomment %}
        <a class="text-start w-150px mb-3 me-2 nav-link {% if pt == payment_type %}active{% endif %}
    " href="#pt-{{ pt.id }}" data-bs-toggle="tab">
        {{ pt.name }}
        </a>
    
    {% endfor %}
</div>
{% endif %}