<div class="d-flex justify-content-between w-100 mb-4">
    <button type="button" class="btn btn-outline-danger px-4">Cancel</button>
    <div class="btn-group">
        <button type="button" class="btn btn-outline-secondary ">
        <i class="fas fa-lg fa-fw me-2 fa-percent"></i>
        Discount
        </button>
        <button type="button" class="btn btn-outline-secondary">
        <i class="fas fa-lg fa-fw me-2 fa-user"></i>
        Customer
        </button>
        <button type="button" class="btn btn-outline-secondary px-4">
        <i class="fab fa-lg fa-fw me-2 fa-servicestack"></i>
        Round
        </button>
    </div>
</div>