{% load static globals %}<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="{{ color_scheme }}">

<head>
{% include 'partials/metas.html' %}
{% block extra_top_scripts %}{% endblock extra_top_scripts %}
{% include 'partials/top-css.html' %}

<title>
{% block head_title %}
HUD | Dashboard
{% endblock head_title %}
</title>
</head>

<body
id="body"
onresize="resizeBody()"
hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
hx-on="htmx:load: jscolor.install();"
class="theme-success"
>
{% comment %} hx-get="/load-password-window/"
hx-target="#warning-toaster"
hx-trigger="load delay:5s" {% endcomment %}
    <div 
    id="app" 
    class="app app-sidebar-collapsed {% block extra_app_class %}{% endblock extra_app_class %}">
{% include 'partials/header.html' %}
{% include 'partials/sidebar.html' %} 
<button class="app-sidebar-mobile-backdrop" data-toggle-target=".app"
data-toggle-class="app-sidebar-mobile-toggled"></button>


{% block content %}
{% endblock content %}
<a href="#" data-toggle="scroll-to-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>
    </div>
    <input type="hidden" id="success-response" />

{% block modals %}
{% include 'modals/all-modals.html' %}
{% endblock modals %}
{% include 'modals/confirm-logout.html' %}
{% include 'modals/enter-password.html' %}

<div id="warning-toaster"></div>

<input type="hidden" id="load-temp" />
{% include 'partials/bottom-js.html' %}
{% block additional_js %}
{% endblock additional_js %}
<script>

    function togglePasswordModal(){
        var passwordModal = new bootstrap.Modal(document.getElementById("enter-password"))
        var passwordInput = document.getElementById("password-input")
        document.getElementById("enter-password").addEventListener("shown.bs.modal", () => {
        passwordInput.focus();
    }, { once: true }); // Use { once: true } to ensure this listener is called only once

    passwordModal.toggle();

    }

        let inactivityTimeout;

        function resetInactivityTimer() {
            clearTimeout(inactivityTimeout);

            inactivityTimeout = setTimeout(() => {
                // Trigger HTMX manually
                htmx.trigger(htmx.find("#content"), "inactivity");
                console.log('This function triggeres in 5 seconds!')
                togglePasswordModal()
            }, 480000); // 5 seconds of inactivity
        }

        // Reset timer on user activity
        ["mousemove", "keydown", "click", "scroll"].forEach(event => {
            document.addEventListener(event, resetInactivityTimer);
        });

        // Start the timer initially
        resetInactivityTimer();

        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.modal').forEach(modal => {
                modal.addEventListener('shown.bs.modal', () => {
                    const firstInput = modal.querySelector('.first-input');
                    if (firstInput) {
                        firstInput.focus();
                    }
                    
                });
            });
        });
    </script>
</body>

</html>
{% comment %} 
<script data-cfasync="false" src="{% static 'app/js/email-decode.min.js' %}"></script> 
<script src="{% static 'app/js/vendor.min.js' %}" type="14876ca369a8ef5d0d48d13e-text/javascript"></script>
<script src="{% static 'app/js/app.min.js' %}" type="14876ca369a8ef5d0d48d13e-text/javascript"></script>


<script src="{% static 'app/plugins/jvectormap-next/jquery-jvectormap.min.js' %}"
type="14876ca369a8ef5d0d48d13e-text/javascript"></script>
<script src="{% static 'app/plugins/jvectormap-content/world-mill.js' %}"
    type="14876ca369a8ef5d0d48d13e-text/javascript"></script>
    <script src="{% static 'app/plugins/apexcharts/dist/apexcharts.min.js' %}"
    type="14876ca369a8ef5d0d48d13e-text/javascript"></script>
    <script src="{% static 'app/js/demo/dashboard.demo.js' %}" type="14876ca369a8ef5d0d48d13e-text/javascript"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y3Q0VGQKY3"
    type="14876ca369a8ef5d0d48d13e-text/javascript"></script>
<script type="14876ca369a8ef5d0d48d13e-text/javascript">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    
    gtag('config', 'G-Y3Q0VGQKY3');
</script>
<script src="{% static 'app/js/rocket-loader.min.js' %}" data-cf-settings="14876ca369a8ef5d0d48d13e-|49" defer></script>
{% endcomment %}