{% load static globals %}<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="{{ color_scheme }}">

<head>
{% include 'partials/metas.html' %}
{% block extra_top_scripts %}{% endblock extra_top_scripts %}
{% include 'partials/top-css.html' %}

<title>
{% block head_title %}
HUD | Dashboard
{% endblock head_title %}
</title>
</head>

<body
id="body"
hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
hx-on="htmx:load: jscolor.install();"
class="theme-success"
>

{% comment %} hx-get="/load-password-window/"
hx-target="#warning-toaster"
hx-trigger="load delay:5s" {% endcomment %}
<div id="app" 
    class="app app-sidebar-collapsed {% block extra_app_class %}{% endblock extra_app_class %}">
    {% include 'partials/header.html' %}
    {% include 'partials/sidebar.html' %} 
    <button class="app-sidebar-mobile-backdrop" data-toggle-target=".app"
    data-toggle-class="app-sidebar-mobile-toggled"></button>


    {% block content %}
    {% endblock content %}
    {% comment %} <div class="btn-group-vertical position-absolute start-0 top-50" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-theme mb-1"><i class="bi bi-sliders"></i></button>
        <button type="button" class="btn btn-theme mb-1"><i class="bi bi-sliders"></i></button>
        <button type="button" class="btn btn-theme mb-1"><i class="bi bi-sliders"></i></button>
        <button type="button" class="btn btn-theme mb-1"><i class="bi bi-sliders"></i></button>
    </div> {% endcomment %}
    <a href="#" data-toggle="scroll-to-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>
    {% comment %} <c-theme-panel /> {% endcomment %}
</div>
        <input type="hidden" id="success-response" />

    {% block modals %}
    {% include 'modals/all-modals.html' %}
    {% endblock modals %}
    {% include 'modals/confirm-logout.html' %}
    <c-enter-pin />


    <div id="warning-toaster"></div>

    <input type="hidden" id="load-temp" />
    {% include 'partials/bottom-js.html' %}
    {% block additional_js %}
    {% endblock additional_js %}
    <script>
    document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('.modal').forEach(modal => {
        modal.addEventListener('shown.bs.modal', () => {
            const firstInput = modal.querySelector('.first-input');
            if (firstInput) {
                firstInput.focus();
                firstInput.select();
            }

        });
    });
});
    </script>
</body>

</html>
