{% extends 'empty-base.html' %}
{% block content %}
<div id="content" class="app-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="container text-center">
                    <h1 class="mb-5">Main Apps</h1>
                    <div class="row gap-3 justify-content-md-center h-100">
                        {% for app in main_apps %}
                        <div class="col-6 col-sm-4">
                            {% include 'components/home-apps.html ' %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
            {% include 'components/home/useful-links.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}