{% load static %}
<div class="h-100 d-flex flex-column p-0" id="orders-detail">
    
    
    <div class="d-flex flex-nowrap flex-shrink-0 gap-2 btn-group px-4 border-bottom mt-2 mb-3">
        <div class="flex-fill">
            <a href="#" class="w-100 pt-3 px-4 btn btn-outline-default border-0 mb-2">
                <i class="fas fa-2xl fa-times"></i><br>
                <span class="small">Delete</span>
            </a>
        </div>
        <div class="flex-fill">
                {% comment %} hx-get="{% url 'pos:modal-keyboard' %}" 
                hx-target="#modal-keyboard" 
                hx-trigger="click"
                hx-vals='{
                    "is_ajax": true,
                    "el-id": "orders-detail",
                    "url": "/pos/change-quantity/item-1-06122024-01-3395/",
                    "template_name":"pos/pos/order-detail.html"
                    }' {% endcomment %}
            <a href="#" class="w-100 pt-3 px-4 btn btn-outline-default rounded-2 mb-2"
                data-bs-toggle="modal"
                data-bs-target="#modalPosSearchModal"
            >
                <i class="fas fa-2xl fa-search"></i><br>
                <span class="small">Search</span>
            </a>
        </div>
        <div class="flex-fill">
            <a href="#" class="w-100 pt-3 px-4 btn btn-outline-default rounded-2 mb-2"
                hx-get="{% url 'pos:modal-calculator' %}" 
                hx-target="#modal-calculator" 
                hx-trigger="click"
                hx-vals='{
                    "is_ajax": true,
                    "el-id": "orders-detail",
                    "url": "/pos/change-quantity/item-1-06122024-01-3395/",
                    "template_name":"pos/pos/order-detail.html"
                    }'
                data-bs-toggle="modal"
                data-bs-target="#modal-calculator"
            >
                <i class="fas fa-2xl fa-cart-plus"></i><br>
                <span class="small">Quantity</span>
            </a>
        </div>
        <div class="flex-fill">
            <a href="#" class="w-100 pt-3 px-4 btn btn-outline-default rounded-2 mb-2">
                <i class="fas fa-2xl fa-plus"></i><br>
                <span class="small">New sale</span>
            </a>
        </div>
    </div>
    {% include 'pos/orders/detail/payment-types.html' %}
    <div class="flex-fill d-flex justify-content-start ps-2 my-4">
        <div class="d-flex align-items-center justify-content-center bg-transparent" id="drag-handle">
            <i class="fas fa-2xl fa-ellipsis-v"></i>
        </div>
    </div>
    <hr />
    <div class="d-flex flex-nowrap flex-shrink-0 gap-2 btn-group px-4 top-3">
        <div class="flex-fill">
            <a  class="w-100 pt-3 px-4 btn btn-outline-default rounded-2 mb-2"
                href="#orderDiscountModal"
                data-bs-toggle="modal"
            >
                <i class="fas fa-2xl fa-percent"></i><br>
                <span class="small">Discount</span>
            </a>
        </div>
        <div class="flex-fill">
            <a  class="w-100 pt-3 px-4 btn btn-outline-default rounded-2 mb-2"
                href="#modalOrderComment"
                data-bs-toggle="modal"
            >
                <i class="far fa-2xl fa-comment-alt"></i><br>
                <span class="small">Comment</span>
            </a>
        </div>
        <div class="flex-fill">
            <a  class="w-100 pt-3 px-4 btn btn-outline-default rounded-2 mb-2"
                href="#modalOrderCustomer"
                data-bs-toggle="modal"
            >
                <i class="far fa-2xl fa-user"></i><br>
                <span class="small">{{ active_order.customer.name }}</span>
            </a>
        </div>
        <div class="flex-fill">
            <a href="#" class="w-100 pt-3 px-4 btn btn-outline-default rounded-2 mb-2">
                <i class="fas fa-2xl fa-fax"></i><br>
                <span class="small">Cash drawer</span>
            </a>
        </div>
    </div>
    <div class="d-flex flex-nowrap flex-shrink-0 gap-2 btn-group px-4 top-3">
        <div class="flex-fill">
            <a href="#" class="w-100 pt-3 px-4 btn btn-outline-default rounded-2 mb-2">
                <i class="far fa-2xl fa-save"></i><br>
                <span class="small">Save sale</span>
            </a>
        </div>
        <div class="flex-fill">
            <a href="#" class="w-100 pt-3 px-4 btn btn-outline-default rounded-2 mb-2">
                <i class="fas fa-2xl fa-sync-alt"></i><br>
                <span class="small">Return</span>
            </a>
        </div>
        <div class="flex-fill min-w-350px">
            <a href="#" class="w-100 pt-2 px-4 btn btn-success rounded-2 mb-2">
                {% comment %} <i class="bi bi-send-check fa-lg"></i><br> {% endcomment %}
                <div class="display-7">F3</div>
                <span class="small">Payment</span>
            </a>
        </div>
    </div>
    <div class="d-flex flex-nowrap flex-shrink-0 gap-2 btn-group px-4 mb-3">
        <div class="flex-fill">
            <a href="#" class="w-100 pt-3 px-4 btn btn-outline-default rounded-2 mb-2">
                <i class="fas fa-2xl fa-lock"></i><br>
                <span class="small">Lock</span>
            </a>
        </div>
        <div class="flex-fill">
            <a href="#" class="w-100 pt-3 px-4 btn btn-outline-default rounded-2 mb-2">
                <i class="fas fa-2xl fa-exchange-alt"></i><br>
                <span class="small">Transfer</span>
            </a>
        </div>
        <div class="flex-fill">
            <a href="#" class="w-100 pt-3 px-4 btn btn-danger rounded-2 mb-2">
                <i class="fas fa-2xl fa-trash"></i><br>
                <span class="small">Void</span>
            </a>
        </div>
        <div class="flex-fill">
            <a 
            href="#mainMenuModal" data-bs-toggle="modal" 
            class="w-100 py-3 px-4 btn btn-outline-default rounded-2 mb-2">
                <i class="fas fa-2x fa-ellipsis"></i>
            </a>
        </div>
    </div>
        {% comment %} DESKTOP-H79AUGO\Hi
        Ikg5039999 {% endcomment %}
        
        </div>
    <div class="pos-sidebar-body tab-content" data-scrollbar="true" data-height="100%">
        {% include 'pos/orders/active-order.html' %}
        {% include 'pos/orders/order-list.html' %}
    </div>
    <!-- ORDER CALCULATIONS -->
    {% comment %} <div id="order-calculations">
    {% include 'pos/orders/order-calculations.html' %}
    <div> {% endcomment %}
</div>