{% load static %}
<div class="h-100 d-flex flex-column p-0" id="orders-detail">
    <div class="pos-sidebar-header">
        <div class="back-btn">
            <button type="button" data-toggle-class="pos-mobile-sidebar-toggled"
                data-toggle-target="#pos" class="btn">
            <i class="bi bi-chevron-left"></i>
            </button>
        </div>
        <div class="icon">
            {% comment %} <img src="{% static 'hud/img/pos/icon-table-black.svg' %}" class="invert-dark"alt> {% endcomment %}
            <img src="{% static 'app/img/user/customer.png' %}" class="invert-dark"alt>
        </div>
        {% comment %} <div class="title">Table 01</div> {% endcomment %}
        <div class="title">{{ active_order.customer.name }}</div>||
        <div class="order"><b>{{ active_order.number }}</b></div>
    </div>
    <div class="pos-sidebar-nav">
        <ul class="nav nav-tabs nav-fill">
            <li class="nav-item">
                <a class="nav-link active" href="#" data-bs-toggle="tab"
                    data-bs-target="#active-order-tab-{{ active_order.id }}">Order # ({{ active_order.id }})</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-bs-toggle="tab"

                    data-bs-target="#orderHistoryTab">Order List ({{ orders.count }})</a>
            </li>
        </ul>
    </div>
    {% include 'pos/orders/detail/payment-types.html' %}
    <hr />
    <div class="d-flex flex-wrap gap-1 btn-group px-2 mt-2 top-3">
        <div class="d-flex align-items-center">
            <a href="#" class="btn btn-outline-default rounded-2 w-175px me-2 mb-2">
                <i class="bi bi-send-check fa-lg"></i><br>
                <span class="small">Submit Order</span>
            </a>
        </div>
        <div>
            <a href="#" class="btn btn-outline-theme rounded-2 w-175px me-2 mb-2">
                <i class="bi bi-send-check fa-lg"></i><br>
                <span class="small">Submit Order</span>
            </a>
        </div>
        <div>
            <a href="#" class="btn btn-outline-theme rounded-2 w-175px me-2 mb-2">
                <i class="bi bi-send-check fa-lg"></i><br>
                <span class="small">Submit Order</span>
            </a>
        </div>
        <div>
            <a href="#" class="btn btn-outline-theme rounded-2 w-175px me-2 mb-2">
                <i class="bi bi-send-check fa-lg"></i><br>
                <span class="small">Submit Order</span>
            </a>
        </div>
        <div>
            <a href="#" class="btn btn-outline-theme rounded-2 w-175px me-2 mb-2">
                <i class="bi bi-send-check fa-lg"></i><br>
                <span class="small">Submit Order</span>
            </a>
        </div>
        <div>
            <a href="#" class="btn btn-outline-theme rounded-2 flex-1 w-175px me-2 mb-2">
                <i class="bi bi-send-check fa-lg"></i><br>
                <span class="small">Submit Order</span>
            </a>
        </div>
        <div>
            <a href="#" class="btn btn-outline-theme rounded-2 flex-1 w-175px me-2 mb-2">
                <i class="bi bi-send-check fa-lg"></i><br>
                <span class="small">Submit Order</span>
            </a>
        </div>
        <div>
            <a href="#" class="btn btn-outline-theme rounded-2 flex-1 w-175px me-2 mb-2">
                <i class="bi bi-send-check fa-lg"></i><br>
                <span class="small">Submit Order</span>
            </a>
        </div>
        <div>
            <a href="#" class="btn btn-outline-theme rounded-2 flex-1 w-175px me-2 mb-2">
                <i class="bi bi-send-check fa-lg"></i><br>
                <span class="small">Submit Order</span>
            </a>
        </div>
        <div>
            <a href="#" class="btn btn-outline-theme rounded-2 flex-1 w-175px me-2 mb-2">
                <i class="bi bi-send-check fa-lg"></i><br>
                <span class="small">Submit Order</span>
            </a>
        </div>
        <div>
            <a href="#" class="btn btn-outline-theme rounded-2 flex-1 w-350px me-2 mb-2">
                {% comment %} <i class="bi bi-send-check fa-lg"></i><br> {% endcomment %}
                <div class="small">F3</div>
                <span class="small">Payment</span>
            </a>
        </div>
        <div>
            <a href="#" class="btn btn-outline-theme rounded-2 flex-1 w-175px me-2 mb-2">
                <i class="bi bi-send-check fa-lg"></i><br>
                <span class="small">Submit Order</span>
            </a>
        </div>
        <div>
            <a href="#" class="btn btn-outline-theme rounded-2 flex-1 w-175px me-2 mb-2">
                <i class="bi bi-send-check fa-lg"></i><br>
                <span class="small">Submit Order</span>
            </a>
        </div>
        <div>
            <a href="#" class="btn btn-outline-theme rounded-2 flex-1 me-2 mb-2" style="width:125px;">
                <i class="bi bi-send-check fa-lg"></i><br>
                <span class="small">Submit Order</span>
            </a>
        </div>
        
        </div>
    <div class="pos-sidebar-body tab-content" data-scrollbar="true" data-height="100%">
        {% include 'pos/orders/active-order.html' %}
        {% include 'pos/orders/order-list.html' %}
    </div>
    <!-- ORDER CALCULATIONS -->
    {% comment %} <div id="order-calculations">
    {% include 'pos/orders/order-calculations.html' %}
    <div> {% endcomment %}
</div>