{% load static %}
<div class="h-100 d-flex flex-column p-0" id="orders-detail">
    <div class="pos-sidebar-header">
        <div class="back-btn">
            <button type="button" data-toggle-class="pos-mobile-sidebar-toggled"
                data-toggle-target="#pos" class="btn">
            <i class="bi bi-chevron-left"></i>
            </button>
        </div>
        <div class="icon">
            {% comment %} <img src="{% static 'hud/img/pos/icon-table-black.svg' %}" class="invert-dark"alt> {% endcomment %}
            <img src="{% static 'app/img/user/customer.png' %}" class="invert-dark"alt>
        </div>
        {% comment %} <div class="title">Table 01</div> {% endcomment %}
        <div class="title">{{ active_order.customer.name }}</div>||
        <div class="order"><b>{{ active_order.number }}</b></div>
    </div>
    <div class="pos-sidebar-nav">
        <ul class="nav nav-tabs nav-fill">
            <li class="nav-item">
                <a class="nav-link active" href="#" data-bs-toggle="tab"
                    data-bs-target="#active-order-tab-{{ active_order.id }}">Order # ({{ active_order.id }})</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-bs-toggle="tab"

                    data-bs-target="#orderHistoryTab">Order List ({{ orders.count }})</a>
            </li>
        </ul>
    </div>
    <div class="d-flex flex-nowrap flex-shrink-0 gap-2 btn-group px-4 mt-2 top-3">
        <div class="flex-fill">
            <a href="#" class="w-100 pt-3 px-4 btn btn-outline-default border-0 mb-2 text-white">
                <i class="fas fa-2xl fa-percent"></i><br>
                <span class="small">Discount</span>
            </a>
        </div>
        <div class="flex-fill">
            <a href="#" class="w-100 pt-3 px-4 btn btn-outline-default rounded-2 mb-2 text-white">
                <i class="far fa-2xl fa-comment-alt"></i><br>
                <span class="small">Comment</span>
            </a>
        </div>
        <div class="flex-fill">
            <a href="#" class="w-100 pt-3 px-4 btn btn-outline-default rounded-2 mb-2 text-white">
                <i class="far fa-2xl fa-user"></i><br>
                <span class="small mt-2">{{ active_order.customer.name }}</span>
            </a>
        </div>
        <div class="flex-fill">
            <a href="#" class="w-100 pt-3 px-4 btn btn-outline-default rounded-2 mb-2 text-white">
                <i class="fas fa-2xl fa-fax"></i><br>
                <span class="small">Cash drawer</span>
            </a>
        </div>
    </div>
    <hr />
    {% include 'pos/orders/detail/payment-types.html' %}
    <div class="flex-fill d-flex justify-content-start ps-2 my-4">
        <div class="d-flex align-items-center justify-content-center bg-transparent" id="drag-handle">
            <i class="fas fa-2xl fa-ellipsis-v"></i>
        </div>
    </div>
    <hr />
    <div class="d-flex flex-nowrap flex-shrink-0 gap-2 btn-group px-4 mt-2 top-3">
        <div class="flex-fill">
            <a href="#" class="w-100 pt-3 px-4 btn btn-outline-default rounded-2 mb-2 text-white">
                <i class="fas fa-2xl fa-percent"></i><br>
                <span class="small">Discount</span>
            </a>
        </div>
        <div class="flex-fill">
            <a href="#" class="w-100 pt-3 px-4 btn btn-outline-default rounded-2 mb-2 text-white">
                <i class="far fa-2xl fa-comment-alt"></i><br>
                <span class="small">Comment</span>
            </a>
        </div>
        <div class="flex-fill">
            <a href="#" class="w-100 pt-3 px-4 btn btn-outline-default rounded-2 mb-2 text-white">
                <i class="far fa-2xl fa-user"></i><br>
                <span class="small mt-2">{{ active_order.customer.name }}</span>
            </a>
        </div>
        <div class="flex-fill">
            <a href="#" class="w-100 pt-3 px-4 btn btn-outline-default rounded-2 mb-2 text-white">
                <i class="fas fa-2xl fa-fax"></i><br>
                <span class="small">Cash drawer</span>
            </a>
        </div>
    </div>
    <div class="d-flex flex-nowrap flex-shrink-0 gap-2 btn-group px-4 mt-2 top-3">
        <div class="flex-fill">
            <a href="#" class="w-100 pt-3 px-4 btn btn-outline-default rounded-2 mb-2 text-white">
                <i class="far fa-2xl fa-save"></i><br>
                <span class="small">Save sale</span>
            </a>
        </div>
        <div class="flex-fill">
            <a href="#" class="w-100 pt-3 px-4 btn btn-outline-default rounded-2 mb-2 text-white">
                <i class="fas fa-2xl fa-sync-alt"></i><br>
                <span class="small">Return</span>
            </a>
        </div>
        <div class="flex-fill min-w-350px">
            <a href="#" class="w-100 pt-2 px-4 btn btn-success rounded-2 mb-2">
                {% comment %} <i class="bi bi-send-check fa-lg"></i><br> {% endcomment %}
                <div class="h5">F3</div>
                <span class="small">Payment</span>
            </a>
        </div>
    </div>
    <div class="d-flex flex-nowrap flex-shrink-0 gap-2 btn-group px-4 mt-2 top-3">
        <div class="flex-fill">
            <a href="#" class="w-100 pt-3 px-4 btn btn-outline-default rounded-2 mb-2 text-white">
                <i class="fas fa-2xl fa-lock"></i><br>
                <span class="small">Lock</span>
            </a>
        </div>
        <div class="flex-fill">
            <a href="#" class="w-100 pt-3 px-4 btn btn-outline-default rounded-2 mb-2 text-white">
                <i class="fas fa-2xl fa-exchange-alt"></i><br>
                <span class="small">Transfer</span>
            </a>
        </div>
        <div class="flex-fill">
            <a href="#" class="w-100 pt-3 px-4 btn btn-danger rounded-2 mb-2">
                <i class="fas fa-2xl fa-trash"></i><br>
                <span class="small">Void</span>
            </a>
        </div>
        <div class="flex-fill">
            <a href="#" class="w-100 py-3 px-4 btn btn-outline-default rounded-2 mb-2 text-white">
                <i class="fas fa-2x fa-ellipsis"></i>
            </a>
        </div>
    </div>
        
        
        </div>
    <div class="pos-sidebar-body tab-content" data-scrollbar="true" data-height="100%">
        {% include 'pos/orders/active-order.html' %}
        {% include 'pos/orders/order-list.html' %}
    </div>
    <!-- ORDER CALCULATIONS -->
    {% comment %} <div id="order-calculations">
    {% include 'pos/orders/order-calculations.html' %}
    <div> {% endcomment %}
</div>