<div class="gx-4" id="add-document-items-detail">
    <input type="hidden" name="added-products" id="added-products" value="2,4,12" />
	{% comment %} {{ form.as_p}} {% endcomment %}
	<div class="card-body text-inverse h-400px overflow-auto border-bottom">
		<table class="table table-hover">
			<thead class="bg-inverse bg-opacity-10">
				<tr>
					<th class="pt-3 pb-2">
						<div class="form-check">
							<input type="checkbox" class="form-check-input" id="product1">
							<label class="form-check-label" for="product1"></label>
						</div>
					</th>
					<th class="pt-3 pb-2">Product</th>
					<th class="pt-3 pb-2">Detail</th>
					<th class="pt-3 pb-2">Subtotal</th>
					<th class="pt-3 pb-2">Actiona</th>

				</tr>
			</thead>
			<tbody id="add-document-item-to-table">
			</tbody>
		</table>
	</div>
	<div class="card-header bg-none d-flex p-3">
		<a href="#" class="btn btn-outline-default" data-bs-dismiss="modal"
		_="on click
			remove #new-document-tab
			remove #mgt-new-document
			add .active to #view-document-tab
			add .active to #mgt-documents-view-list
			add .show to #mgt-documents-view-list
			end
			"
		>Cancel</a>
		<button class="btn btn-outline-theme" data-bs-dismiss="modal"
		hx-get="{% url 'mgt:add-document' %}"
		hx-target=""
		>Next</button>
		<a href="#" class="btn btn-outline-theme ms-auto">Mark as paid</a>
	</div>
</div>