
    <form method="post" 
    {% if product and product.id %}
    action="{% url 'mgt:update-product' product.id %}"
    {% else %}
    action="{% url 'mgt:add-product' %}"
    {% endif %}
    enctype="multipart/form-data"
    class="modal-dialog modal-right">
    {% csrf_token %}
        <div 
        class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body overflow-y-auto" style="height: 80vh;">
                <div class="mb-3">
                    <ul class="nav nav-tabs d-flex align-content-center nav-tabs-v2 ps-2 pe-2">
                        <li class="nav-item me-3"><a href="#add-product-details" class="nav-link w-125px active" data-bs-toggle="tab">Details</a></li>
                        <li class="nav-item me-3"><a href="#add-product-price-and-tax" class="nav-link w-125px" data-bs-toggle="tab">Price & Tax</a></li>
                        <li class="nav-item me-3"><a href="#add-product-stock-control" class="nav-link w-125px" data-bs-toggle="tab">Stock control</a></li>
                        <li class="nav-item me-3"><a href="#add-product-print-stations" class="nav-link w-125px" data-bs-toggle="tab">Print stations</a></li>
                        <li class="nav-item me-3"><a href="#add-product-comments" class="nav-link w-125px" data-bs-toggle="tab">Comments</a></li>
                        <li class="nav-item me-3"><a href="#add-product-image-and-color" class="nav-link w-125px" data-bs-toggle="tab">Image & color</a></li>
                    </ul>
                    <div 
                    
                    class="tab-content pt-3">
                        {% include 'mgt/tabs/add-product/details.html' %}
                        {% include 'mgt/tabs/add-product/price-and-tax.html' %}
                        {% include 'mgt/tabs/add-product/stock-control.html' %}
                        {% include 'mgt/tabs/add-product/print-stations.html' %}
                        {% include 'mgt/tabs/add-product/comments.html' %}
                        {% include 'mgt/tabs/add-product/image-and-color.html' %}
                    {% comment %} <div class="tab-pane fade" id="dropdown2">...</div> {% endcomment %}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-outline-default" data-bs-dismiss="modal">Cancel</a>
                <button type="submit"  class="btn btn-outline-theme">Submit</button>
            </div>
        </div>
    </form>
