{% extends 'base.html' %}
{% load static widget_tweaks %}

{% block content %}
<div id="content" class="app-content p-0">
<!-- NEW-->

<!-- old-->
	<div class="row h-100">
		<div class=" col-md-4">
			<div class="desktop-sticky-top d-none d-lg-block">
				<div class="card mb-3">
					{% include 'mgt/products/price-tags/partials/price-tag-form.html' %}
					<div class="card-arrow">
						<div class="card-arrow-top-left"></div>
						<div class="card-arrow-top-right"></div>
						<div class="card-arrow-bottom-left"></div>
						<div class="card-arrow-bottom-right"></div>
					</div>
				</div>
			</div>
		</div>
		<div class=" col-md-8">
			<div data-scrollbar="true" data-height="100%">
				<div class="gallery-content">
				
				<div class="gallery">
						<div class="mb-3 ">
							<div class="text-center">
								<div class="m-5" id="price-tag-sample">
									{{ main_tag.html|safe}} 
								</div>
							</div>
						</div>
					</div>
				<div class="gallery">
						<div class="d-flex align-items-center mb-3">
							<div class="flex-1 gallery-title mb-0">
								<a href="#">
									Price tags for all products <i class="fa fa-chevron-right"></i>
									<small>{{ products.count }} Products</small>
								</a>
							</div>
							<div class="ms-auto btn-group">
								<a href="#" class="btn btn-outline-default btn-sm"><i
										class="fa fa-play"></i></a>
								<a href="#" class="btn btn-outline-default btn-sm"><i
										class="fa fa-plus"></i></a>
								<a href="#" class="btn btn-outline-default btn-sm"><i
										class="fa fa-upload"></i></a>
							</div>
						</div>
						<div class="row flex-1 gap-3">
							{% for tag in tags %}
							<div class="col text-center">
								<div class="card">
									<div class="m-1 bg-inverse bg-opacity-15">
										<div class="card-header fw-bold border-0">{{ tag.product.name }}</div>
										{{ tag.html|safe}} 
										<div class="list-group list-group-flush">
											<div class="list-group-item d-flex h-30px align-items-center justify-content-center">
												<input type="checkbox" class="form-check-input" /> 
											</div>
										</div>
									</div>
									<!-- card-arrow -->
									<div class="card-arrow">
										<div class="card-arrow-top-left"></div>
										<div class="card-arrow-top-right"></div>
										<div class="card-arrow-bottom-left"></div>
										<div class="card-arrow-bottom-right"></div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div> 
			</div>
		</div>
	</div>
</div>


{% endblock content %}
{% block additional_js %}



{% endblock additional_js %}