<div class="input-group flex-nowrap menu-item dropdown dropdown-mobile-full "
 
>
    {% comment %} <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="btnradio1">Radio 1</label>
      
        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio2">Radio 2</label>
      
        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio3">Radio 3</label>
      </div> {% endcomment %}
    <span class="input-group-text border-0 bg-transparent fs-20px" id="addon-wrapping"
    >
    {% comment %} hx-get="{% url 'pos:focus-input' %}"
    hx-trigger="every 10s"
    hx-target="#barcode-input" {% endcomment %}
    <div class="">
      <a href="#" class="pt-3 btn btn-outline-gray-100" 
          data-bs-toggle="modal" data-bs-target="#modalPosSearchModal"
              hx-get="{% url 'pos:pos-modal-search' %}" hx-target="#modalPosSearchModal"
          >
          <i class="fas fa-2xl fa-search"></i><br>
          <span class="small"></span>
          Search
      </a>
  </div>
    </span>
    <input
    id="barcode-input"
    hx-post="{% url 'pos:add-item' %}" 
    hx-trigger="keyup[keyCode==13]" type="text"
    hx-on:focus-input="console.log('REACHED!!!');"
    autofocus
    hx-target="#standard-pos-container"
    data-bs-toggle="dropdown"
    data-bs-display="static"
    autocomplete="off"
    name="barcode" 
    class="form-control form-control-lg active position-relative border-0 bg-transparent" 
    
    placeholder="Search for barcodes..">
    {% comment %} hx-target="#orders-detail" {% endcomment %}
    {% comment %} <span class="input-group-text border-0 bg-transparent"
    data-bs-toggle="modal" data-bs-target="#barcode-search-result"
    ><i class="fas fa-lg fa-fw me-2 fa-keyboard"></i></span> {% endcomment %}
    
    
    <div class="dropdown-menu mt-1 w-100 fs-11px pt-1 bg-theme-dark z-3">
      <h6 class="dropdown-header fs-10px mb-1">NOTIFICATIONS</h6>
      <div class="dropdown-divider mt-1"></div>
      <a href="#" class="d-flex align-items-center py-10px dropdown-item text-wrap fw-semibold">
        <div class="fs-20px">
          <i class="bi bi-bag text-theme"></i>
        </div>
        <div class="flex-1 flex-wrap ps-3">
          <div class="mb-1 text-inverse">NEW ORDER RECEIVED ($1,299)</div>
          <div class="small text-inverse text-opacity-50">JUST NOW</div>
        </div>
        <div class="ps-2 fs-16px">
          <i class="bi bi-chevron-right"></i>
        </div>
      </a>
      <a href="#" class="d-flex align-items-center py-10px dropdown-item text-wrap fw-semibold">
        <div class="fs-20px w-20px">
          <i class="bi bi-person-circle text-theme"></i>
        </div>
        <div class="flex-1 flex-wrap ps-3">
          <div class="mb-1 text-inverse">3 NEW ACCOUNT CREATED</div>
          <div class="small text-inverse text-opacity-50">2 MINUTES AGO</div>
        </div>
        <div class="ps-2 fs-16px">
          <i class="bi bi-chevron-right"></i>
        </div>
      </a>
      <a href="#" class="d-flex align-items-center py-10px dropdown-item text-wrap fw-semibold">
        <div class="fs-20px w-20px">
          <i class="bi bi-gear text-theme"></i>
        </div>
        <div class="flex-1 flex-wrap ps-3">
          <div class="mb-1 text-inverse">SETUP COMPLETED</div>
          <div class="small text-inverse text-opacity-50">3 MINUTES AGO</div>
        </div>
        <div class="ps-2 fs-16px">
          <i class="bi bi-chevron-right"></i>
        </div>
      </a>
      <a href="#" class="d-flex align-items-center py-10px dropdown-item text-wrap fw-semibold">
        <div class="fs-20px w-20px">
          <i class="bi bi-grid text-theme"></i>
        </div>
        <div class="flex-1 flex-wrap ps-3">
          <div class="mb-1 text-inverse">WIDGET INSTALLATION DONE</div>
          <div class="small text-inverse text-opacity-50">5 MINUTES AGO</div>
        </div>
        <div class="ps-2 fs-16px">
          <i class="bi bi-chevron-right"></i>
        </div>
      </a>
      <a href="#" class="d-flex align-items-center py-10px dropdown-item text-wrap fw-semibold"
      style="z-index: 250;"
      >
        <div class="fs-20px w-20px">
          <i class="bi bi-credit-card text-theme"></i>
        </div>
        <div class="flex-1 flex-wrap ps-3">
          <div class="mb-1 text-inverse">PAYMENT METHOD ENABLED</div>
          <div class="small text-inverse text-opacity-50">10 MINUTES AGO</div>
        </div>
        <div class="ps-2 fs-16px">
          <i class="bi bi-chevron-right"></i>
        </div>
      </a>
      <hr class="my-0">
      <div class="py-10px mb-n2 text-center">
        <a href="#" class="text-decoration-none fw-bold">SEE ALL</a>
      </div>
    </div>
</div>
