
<div class="row align-items-center text-uppercase">
    <div id="detail-{{ item.number }}" class="col-lg-5 m-0 row">
        <div class="col-xl-9 col-3 d-flex align-items-center">
            Products
        </div>
        <div class="col-lg-3 py-2 ps-lg-2 text-start">
            Price
        </div>
    </div>
    <div class="col-xl-2 col-2 ps-lg-2 text-start">
        Quantity
    </div>
    <div class="col-lg-3 text-center">
        Total
    </div>
    <div class="col-lg-2 m-0 text-end"></div>
</div>