
<div class="row align-items-center border-bottom pb-2">
    <div class="col-lg-4 d-flex align-items-center py-2 fs-5">
        Order: {{ active_order.number }}
    </div>
    <div class="col-lg-4 d-flex align-items-center py-2 fs-5">
        Customer: {{ active_order.customer }}
    </div>
    <c-buttons.order_status />
    
        {% comment %} <c-forms.order_status /> {% endcomment %}

</div>
<div class="row align-items-center text-uppercase">
    <div id="detail-{{ item.number }}" class="col-lg-5 m-0 row">
        <div class="col-xl-9 col-3 d-flex align-items-center">
            Products
        </div>
        <div class="col-lg-3 py-2 ps-lg-2 text-start">
            Price
        </div>
    </div>
    <div class="col-xl-2 col-2 ps-lg-2 text-start">
        Quantity
    </div>
    <div class="col-lg-3 text-center">
        Total
    </div>
    <div class="col-lg-2 m-0 text-end"></div>
</div>