<div id="orderitem-{{ item.number }}" 
class="row mx-0 px-3 mb-2 py-2 align-items-center border-bottom orderitem bg-opacity-20"
hx-swap-oob="{{ oob }}"
>
    <div id="detail-{{ item.number }}" class="col-lg-6 m-0 row"
    hx-on:click="
    const input = htmx.find('#selected-item');
    const detail = htmx.find('#orderitem-{{ item.number }}');
    const calculatorBtn = htmx.find('#calculator-{{ item.number }}')
    const selected = detail.classList.contains('bg-theme');
    htmx.findAll('.orderitem').forEach(el => el.classList.remove('bg-theme'));
    htmx.findAll('.calculator-btn').forEach(el => el.classList.add('d-none'));
    selected 
    ? (input.value = '', calculatorBtn.classList.add('d-none'))
    : (detail.classList.add('bg-theme'), input.value = '{{ item.number }}', calculatorBtn.classList.toggle('d-none'));
    "
    >
        <div class="col-xl-9 col-3 d-flex align-items-center">
            <div class="h-40px w-40px d-flex align-items-center justify-content-center position-relative bg-white p-1">
                <img src="{{ item.product_image }}" alt="" class="mw-100 mh-100">
                <span class="w-20px h-20px p-0 d-flex align-items-center justify-content-center badge bg-theme text-theme-color position-absolute end-0 top-0 fw-bold fs-12px rounded-pill mt-n2 me-n2">{{ item.quantity }}</span>
            </div>
            <div class="ps-3 flex-1">
                <div><a href="#" class="text-decoration-none text-inverse">{{ item.product_name }}</a></div>
                <div class="text-inverse text-opacity-50 small d-none d-xl-block">
                    {{ item.number }}
                </div>
            </div>
        </div>
        <div class="col-lg-3 m-0 ps-lg-2 text-start">
            {{ item.currency }} {{ item.price|floatformat:'0' }}
        </div>
    </div>
    
    <div class="col-xl-2 col-2 m-0 ps-lg-2 text-start">
        <c-forms.quantity id="qty-input-{{ item.number }}" />
    </div>
    <div class="col-lg-2 m-0 text-start">
        {{ item.currency }} {{ item.item_total|floatformat:'0' }}
    </div>
    <div class="col-lg-2 m-0 text-end">
        <c-orders.actions />
    </div>
</div>