<div id="orderitem-{{ item.number }}" class="row mx-0 ps-3 pe-2 align-items-center"
hx-swap-oob="{{ oob }}"
>
    <div class="col-lg-4 d-flex align-items-center">
        <div class="h-40px w-40px d-flex align-items-center justify-content-center position-relative bg-white p-1">
            <img src="{{ item.product.img }}" alt="" class="mw-100 mh-100">
            <span class="w-20px h-20px p-0 d-flex align-items-center justify-content-center badge bg-theme text-theme-color position-absolute end-0 top-0 fw-bold fs-12px rounded-pill mt-n2 me-n2">{{ item.quantity }}</span>
        </div>
        <div class="ps-3 flex-1">
            <div><a href="#" class="text-decoration-none text-inverse">{{ item.product.name }}</a></div>
            <div class="text-inverse text-opacity-50 small">
                {{ item.number }}
            </div>
        </div>
    </div>
    <div class="col-lg-2 m-0 ps-lg-3">
        {{ order.currency }} {{ item.price|floatformat:'0' }}
    </div>
    <div class="col-lg-2 m-0 ps-lg-3">
        <c-forms.quantity id="qty-input-{{ item.number }}" />
    </div>
    <div class="col-lg-2 m-0 text-end">
        {{ order.currency }} {{ item.item_total|floatformat:'0' }}
    </div>
    <div class="col-lg-2 m-0 text-end">
        <div class="btn-group btn-group-md">
            <button type="button" class="btn" 
                hx-get="{% url 'pos:modal-product' item.number %}" 
                hx-target="#modalPosItem" 
                hx-trigger="click"
                data-bs-target="#modalPosItem"
                data-bs-toggle="modal"
            >
                <i class="fas fa-lg fa-fw me-1 fa-edit"></i>
            </button>
            <button type="button" class="btn" 
            hx-delete="{% url 'pos:delete-order-item' item.number %}"
            hx-target="#calculations-{{ order.number }}"
            hx-swap="innerHTML"
            hx-on:delete-order-item="htmx.find('#order-{{ item.number }}').remove()"
            hx-on::before-request="htmx.find('#order-{{ item.number }}').classList.add('d-none');
                console.log(event.detail.successful)
            
            "
            hx-on::after-request="
            htmx.find('#order-{{ item.number }}').classList.remove('d-none');
            if (!event.detail.successful) {
                console.log(event.detail.successful)
                const errorSpan = document.createElement('span');
                console.log(errorSpan)
                errorSpan.textContent = 'Failed to remove item!';
                errorSpan.classList.add('text-danger');
                htmx.find('#order-{{ item.number }}').appendChild(errorSpan);
            }
            "
            >
                <i class="fas fa-lg fa-fw me-1 fa-trash text-danger"></i>
            </button>
            {% comment %} data-bs-target="#modalAddDocumentProduct" 
            hx-target="#modalAddDocumentProduct" 
            data-bs-toggle="modal" {% endcomment %}
        </div>
    </div>
    <hr class="my-2">
</div>