<!-- BEGIN #modalEdit -->
<div class="modal-dialog modal-xl">
	<div class="modal-content">
		<div class="card ">
			<div class="modal-header border-bottom">
				<h5 class="modal-title">Payment for {{ active_order.number }}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body py-0">
				<div class="row">
					<div class="col-4">
						<label class="form-label">Items</label>
						{% include 'pos/payment/partials/modal-items.html' %}
					</div>
					<div class="col-2 border-start py-3">
						<label class="form-label">Payment types</label>
						{% include 'components/payment/payment-types.html' %}
					</div>
					<div class="col-6 alert bg-inverse bg-opacity-10 border-0">
						{% include 'pos/payment/partials/top-buttons.html' %}
						<hr />
						<div class="mb-5">
							{% include 'pos/standard/order/calculations.html' %}
						</div>
						<div class="mb-3">
							<form id="order-payment">
								{% include 'pos/payment/partials/paid-input.html' %}
								{% include 'pos/payment/partials/change.html' %}
							<hr />
								{% include 'pos/payment/partials/note-input.html' %}
							</form>
						</div>
							
					</div>
				</div>
			</div>
			<hr class="my-0" />
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-default" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-outline-theme"
					data-bs-dismiss="modal"
					hx-post="{% url 'payments:save-payment' active_order.number %}"
					hx-target="#payment-success"
					hx-include="#payment-amount"
					>Save changes</button>
			</div>
			{% include 'components/card-arrow.html' %}
		</div>
	</div>
</div>
<!-- END #modalEdit -->
<script>
	// Function to increase the input value
	// Function to increase the input value
	
	var decreaseBtn = document.getElementById('decrease-modal-qty')
	var increaseBtn = document.getElementById('increase-modal-qty')
	increaseBtn.addEventListener("click", function () {
		var qtyInput = document.getElementById('input-modal-qty');
		var value = parseInt(qtyInput.value, 10);
		value++;
		qtyInput.value = value
	});
	decreaseBtn.addEventListener("click", function () {
		var qtyInput = document.getElementById('input-modal-qty');
		var value = parseInt(qtyInput.value, 10);
		value--;
		qtyInput.value = value
	});
	
</script>