{% load static %}
<ul class="nav nav-tabs border-0" id="mgt-documents-view-navlink" hx-swap-oob="true">
    <li class="nav-item me-1">
        <a href="#mgt-documents-view-list" 
            class="nav-link px-4" 
            data-bs-toggle="tab"
            id="view-document-tab"
            >View list</a>
    </li>
    {% for nav_item in nav_items %}
    <li class="nav-item me-1" id="add-new-document-tab">
        <a href="#mgt-new-document" class="nav-link active" data-bs-toggle="tab"
        id="new-document-tab"
        >New document
    <button class="btn btn-sm btn-outline-theme"
    _="on click
                    remove #new-document-tab
                    remove #mgt-new-document
                    add .active to #view-document-tab
                    add .active to #mgt-documents-view-list
                    add .show to #mgt-documents-view-list
                    end
                    "
    >X</button>
    </a>
    </li>
    {% endfor %}
</ul>


<div class="p-0 tab-pane fade show active" id="mgt-new-document">
    
    <div id="add-new-document-form">
        <div class="file-manager h-100">
            <div class="row gap-2 p-4">
                <div class="col-4 form-group row">
                    <label for="staticEmail" class="col-sm-5 col-form-label">{{ form.number.label }}</label>
                    <div class="col-sm-7">
                        {{ form.number }}
                    </div>
                </div>
                <div class="col-4 form-group row">
                    <label for="staticEmail" class="col-sm-4 col-form-label text-end">{{ form.customer.label }}</label>
                    <div class="col-sm-8">
                        {{ form.customer }}
                    </div>
                </div>
                <div class="col-4 form-group row">
                    <label for="staticEmail" class="col-sm-4 col-form-label text-end">{{ form.date.label }}</label>
                    <div class="col-sm-8">
                        {{ form.date }}
                    </div>
                </div>
                <div class="col-4 form-group row">
                    <label for="staticEmail" class="col-sm-5 col-form-label">{{ form.reference_document_number.label }}</label>
                    <div class="col-sm-7">
                        {{ form.reference_document_number }}
                    </div>
                </div>
                <div class="col-4 form-group row">
                    <label for="staticEmail" class="col-sm-4 col-form-label text-end">{{ form.due_date.label }}</label>
                    <div class="col-sm-8">
                        {{ form.due_date }}
                    </div>
                </div>
                <div class="col-4 form-group row">
                    <label for="staticEmail" class="col-sm-4 col-form-label text-end">{{ form.stock_date.label }}</label>
                    <div class="col-sm-8">
                        {{ form.stock_date }}
                    </div>
                </div>
                <div class="col-4 form-check form-switch">
                    {{ form.paid_status }}
                    <label class="form-check-label" for="customSwitch1">{{ form.paid_status.label }}</label>
                </div>
            </div>
            
                <div class="p-0 flex-1">
                    <div class="file-manager pb-0">
                        <div class="file-manager-toolbar border-start ps-2 pb-0">
                            <ul class="nav nav-tabs border-0">
                                <li class="nav-item me-1"><a href="#document-items" class="nav-link" data-bs-toggle="tab">Document items</a></li>
                                <li class="nav-item me-1"><a href="#document-payment" class="nav-link" data-bs-toggle="tab">Payment</a></li>
                                <li class="nav-item me-1"><a href="#document-details" class="nav-link active" data-bs-toggle="tab">Details</a></li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade" id="document-items">
                                <div class="row" style="min-height: 45vh;">
                                    <div class="col-sm-3 h-100">
                                        <div class="file-manager-sidebar-content">
                                            <div data-scrollbar="true" data-height="100%" class="p-3">
                                            <input type="hidden" id="document-type" name="document-type" value="{{ document_type.id }}" />
                                                
                                                    <div class="input-group flex-nowrap">
                                                        sa
                                                        <button 
                                                            class="btn btn-outline-default dropdown-toggle" 
                                                            type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                            <span class="d-none d-md-inline">ABC</span>
                                                            <span class="d-inline d-md-none"><i class="fa fa-check"></i></span>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-end" style="">
                                                            <a class="dropdown-item" href="#">Action</a>
                                                            <a class="dropdown-item" href="#">Another action</a>
                                                            <a class="dropdown-item" href="#">Something else here</a>
                                                            <div role="separator" class="dropdown-divider"></div>
                                                            <a class="dropdown-item" href="#">Separated link</a>
                                                        </div>
                                                        <input type="text" class="form-control form-control-sm" placeholder="Username">
                                                        <span class="input-group-text">.com</span>
                                                    </div>
                                                
                                                <div class="d-flex">
                                                <select 
                                                    name="product-filter-type" 
                                                    class="form-select form-select-sm w-80px"
                                                    id="product-filter-type" 
                                                    >
                                                    <option>###</option>
                                                    <option>abc</option>
                                                    <option>123</option>
                                                <select>
                                                <input 
                                                type="text" 
                                                class="form-control form-control-sm"
                                                name="add-doc-product-filter"
                                                hx-get="{% url 'mgt:add-doc-filter-products' %}"
                                                hx-target="#mgt-products-sidebar"
                                                hx-trigger="keyup changed delay:250ms"
                                                hx-include="#document-type"
                                                />
                                                </div>
                                                <div class="mb-3">
                                                {% include 'mgt/documents/renders/add-document-products.html' %}
                                            </div>
                                        </div>
                                        </div>
                                        
                                    </div>
                                    <div class="pt-3 pe-4 col-sm-9 border-start d-flex flex-column overflow-x-auto">
                                    {% include 'mgt/documents/renders/add-document-item-list.html' %}
                                    </div>
                                </div>
                            </div>
                        
                            <div class="tab-pane fade" id="document-payment">
                                <h6>Document payment</h6>
                            </div>
                            <div class="card border-0. h-500px tab-pane fade show active" id="document-details">
                                
                                <div class="messenger">
                                    <div class="messenger-sidebar">
                                        <div class="messenger-sidebar-header">
                                            <h3 class="mb-10px">Products</h3>
                                            <div class="position-relative">
                                                <button type="submit" class="btn text-inverse position-absolute top-0"><i
                                                    class="bi bi-search"></i></button>
                                                <input type="text" class="form-control rounded-pill ps-35px"
                                                    placeholder="Search products">
                                            </div>
                                        </div>
                                        <div class="messenger-sidebar-body ">
                                        
                                            <div data-scrollbar="true" data-height="100%" class="overflow-auto" style="height: 100%;">
                                            {% for product in products %}
                                                <div class="messenger-item p-2">
                                                    <a href="#" 
                                                        class="list-group-item list-group-item-action d-flex align-items-center text-inverse"
                                                        hx-get="{% url 'mgt:add-document-product-modal' product.id %}"
                                                        hx-target="#modalAddDocumentProduct"
                                                        hx-vals='{"document_type": {{document_type.id}}}'
                                                        data-bs-target="#modalAddDocumentProduct" data-bs-toggle="modal"

                                                        >
                                                        
                                                        <div class="p-1 w-50px h-50px bg-inverse bg-opacity-25 d-flex align-items-center justify-content-center">
                                                            <img alt="" class="mw-100 mh-100" src="{{ product.img }}">
                                                        </div>
                                                        <div class="flex-fill ps-2 d-flex align-items-center">
                                                            <div class="fw-bold flex-fill">
                                                                {{ product.name|truncatechars:20 }}
                                                            </div>
                                                        </div>
                                                        <div class="messenger-time-badge">
                                                            <div class="messenger-time">{{ product.price|floatformat:'0' }} {{product.currency.name}}</div>
                                                            <div class="messenger-badge">Stock: 2{{ product.measurement_unit }}</div>
                                                        </div>
                                                    </a>
                                                </div>
                                                {% endfor %}
                                                <div class="messenger-item">
                                                    <a href="#" data-toggle="messenger-content" class="messenger-link">
                                                        <div class="messenger-media">
                                                            <img src="{% static 'app/img/user/user-2.jpg' %}" class="mw-100 mh-100 rounded-pill"
                                                                alt>
                                                        </div>
                                                        <div class="messenger-info">
                                                            <div class="messenger-name">Roberto</div>
                                                            <div class="messenger-text">Say hello to Alice</div>
                                                        </div>
                                                        <div class="messenger-time-badge">
                                                            <div class="messenger-time">14:59</div>
                                                            <div class="messenger-badge">1</div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="messenger-content">
                                        <div class="messenger-content-body row pt-2 ps-4">
                                            <div class="col-lg-8">
                                                <div data-scrollbar="true" data-height="100%" class=" overflow-y-auto" style="height: 100%;">
                                                {% include 'mgt/documents//items/items-list.html' %}




                                                </div>
                                                
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="card mb-1">
                                                    <div class="card-header bg-none fw-bold d-flex align-items-center">Discussion group <a href="#" class="ms-auto text-muted text-decoration-none" data-toggle="card-expand"><i class="fa fa-expand"></i></a></div>
                                                    <div class="card-body p-2 bg-inverse bg-opacity-10" class=" overflow-y-auto" style="height: 100px;">
                                                        
                                                        <div class="widget-chat-item">
                                                            <div class="widget-chat-content">
                                                            <div class="widget-chat-name">Roberto Lambert</div>
                                                            <div class="widget-chat-message">
                                                                Not much, It's got a new look, contact pics show up.
                                                            </div>
                                                            <div class="widget-chat-message last">
                                                                How's crusty old iOS 6 treating you?
                                                            </div>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="card-footer bg-none">
                                                        <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="Search for...">
                                                        <button class="btn btn-outline-default" type="button"><i class="fa fa-paper-plane text-muted"></i></button>
                                                        </div>
                                                    </div>
                                                    
                                                    <!-- card-arrow -->
                                                    <div class="card-arrow">
                                                        <div class="card-arrow-top-left"></div>
                                                        <div class="card-arrow-top-right"></div>
                                                        <div class="card-arrow-bottom-left"></div>
                                                        <div class="card-arrow-bottom-right"></div>
                                                    </div>
                                                </div>
                                                <div class="card mb-1">
                                                    <div class="card-header d-flex align-items-center bg-inverse bg-opacity-10 fw-400">
                                                        Totals--------
                                                        <a href="#" class="ms-auto text-decoration-none text-inverse text-opacity-50">Edit</a>
                                                    </div>
                                                    <div class="card-body">
                                                        <table class="table table-borderless table-sm m-0">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="w-150px">Subtotal</td>
                                                                    <td class="text-end">$3,496.00</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Tax</td>
                                                                    <td class="text-end">$174.80</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Shipping Fee</td>
                                                                    <td class="text-end">$0.00</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="pb-2"><b>Total</b></td>
                                                                    <td class="text-end pb-2 text-decoration-underline"><b>$3670.80</b></td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="3">
                                                                        <hr class="m-0">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="pt-2 pb-2 text-nowrap">
                                                                        Paid by customer
                                                                    </td>
                                                                    <td class="pt-2 pb-2 text-end">$3670.80</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="card-arrow">
                                                        <div class="card-arrow-top-left"></div>
                                                        <div class="card-arrow-top-right"></div>
                                                        <div class="card-arrow-bottom-left"></div>
                                                        <div class="card-arrow-bottom-right"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% comment %} <div class="messenger-content-footer p-2">
                                            <div class="input-group input-group-lg position-relative z-2">
                                                <button class="btn text-inverse position-absolute start-0" id="trigger"><i
                                                    class="far fa-face-smile"></i></button>
                                                <input type="text" class="form-control rounded-start ps-45px" id="input"
                                                    placeholder="Write a message...">
                                                <button class="btn btn-outline-default" type="button"><i
                                                    class="fa fa-paper-plane text-muted"></i></button>
                                            </div>
                                            
                                        </div> {% endcomment %}
                                    </div>
                                </div>








                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
<script>

var handleChatScroll = function() {
    var elm = document.querySelector('.messenger-content-body [data-scrollbar="true"]');
    elm.scrollTop = elm.scrollHeight - elm.clientHeight;
    var elm = document.querySelector('.messenger-content-body');
    elm.classList.remove('invisible');
};

document.addEventListener("DOMContentLoaded", (event) => {
    handleChatScroll();
});


</script>