<div class="row gx-4" id="add-document-items-detail">
    <input type="hidden" name="added-products" id="added-products" value="2,4,12" />
	<div class="col-lg-8">
		{% comment %} {{ form.as_p}} {% endcomment %}
			<div class="card-header bg-none d-flex p-3">
                <a href="#" class="btn btn-outline-default" data-bs-dismiss="modal"
				_="on click
                    remove #new-document-tab
                    remove #mgt-new-document
                    add .active to #view-document-tab
                    add .active to #mgt-documents-view-list
                    add .show to #mgt-documents-view-list
                    end
                    "
				>Cancel</a>
                <button class="btn btn-outline-theme" data-bs-dismiss="modal"
                hx-get="{% url 'mgt:add-document' %}"
                hx-target=""
                >Next</button>
				<a href="#" class="btn btn-outline-theme ms-auto">Mark as paid</a>
			</div>
			<div class="card-body text-inverse h-350px overflow-auto border-bottom">
				<table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="pt-0 pb-2"></th>
                            <th class="pt-0 pb-2">Product</th>
                            <th class="pt-0 pb-2">Detail</th>
                            <th class="pt-0 pb-2">Subtotal</th>
                            <th class="pt-0 pb-2">Actiona</th>

                        </tr>
                    </thead>
                    <tbody>
						{% if document_item %}
                        <tr>
                            <td class="w-10px align-middle">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="product1">
                                    <label class="form-check-label" for="product1"></label>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="w-40px h-40px bg-inverse bg-opacity-25 d-flex align-items-center justify-content-center">
                                        <img alt="" class="mw-100 mh-100" src="{{ document_item.product.img }}">
                                    </div>
                                    <div class="ms-3">
                                        <a href="page_product_details.html" class="text-inverse text-opacity-75 text-decoration-none">{{ document_item.product.name }}</a>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">{{ document_item.price|floatformat }} x {{ document_item.quantity }}</td>
                            <td class="align-middle">1989$</td>
                            <td class="align-middle">
								<div class="btn-group btn-group-md">
									<button type="button" class="btn">
										<i class="fas fa-lg fa-fw me-2 fa-edit"></i>
									</button>
									<button type="button" class="btn"
									_="on click remove closest <tr/> end"
									>
										<i class="fas fa-lg fa-fw me-2 fa-trash text-danger"></i>
									</button>
								</div>
							</td>
                        </tr>
						{% endif %}
						{% for i in items %}
                        <tr>
                            <td class="w-10px align-middle">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="product1">
                                    <label class="form-check-label" for="product1"></label>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="w-40px h-40px bg-inverse bg-opacity-25 d-flex align-items-center justify-content-center">
                                        <img alt="" class="mw-100 mh-100" src="assets/img/product/product-6.jpg">
                                    </div>
                                    <div class="ms-3">
                                        <a href="page_product_details.html" class="text-inverse text-opacity-75 text-decoration-none">Force Majeure White T Shirt</a>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">999 x 2</td>
                            <td class="align-middle">1989$</td>
                            <td class="align-middle">
								<div class="btn-group btn-group-md">
									<button type="button" class="btn">
										<i class="fas fa-lg fa-fw me-2 fa-edit"></i>
									</button>
									<button type="button" class="btn"
									_="on click remove closest <tr/> end"
									>
										<i class="fas fa-lg fa-fw me-2 fa-trash text-danger"></i>
									</button>
								</div>
							</td>
                        </tr>
						{% endfor %}
                        <tr>
                            <td class="w-10px align-middle">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="product2">
                                    <label class="form-check-label" for="product2"></label>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="w-40px h-40px bg-inverse bg-opacity-25 d-flex align-items-center justify-content-center">
                                        <img alt="" class="mw-100 mh-100" src="assets/img/product/product-7.jpg">
                                    </div>
                                    <div class="ms-3">
                                        <a href="page_product_details.html" class="text-inverse text-opacity-75 text-decoration-none">Eco-friendly fashion, organic cotton</a>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">520 X 2</td>
                            <td class="align-middle">1050$</td>
                            <td class="align-middle">1050$</td>
                        </tr>

                    </tbody>
                </table>
			</div>
			
			
	</div>
	<div class="col-lg-4">
		<div class="card mb-4">
			<div class="card-header d-flex align-items-center bg-inverse bg-opacity-10 fw-400">
				Notes
				<a href="#" class="ms-auto text-decoration-none text-inverse text-opacity-50">Edit</a>
			</div>
			<div class="card-body  h-150px">
				No notes from customer
			</div>
			<div class="card-arrow">
				<div class="card-arrow-top-left"></div>
				<div class="card-arrow-top-right"></div>
				<div class="card-arrow-bottom-left"></div>
				<div class="card-arrow-bottom-right"></div>
			</div>
		</div>
		<div class="card mb-4">
			<div class="card-header d-flex align-items-center bg-inverse bg-opacity-10 fw-400">
				Totals--------
				<a href="#" class="ms-auto text-decoration-none text-inverse text-opacity-50">Edit</a>
			</div>
			<div class="card-body">
				<table class="table table-borderless table-sm m-0">
					<tbody>
						<tr>
							<td class="w-150px">Subtotal</td>
							<td class="text-end">$3,496.00</td>
						</tr>
						<tr>
							<td>Tax</td>
							<td class="text-end">$174.80</td>
						</tr>
						<tr>
							<td>Shipping Fee</td>
							<td class="text-end">$0.00</td>
						</tr>
						<tr>
							<td class="pb-2" ><b>Total</b></td>
							<td class="text-end pb-2 text-decoration-underline"><b>$3670.80</b></td>
						</tr>
						<tr>
							<td colspan="3">
								<hr class="m-0">
							</td>
						</tr>
						<tr>
							<td class="pt-2 pb-2 text-nowrap">
								Paid by customer
							</td>
							<td class="pt-2 pb-2 text-end">$3670.80</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="card-arrow">
				<div class="card-arrow-top-left"></div>
				<div class="card-arrow-top-right"></div>
				<div class="card-arrow-bottom-left"></div>
				<div class="card-arrow-bottom-right"></div>
			</div>
		</div>
	</div>
</div>