
<!-- QWERTY Keyboard -->
{% for row in qwerty %}
<div class="mb-1">
    <div class="btn-group gap-2 w-100">
        {% for key in row %}
            <label type="button" class="btn btn-outline-theme text-center" style="width:{{ key.width }}%;"
                    hx-on:click="htmx.find('#{{ input }}').value = htmx.find('#{{ input }}').value + '{{ key.small }}'; htmx.find('#{{ input }}').focus();"
                    >
            {{ key.small }}
            </label>
        {% endfor %}
    </div>
</div>
{% endfor %}

  
  
  
  
  <!-- htmx.find('#{{ el_id }}').value = htmx.; -->
  <!-- form-control w-50px text-center mx-2    fw-bold  bg-inverse bg-opacity-15 border-0  -->
  <!-- form-control w-50px text-center mx-2    form-control-sm  bg-white bg-opacity-25  -->