{% if payment_types %}
<div class="px-2">
    {% for pt in payment_types %}
    <label class="btn flex-1
    {% if payment_type != pt %}btn-outline-default{% endif %}
    {% if payment_type == pt %}btn-outline-success{% endif %}
    w-150px mb-3 me-2 text-start labe" 
    _="on click 
        remove .btn-outline-success from .labe 
        then add .btn-outline-default to .labe
        then remove .btn-outline-default from me 
        then add .btn-outline-success to me end"
    >
        <input type="radio" class="d-none" id="payment-type-{{ pt.id }}" name="payment-type" 
        value="{{ pt.id }}" 
        {% if payment_type == pt %}checked{% endif %}>
        {{ pt.name }}
    </label>
    {% endfor %}
</div>
{% endif %}