{% load static %}
<div class="table-responsive">
    {% comment %} <table class="table table-hover text-nowrap" id="{{ id }}">
    </table> {% endcomment %}
    <table class="table table-hover text-nowrap">
        <thead>
            <tr>
                <th class="pt-0 pb-2"></th>
                <th class="pt-0 pb-2">Product</th>
                <th class="pt-0 pb-2">Inventory</th>
                <th class="pt-0 pb-2">Type</th>
                <th class="pt-0 pb-2">Vendor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="w-10px align-middle">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="product1">
                        <label class="form-check-label" for="product1"></label>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        <div class="w-50px h-50px bg-inverse bg-opacity-25 d-flex align-items-center justify-content-center">
                            <img alt="" class="mw-100 mh-100" src="{% static 'app/img/product/product-6.jpg' %}">
                        </div>
                        <div class="ms-3">
                            <a href="page_product_details.html" class="text-inverse text-opacity-75 text-decoration-none">Force Majeure White T Shirt</a>
                        </div>
                    </div>
                </td>
                <td class="align-middle">83 in stock for 3 variants</td>
                <td class="align-middle">Cotton</td>
                <td class="align-middle">Force Majeure</td>
            </tr>
            <tr>
                <td class="w-10px align-middle">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="product2">
                        <label class="form-check-label" for="product2"></label>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        <div class="w-50px h-50px bg-inverse bg-opacity-25 d-flex align-items-center justify-content-center">
                            <img alt="" class="mw-100 mh-100" src="{% static 'app/img/product/product-7.jpg' %}">
                        </div>
                        <div class="ms-3">
                            <a href="page_product_details.html" class="text-inverse text-opacity-75 text-decoration-none">Eco-friendly fashion, organic cotton, slow fashion polo shirts</a>
                        </div>
                    </div>
                </td>
                <td class="align-middle">79 in stock for 3 variants</td>
                <td class="align-middle">Cotton</td>
                <td class="align-middle">Polo</td>
            </tr>
            <tr>
                <td class="w-10px align-middle">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="product3">
                        <label class="form-check-label" for="product3"></label>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        <div class="w-50px h-50px bg-inverse bg-opacity-25 d-flex align-items-center justify-content-center">
                            <img alt="" class="mw-100 mh-100" src="{% static 'app/img/product/product-8.jpg' %}">
                        </div>
                        <div class="ms-3">
                            <a href="page_product_details.html" class="text-inverse text-opacity-75 text-decoration-none">Nike Shoes (Red Color)</a>
                        </div>
                    </div>
                </td>
                <td class="align-middle">19 in stock for 1 variants</td>
                <td class="align-middle">Sports</td>
                <td class="align-middle">Nike</td>
            </tr>
            <tr>
                <td class="w-10px align-middle">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="product4">
                        <label class="form-check-label" for="product4"></label>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        <div class="w-50px h-50px bg-inverse bg-opacity-25 d-flex align-items-center justify-content-center">
                            <img alt="" class="mw-100 mh-100" src="{% static 'app/img/product/product-9.jpg' %}">
                        </div>
                        <div class="ms-3">
                            <a href="page_product_details.html" class="text-inverse text-opacity-75 text-decoration-none">Nike Air Max (Blue Color)</a>
                        </div>
                    </div>
                </td>
                <td class="align-middle">19 in stock for 1 variants</td>
                <td class="align-middle">Sports</td>
                <td class="align-middle">Nike</td>
            </tr>
            <tr>
                <td class="w-10px align-middle">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="product5">
                        <label class="form-check-label" for="product5"></label>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        <div class="w-50px h-50px bg-inverse bg-opacity-25 d-flex align-items-center justify-content-center">
                            <img alt="" class="mw-100 mh-100" src="{% static 'app/img/product/product-10.jpg' %}">
                        </div>
                        <div class="ms-3">
                            <a href="page_product_details.html" class="text-inverse text-opacity-75 text-decoration-none">Skate Sneaker (Orange Color)</a>
                        </div>
                    </div>
                </td>
                <td class="align-middle">19 in stock for 1 variants</td>
                <td class="align-middle">Sports</td>
                <td class="align-middle">Skate</td>
            </tr>
            <tr>
                <td class="w-10px align-middle">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="product6">
                        <label class="form-check-label" for="product6"></label>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        <div class="w-50px h-50px bg-inverse bg-opacity-25 d-flex align-items-center justify-content-center">
                            <img alt="" class="mw-100 mh-100" src="{% static 'app/img/product/product-11.jpg' %}">
                        </div>
                        <div class="ms-3">
                            <a href="page_product_details.html" class="text-inverse text-opacity-75 text-decoration-none">Teen Fashion T-shirt (Black)</a>
                        </div>
                    </div>
                </td>
                <td class="align-middle">30 in stock for 4 variants</td>
                <td class="align-middle">T-Shirt</td>
                <td class="align-middle">Tulsa</td>
            </tr>
            <tr>
                <td class="w-10px align-middle">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="product7">
                        <label class="form-check-label" for="product7"></label>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        <div class="w-50px h-50px bg-inverse bg-opacity-25 d-flex align-items-center justify-content-center">
                            <img alt="" class="mw-100 mh-100" src="{% static 'app/img/product/product-12.jpg' %}">
                        </div>
                        <div class="ms-3">
                            <a href="page_product_details.html" class="text-inverse text-opacity-75 text-decoration-none">Levis Blue Jeans</a>
                        </div>
                    </div>
                </td>
                <td class="align-middle">49 in stock for 8 variants</td>
                <td class="align-middle">Jeans</td>
                <td class="align-middle">Levis</td>
            </tr>
            <tr>
                <td class="w-10px align-middle">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="product8">
                        <label class="form-check-label" for="product8"></label>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        <div class="w-50px h-50px bg-inverse bg-opacity-25 d-flex align-items-center justify-content-center">
                            <img alt="" class="mw-100 mh-100" src="{% static 'app/img/product/product-13.jpg' %}">
                        </div>
                        <div class="ms-3">
                            <a href="page_product_details.html" class="text-inverse text-opacity-75 text-decoration-none">Boots (White Color)</a>
                        </div>
                    </div>
                </td>
                <td class="align-middle">19 in stock for 1 variants</td>
                <td class="align-middle">Sports</td>
                <td class="align-middle">Nike</td>
            </tr>
            <tr>
                <td class="w-10px align-middle">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="product9">
                        <label class="form-check-label" for="product9"></label>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        <div class="w-50px h-50px bg-inverse bg-opacity-25 d-flex align-items-center justify-content-center">
                            <img alt="" class="mw-100 mh-100" src="{% static 'app/img/product/product-14.jpg' %}">
                        </div>
                        <div class="ms-3">
                            <a href="page_product_details.html" class="text-inverse text-opacity-75 text-decoration-none">Hiking Boots</a>
                        </div>
                    </div>
                </td>
                <td class="align-middle">94 in stock for 1 variants</td>
                <td class="align-middle">Sports</td>
                <td class="align-middle">Skate</td>
            </tr>
            <tr>
                <td class="w-10px align-middle">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="product10">
                        <label class="form-check-label" for="product10"></label>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        <div class="w-50px h-50px bg-inverse bg-opacity-25 d-flex align-items-center justify-content-center">
                            <img alt="" class="mw-100 mh-100" src="{% static 'app/img/product/product-15.jpg' %}">
                        </div>
                        <div class="ms-3">
                            <a href="page_product_details.html" class="text-inverse text-opacity-75 text-decoration-none">Dress (Pink)</a>
                        </div>
                    </div>
                </td>
                <td class="align-middle">23 in stock for 5 variants</td>
                <td class="align-middle">Dress</td>
                <td class="align-middle">Sktoe</td>
            </tr>
        </tbody>
    </table>
</div>
<script>
{% if initialized %}
/*document.addEventListener('DOMContentLoaded', function () {
    renderDataTable(
        elId='{{ id }}', 
        inputId='{{ input }}', 
        ajaxUrl="/search-datatable/{{ app_name }}/{{ model_name }}/?datatables=1"
        )
    });*/
{% endif %}

</script>
