{% load static %}
<!-- BEGIN table -->
<div hx-on::load="renderDataTable({{ table_id }}, {{ input_id }}, '{% url "mgt:products-datatable-data" %}?datatables=1')" class="table-responsive">
    <table class="table table-hover text-nowrap" id="{{ table_id }}">
        
    </table>
</div>
<!-- END table -->
<script>
    
    document.addEventListener('DOMContentLoaded', function () {
    

    renderDataTable({{ table_id }}, {{ input_id }}, '{% url "mgt:products-datatable-data" %}?datatables=1')
    });
</script>
