<div id="pos-comment-button" class="flex-fill">
    <a  class="w-100 pt-3 px-4 btn btn-outline-default rounded-2 mb-2 position-relative"
        title="{{ active_order.note }}"
        href="#modalOrderComment"
        hx-get="{% url 'pos:modal-comment' active_order.number %}"
        hx-target="#modalOrderComment"
        data-bs-toggle="modal"
        id="orderCommentButton"
    >
        <i class="far fa-2xl fa-comment-alt"></i><br>
        <span class="small">Comment</span>
        {% if active_order.note %}
        <c-buttons.badge />
        {% endif %}
    </a>
</div>