{% comment %} <input type="hidden" id="el-id" name="el-id" value="calculations-{{ active_order.number }}" />
<input type="hidden" id="url" name="url" value="{% url 'pos:order-discount' active_order.number %}" />
<input type="hidden" id="is_ajax" name="is_ajax" value="true" /> {% endcomment %}


<div class="flex-fill" id="orderCustomerButton">
    <a  class="w-100 pt-3 px-4 btn btn-outline-default rounded-2 mb-2"
        href="#orderDiscountModal" data-bs-toggle="modal"
        hx-get="{% url 'pos:modal-calculator' %}" 
        hx-target="#orderDiscountModal"
        hx-vals='{
            "is_ajax": true,
            "url": "{% url "pos:order-discount" active_order.number %}",
            "display": "order-discount",
            "el-id": "calculations-{{ active_order.number }}"
            }'
        hx-trigger="click"
        data-bs-toggle="modal"
        >
        <i class="fas fa-2xl fa-percent"></i><br>
        <span class="small">Order Discount</span>
        {% comment %} data-bs-target="#orderDiscountModal" {% endcomment %}
    </a>
</div>