<div class="card" style="width: 21.1rem;">
	<div class="card-header fw-bold p-0" id="message"
		htmx::after-settle="htmx.find('#calculator-display-{{ display }}').focus(); console.log(htmx.find('#calculator-display-{{ display }}'))"
        >
		<div class="border-bottom px-3 py-3">
			<h5 class="modal-title">
                Discount for {% if item %}{{ item.number }}{% else %}{{ active_order.number }}{% endif %}
            </h5>
		</div>
		<c-components.calculator.display id="{{ display }}" />
	</div>
	<c-components.calculator.digits :display="display" />
	<div class="card-footer">
		<button type="button" class="btn btn-default me-3" data-bs-dismiss="modal"
        hx-on:click="htmx.find('#calculator-display-{{ display }}').value = '';"
        >Close</button>
		<button type="button" class="btn btn-outline-theme"
		{% if is_ajax %}
		hx-post="{{ url }}"
		hx-swap="outerHTML" 
		{% else %} 
		hx-post="{% url 'pos:calculate' %}" 
		hx-swap="none" 
		hx-on::after-request="htmx.find('#{{ el_id }}').value = (JSON.parse(event.detail.xhr.responseText).message)"
		{% endif %}
		hx-trigger="click" 
		hx-include="#modal-discount-form-{{ display }}"
		hx-target="#{{ el_id }}"
		data-bs-dismiss="modal" 
		>Save changes</button>
	</div>
	<c-card-arrow />
</div>
<!-- htmx.find('#{{ el_id }}').value = htmx.; -->
<!-- form-control w-50px text-center mx-2    fw-bold  bg-inverse bg-opacity-15 border-0  -->
<!-- form-control w-50px text-center mx-2    form-control-sm  bg-white bg-opacity-25  -->