<div class="tab-pane fade show active mb-5" id="add-product-form-render">
    {% include 'documents/mgt-forms/add/widgets/product.html'%}
    {% include 'documents/mgt-forms/add/widgets/qty.html'%}
    {% include 'documents/mgt-forms/add/widgets/price-pretax.html'%}
    {% include 'documents/mgt-forms/add/widgets/tax.html'%}
    {% include 'documents/mgt-forms/add/widgets/price.html'%}
    {% include 'documents/mgt-forms/add/widgets/discount.html'%}
    {% include 'documents/mgt-forms/add/widgets/total-pretax.html'%}
    {% include 'documents/mgt-forms/add/widgets/total.html'%}
    <input type="hidden" name="order" value="{{ order_number }}" />	
</div>