[data-bs-theme=bs-gray-800] {
    --bs-body-bg-gradient: linear-gradient(180deg, rgba(53, 67, 74, 0.9) 0%, rgb(19, 21, 27) 100%);
    /* --bs-body-bg-image: url("images/pattern-dark.png"); */
    --bs-body-bg-image-size: 4.6875rem;
    /* --bs-body-bg-cover: url("images/cover-dark.jpg"); */
    --bs-body-font-weight: 300;
    --bs-body-letter-spacing: 0.046875rem;
    --bs-component-bg: #28292b;
    --bs-component-bg-rgb: 40, 41, 43;
    --bs-component-color: rgba(255, 255, 255, 0.75);
    --bs-component-color-rgb: 255, 255, 255;
    --bs-app-header-bg: rgba(29, 40, 53, 0.95);
    --bs-app-header-brand-img: url("images/logo-dark.png");
    --bs-app-header-link-color: #FFFFFF;
    --bs-app-header-link-color-rgb: 255, 255, 255;
    --bs-app-header-link-hover-color: rgba(255, 255, 255, 0.5);
    --bs-app-sidebar-menu-header-color: rgba(var(--bs-inverse-rgb), 0.3);
    --bs-app-sidebar-menu-link-color: rgba(var(--bs-inverse-rgb), 0.5);
    --bs-app-sidebar-menu-link-hover-color: #FFFFFF;
    --bs-app-sidebar-menu-link-active-color: #FFFFFF;
    --bs-app-sidebar-mobile-bg: rgba(44, 56, 70, 0.98);
    --bs-app-top-nav-bg: rgba(29, 40, 53, 0.95);
    --bs-app-top-nav-menu-link-color: rgba(var(--bs-inverse-rgb), 0.5);
    --bs-app-top-nav-menu-link-hover-color: #FFFFFF;
    --bs-app-top-nav-menu-link-active-color: #FFFFFF;
    --bs-app-top-nav-menu-submenu-bg: rgba(29, 40, 53, 0.95);
    --bs-app-theme-panel-bg: rgba(68, 85, 94, 0.95);
    --bs-theme-bg-subtle: #071f18
}


input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none !important;
    box-shadow: none !important;
    /* box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); */
    /* Optional custom focus style */
}

.pos-panel {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1030;
    width: 0;
    display: flex;
    align-items: center;
    right: -12rem;
    transition: right .2s ease-in-out
}

.pos-panel .pos-panel-container {
    width: 12rem;
    position: absolute;
    right: 0
}

.pos-panel .pos-panel-content {
    width: 12rem;
    background: var(--bs-pos-panel-bg);
    box-shadow: 0 .5rem 1rem rgba(var(--bs-inverse-rgb), .075);
    padding: .5rem;
    z-index: 10
}

.pos-panel .pos-panel-content .pos-list {
    margin: -.25rem;
    display: flex;
    flex-wrap: wrap
}

.pos-panel .pos-panel-content .pos-list .pos-list-item {
    padding: .25rem;
    width: 25%
}

.pos-panel .pos-panel-content .pos-list .pos-list-item .pos-list-link {
    height: 2rem;
    display: block;
    text-decoration: none;
    position: relative;
    transition: all .2s linear
}

.pos-panel .pos-panel-content .pos-list .pos-list-item .pos-list-link:hover {
    opacity: .6
}

.pos-panel .pos-panel-content .pos-list .pos-list-item.active .pos-list-link {
    opacity: 1
}

.pos-panel .pos-panel-content .pos-list .pos-list-item.active .pos-list-link:before {
    content: "\f00c";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: .875rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Font Awesome\ 6 Free, Font Awesome\ 6 Pro, FontAwesome !important;
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto
}

.pos-panel .pos-panel-content .pos-mode-link {
    color: #fff;
    text-decoration: none;
    text-align: center;
    position: relative;
    display: block;
    transition: all .2s linear
}

.pos-panel .pos-panel-content .pos-mode-link .img {
    position: relative
}

.pos-panel .pos-panel-content .pos-mode-link .img:before {
    content: "\f00c";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: .875rem;
    color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    font-family: Font Awesome\ 6 Free, Font Awesome\ 6 Pro, FontAwesome !important;
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto
}

.pos-panel .pos-panel-content .pos-mode-link .text {
    font-size: .65625rem;
    font-weight: 500;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .85);
    display: flex;
    align-items: flex-end;
    justify-content: center
}

.pos-panel .pos-panel-content .pos-mode-link:hover {
    opacity: .6
}

.pos-panel .pos-panel-content .pos-mode-link.active {
    opacity: 1
}

.pos-panel .pos-panel-content .pos-mode-link.active .img:before {
    color: #fff
}

.pos-panel .pos-panel-content .pos-mode-link.active .img:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .3)
}

.pos-panel .pos-panel-content .pos-cover {
    margin: -.25rem;
    display: flex;
    flex-wrap: wrap
}

.pos-panel .pos-panel-content .pos-cover .pos-cover-item {
    padding: .25rem;
    width: 33.33%
}

.pos-panel .pos-panel-content .pos-cover .pos-cover-item .pos-cover-link {
    display: block;
    text-decoration: none;
    position: relative;
    padding-top: 46%;
    background-size: cover;
    background-position: center;
    transition: all .2s linear
}

.pos-panel .pos-panel-content .pos-cover .pos-cover-item .pos-cover-link:hover {
    opacity: .6
}

.pos-panel .pos-panel-content .pos-cover .pos-cover-item .pos-cover-link:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000;
    opacity: .25
}

.pos-panel .pos-panel-content .pos-cover .pos-cover-item.active .pos-cover-link {
    opacity: 1
}

.pos-panel .pos-panel-content .pos-cover .pos-cover-item.active .pos-cover-link:after {
    content: "\f00c";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: .875rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Font Awesome\ 6 Free, Font Awesome\ 6 Pro, FontAwesome !important;
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto
}

.pos-panel .pos-toggle-btn {
    position: absolute;
    top: 50%;
    margin-top: -1rem;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.09375rem;
    color: var(--bs-pos-panel-color);
    background: var(--bs-pos-panel-bg);
    text-align: center;
    left: 0;
    margin-left: -2rem
}

.pos-panel.active {
    right: 0
}

.pos-form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;

    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 4px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}