<div class="mb-5 text-body flex-1">
	<div class="d-flex align-items-center mb-1">
		<i class="fa fa-check text-theme fa-lg"></i> 
		<div class="flex-1 ps-3"><span class="font-monospace text-body text-opacity-50 small">Storage:</span> <b class="text-body">50 GB</b></div>
	</div>
	<div class="d-flex align-items-center mb-1">
		<i class="fa fa-check text-theme fa-lg"></i> 
		<div class="flex-1 ps-3"><span class="font-monospace text-body text-opacity-50 small">Bandwidth:</span> <b class="text-body">500 GB</b></div>
	</div>
	<div class="d-flex align-items-center mb-1">
		<i class="fa fa-check text-theme fa-lg"></i> 
		<div class="flex-1 ps-3"><span class="font-monospace text-body text-opacity-50 small">Domain Names:</span> <b class="text-body">Unlimited</b></div>
	</div>
	<div class="d-flex align-items-center mb-1">
		<i class="fa fa-check text-theme fa-lg"></i> 
		<div class="flex-1 ps-3"><span class="font-monospace text-body text-opacity-50 small">SSL Certificate:</span> <b class="text-body">Free</b></div>
	</div>
</div>