<div id="about" class="py-5 bg-component">
	<div class="container-xxl p-3 p-lg-5 text-center">
		<h1 class="mb-3">Useful Links</h1>
		<div class="row text-start g-3 gx-lg-5 gy-lg-4">
			<div class="col-xl-4 col-lg-6 d-flex">
				<div class="w-50px h-50px bg-theme bg-opacity-15 text-theme fs-32px d-flex align-items-center justify-content-center">
					<iconify-icon icon="solar:monitor-smartphone-line-duotone"></iconify-icon>
				</div>
				<div class="flex-1 ps-3">
					<h4>Responsive Design</h4>
					{% include 'components/home/links.html' %}
				</div>
			</div>
			<div class="col-xl-4 col-lg-6 d-flex">
				<div class="w-50px h-50px bg-theme bg-opacity-15 text-theme fs-32px d-flex align-items-center justify-content-center">
					<iconify-icon icon="solar:settings-line-duotone"></iconify-icon>
				</div>
				<div class="flex-1 ps-3">
					<h4>Highly Customizable</h4>
					{% include 'components/home/links.html' %}
				</div>
			</div>
			<div class="col-xl-4 col-lg-6 d-flex">
				<div class="w-50px h-50px bg-theme bg-opacity-15 text-theme fs-32px d-flex align-items-center justify-content-center">
					<iconify-icon icon="solar:bolt-line-duotone"></iconify-icon>
				</div>
				<div class="flex-1 ps-3">
					<h4>High Performance</h4>
					{% include 'components/home/links.html' %}
				</div>
			</div>
			<div class="col-xl-4 col-lg-6 d-flex">
				<div class="w-50px h-50px bg-theme bg-opacity-15 text-theme fs-32px d-flex align-items-center justify-content-center">
					<iconify-icon icon="solar:lock-keyhole-line-duotone"></iconify-icon>
				</div>
				<div class="flex-1 ps-3">
					<h4>Secure</h4>
					{% include 'components/home/links.html' %}
				</div>
			</div>
			<div class="col-xl-4 col-lg-6 d-flex">
				<div class="w-50px h-50px bg-theme bg-opacity-15 text-theme fs-32px d-flex align-items-center justify-content-center">
					<iconify-icon icon="solar:dialog-2-line-duotone"></iconify-icon>
				</div>
				<div class="flex-1 ps-3">
					<h4>Community Support</h4>
					{% include 'components/home/links.html' %}
				</div>
			</div>
			<div class="col-xl-4 col-lg-6 d-flex">
				<div class="w-50px h-50px bg-theme bg-opacity-15 text-theme fs-32px d-flex align-items-center justify-content-center">
					<iconify-icon icon="solar:help-line-duotone"></iconify-icon>
				</div>
				<div class="flex-1 ps-3">
					<h4>24/7 Support</h4>
					{% include 'components/home/links.html' %}
				</div>
			</div>
		</div>
	</div>
</div>