{% if item %}
<div class="d-flex" hx-swap-oob="{{ oob }}">
  <button
    hx-post="{% url 'pos2:subtract-item-quantity' active_order.number item.number %}"
    hx-target="#pos"
    hx-swap="innerHTML"
    class="btn btn-sm btn-outline-theme btn-sm"
  >
    <i class="fa fa-minus"></i>
  </button>
  <input
    id="{{ id }}"
    value="{{ item.quantity }}"
    type="text"
    class="form-control w-50px text-center mx-2 form-control-sm bg-white bg-opacity-25"
    name="qty"
    readonly
  />
  <button
    hx-post="{% url 'pos2:add-item-quantity' active_order.number item.number %}"
    hx-target="#pos"
    hx-swap="innerHTML"
    class="btn btn-sm btn-outline-theme btn-sm"
  >
    <i class="fa fa-lg fa-plus"></i>
  </button>
</div>
{% comment %} hx-on::before-request="parseInt(htmx.find('{{ id}}').value) += 1;" {% endcomment %} {% endif %}
