{% extends 'empty-base.html' %}
{% load i18n %}
{% load allauth account widget_tweaks %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
<div class="login">
	<div class="login-content">
    {% url 'account_login' as login_url %}
		<form action="{{login_url}}" method="post" name="login_form">
        {% csrf_token %}
		<input type="hidden" name="next" value="{{ request.GET.next }}">
			<h1 class="text-center">Sign In</h1>
			<div class="text-inverse text-opacity-50 text-center mb-4">
				For your protection, please verify your identity.
			</div>
			<div class="mb-3">
				<label class="form-label">Email Address <span class="text-danger">*</span></label>
                {% render_field form.login class="form-control form-control-lg bg-inverse bg-opacity-5" type="text" %}
				{% comment %} <input type="text" class="form-control form-control-lg bg-inverse bg-opacity-5" value placeholder> {% endcomment %}
			</div>
			<div class="mb-3">
				<div class="d-flex">
					<label class="form-label">Password <span class="text-danger">*</span></label>
					<a href="#" class="ms-auto text-inverse text-decoration-none text-opacity-50">Forgot password?</a>
				</div>
                {% render_field form.password class="form-control form-control-lg bg-inverse bg-opacity-5" type="password" %}
				{% comment %} <input type="password" class="form-control form-control-lg bg-inverse bg-opacity-5" value placeholder> {% endcomment %}
			</div>
			<div class="mb-3">
				<div class="form-check">
                {% render_field form.remember class="form-check-input" type="checkbox" %}
					{% comment %} <input class="form-check-input" type="checkbox" value id="customCheck1"> {% endcomment %}
					<label class="form-check-label" for="customCheck1">Remember me</label>
				</div>
			</div>
			<button type="submit" class="btn btn-outline-theme btn-lg d-block w-100 fw-500 mb-3">Sign In</button>
			<div class="text-center text-inverse text-opacity-50">
				Don't have an account yet? <a href="page_register.html">Sign up</a>.
			</div>
		</form>
	</div>
</div>

{% endblock content %}
