<div class="file-manager-toolbar">
    <input type="hidden" name="group-id" id="selected-group" />
    <input type="hidden" name="product-id" id="selected-product" />
    <button type="button" class="btn border-0"
    _="on click reload() the location of the window"
    ><i class="bi bi-plus-lg me-1"
    ></i> Reload</button>
    <button type="button" class="btn border-0"  id="add-group-button"
        hx-get="{% url 'mgt:modal-add-product-group' %}" 
        hx-target="#modalAddProductGroup" 
        hx-trigger="click"
        hx-include="#selected-group"
        href="#modalAddProductGroup" data-bs-toggle="modal"
    >
    <i class="bi bi-plus-lg me-1"></i>
    Add Group</button>
    <!-- both buttons below will use the group-id input as hx-include -->
    <button type="button" class="btn border-0"  id="edit-group-button" disabled
        hx-get="{% url 'mgt:modal-update-product-group' %}" 
        hx-target="#modalAddProductGroup" 
        hx-trigger="click"
        hx-include="#selected-group"
        href="#modalAddProductGroup" data-bs-toggle="modal"
    >
    <i class="bi me-1 bi-copy"></i>
    Edit Group</button>
    <button type="button" class="btn border-0"  id="delete-group-button" disabled
        
        hx-get="{% url 'mgt:modal-delete-product-group' %}" 
        hx-target="#modalDeleteProductGroup" 
        hx-trigger="click"
        hx-include="#selected-group"
        href="#modalDeleteProductGroup"
        data-bs-toggle="modal"
    >
    <i class="bi me-1 bi-trash"></i>
    {% comment %} <input type="hidden" name="group-id" id="delete-group-button-input" /> {% endcomment %}
    Delete Group</button>
    <button type="button"
    _="on click trigger click on the #add-product end" 
    class="btn border-0"><i class="bi me-1 bi-arrows-move"></i>
    Add Product</button>
    <button type="button" class="btn border-0" id="edit-product-button"
        hx-get="{% url 'mgt:modal-update-product' %}" 
        hx-target="#modalAddProduct" 
        hx-trigger="click"
        hx-include="#selected-product"
        data-bs-target="#modalAddProduct" data-bs-toggle="modal"
    disabled
    ><i class="bi me-1 bi-upload"></i> Edit Product</button>
    <button type="button" class="btn border-0"  id="delete-product-button" disabled
        
        hx-get="{% url 'mgt:modal-delete-product' %}" 
        hx-target="#modalDeleteProduct" 
        hx-trigger="click"
        hx-include="#selected-product"
        href="#modalDeleteProduct"
        data-bs-toggle="modal"
    >
    <i class="bi me-1 bi-trash"></i>
    {% comment %} <input type="hidden" name="group-id" id="delete-group-button-input" /> {% endcomment %}
    Delete Product</button>
    {% comment %} <form action="{% url 'printers:export-pdf' %}" method="GET"> {% endcomment %}
    <a href="{% url 'printers:export-pdf' %}" target=_blank class="btn border-0">
        <i class="me-1 fas fa-lg fa-fw me-2 fa-file-pdf"></i>
    Export PDF</a>
    {% comment %} </form> {% endcomment %}
    <button type="button" class="btn border-0" disabled><i
        class="bi me-1 bi-arrow-clockwise"></i> Restore</button>
    <button type="button" class="btn border-0" disabled><i
        class="bi me-1 bi-file-earmark-text"></i> Rename</button>
    <button type="button" class="btn border-0" disabled><i class="bi me-1 bi-pen"></i>
    Edit</button>
    <button type="button" class="btn border-0" disabled><i class="bi me-1 bi-pencil-square"></i>
    HTML Editor</button>
    <button type="button" class="btn border-0" disabled><i class="bi me-1 bi-key"></i>
    Permissions</button>
    <button type="button" class="btn border-0" disabled><i class="bi me-1 bi-eye"></i>
    View</button>
    <button type="button" class="btn border-0" disabled><i class="bi me-1 bi-unlock"></i>
    Extract</button>
    <button type="button" class="btn border-0" disabled><i
        class="bi me-1 bi-file-earmark-zip"></i> Compress</button>
</div>