<div class="me-md-auto text-md-left text-center mb-2 mb-md-0">
    Page {{ products.number }} of {{ products.paginator.num_pages }} ({{products_count}} products found.)
</div>
<ul class="pagination mb-0 justify-content-center">
    {% if products.has_previous %}
    <li class="page-item"><a href="#" class="page-link" hx-get="?page=1" 
        hx-push-url="true" hx-target="#mgt-products-table" hx-swap="innerHTML"><i class="fa me-1 fa-angle-double-left"></i></a></li>
    <li class="page-item"><a href="#" class="page-link" hx-get="?page={{ products.previous_page_number }}" 
        hx-push-url="true" hx-target="#mgt-products-table" hx-swap="innerHTML">
        <i class="fa me-1 fa-angle-left"></i></a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link"><i class="fa me-1 fa-angle-double-left"></i></a></li>
    <li class="page-item disabled"><a class="page-link"><i class="fa me-1 fa-angle-left"></i></a></li>
    {% endif %}
    {% for page in page_range %}
    <li class="page-item">
    <a
    hx-get="?page={{ page }}" 
    hx-push-url="true" 
    hx-target="#mgt-products-table" 
    hx-swap="innerHTML"
    class="page-link {% if products.number == page %}active{% endif %}" href="#"
    
    >{{page}}</a></li>
    {% endfor %}
    {% if products.has_next %}
        <li class="page-item"><a href="#" class="page-link" hx-get="?page={{ products.next_page_number }}" 
            hx-push-url="true" hx-target="#mgt-products-table" hx-swap="innerHTML"><i class="fa me-1 fa-angle-right"></i></a></li>
        <li class="page-item"><a href="#" class="page-link" hx-get="?page={{ products.paginator.num_pages }}" 
            hx-push-url="true" hx-target="#mgt-products-table" hx-swap="innerHTML"><i class="fa me-1 fa-angle-double-right"></i></a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#"><i class="fa me-1 fa-angle-right"></i></a></li>
    <li class="page-item disabled"><a class="page-link" href="#"><i class="fa me-1 fa-angle-double-right"></i></a></li>
    {% endif %}
</ul>