{% for stock in stocks %}
  {% if stock.is_low_stock_warning_enabled and stock.low_stock_warning_quantity > stock.reorder_point %}
    <tr class="bg-danger bg-opacity-10 text-inverse"> <!-- Red -->
  {% comment %} {% elif stock.preferred_quantity %}
    <tr class="bg-warning bg-opacity-10 text-inverse"> <!-- Orange --> {% endcomment %}
  {% else %}
    <tr>
  {% endif %}
      {% comment %} <td><img src="{{ stock.product.img }}" /></td> {% endcomment %}
      <td>{{ stock.product.name }}</td>
      <td>{{ stock.warehouse.name }}</td>
      <td>{{ stock.quantity }}</td>
    </tr>
{% endfor %}

{% if page_obj.has_next %}
  <tr hx-get="?page={{ page_obj.next_page_number }}" hx-trigger="revealed" hx-swap="afterend"></tr>
{% endif %}
