<div class="modal-dialog ">
    <div class="modal-content">
        {% include 'pos/cards/discount-card.html' %}


{% comment %} 

    <ul class="nav nav-tabs">
        <li class="nav-item me-1"><a href="#amount" class="nav-link active" data-bs-toggle="tab">Amount</a></li>
        <li class="nav-item me-1"><a href="#percentage" class="nav-link" data-bs-toggle="tab">Percentage</a></li>
    </ul>
    <div class="tab-content pt-3">
        <div class="tab-pane fade show active" id="amount">
        <h1>Amount</h1>
    {% component 'calculator' digits=digits el_id=el_id calculator_id='amount' is_ajax=is_ajax div_class=div_class template_name=template_name url=url %}
    {% endcomponent %}
        </div>
        <div class="tab-pane fade" id="percentage">
        <h1>Percentage</h1>

        </div>
    </div> {% endcomment %}













    </div>
</div>

