<!-- BEGIN #modalEdit -->

<div class="modal-dialog modal-xl">
	<div class="modal-content">
		<div class="card">
			<div class="card-header d-flex">
				<h5 class="modal-title">Edit name</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="mb-3 col-6">
						<label class="form-label">Name</label>
						<div class="row row-space-10">
							<div class="col-4">
								<input class="form-control" placeholder="First" value="Sean">
							</div>
							<div class="col-4">
								<input class="form-control" placeholder="Middle" value="">
							</div>
							<div class="col-4">
								<input class="form-control" placeholder="Last" value="Ngu">
							</div>
						</div>
					</div>
					<div class="col-3 alert bg-inverse bg-opacity-10 border-0">
						<b>Please note:</b> 
						If you change your name, you can't change it again for 60 days. 
						Don't add any unusual capitalization, punctuation, characters or random words. 
						<a href="#" class="alert-link">Learn more.</a>
					</div>
					<div class="col-3 mb-3">
						<label class="form-label">Other Names</label>
						<div>
							<a href="#" class="btn btn-outline-default"><i class="fa fa-plus fa-fw"></i> Add other names</a>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-default" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-outline-theme">Save changes</button>
			</div>
			{% include 'components/card-arrow.html' %}
		</div>
	</div>
</div>
<!-- END #modalEdit -->
<script>
	// Function to increase the input value
	// Function to increase the input value

	var decreaseBtn = document.getElementById('decrease-modal-qty')
	var increaseBtn = document.getElementById('increase-modal-qty')
	increaseBtn.addEventListener("click", function () {
	    var qtyInput = document.getElementById('input-modal-qty');
	    var value = parseInt(qtyInput.value, 10);
	    value++;
	    qtyInput.value = value
	});
	decreaseBtn.addEventListener("click", function () {
	    var qtyInput = document.getElementById('input-modal-qty');
	    var value = parseInt(qtyInput.value, 10);
	    value--;
	    qtyInput.value = value
	});
	
</script>
