<!-- BEGIN theme-panel -->
<div class="app-theme-panel">
	<div class="app-theme-panel-container">
		<a href="javascript:;" data-toggle="theme-panel-expand" class="app-theme-toggle-btn"><i class="bi bi-sliders"></i></a>
		<div class="app-theme-panel-content">
			<div class="small fw-bold text-inverse mb-1">Customer</div>
			<div class="card mb-3">
				<!-- BEGIN card-body -->
				<div class="card-body p-2">
					<div class="row gx-2">
						<div class="col-6">
							<div class="h6">1</div>
						<div class="col-6">
							<div class="h6">2</div>
						</div>
					</div>
				</div>
				<!-- END card-body -->
				<!-- BEGIN card-arrow -->
				{% include 'components/card-arrow.html' %}
				<!-- END card-arrow -->
			</div>
			<div class="small fw-bold text-inverse mb-1">Items</div>
			<div class="card mb-3">
				<!-- BEGIN card-body -->
				<div class="card-body p-2">
					<!-- BEGIN theme-list -->
					<h6> This is an empty place </h6>
					<h6> This is an empty place </h6>
					<h6> This is an empty place </h6>
					<!-- END theme-list -->
				</div>
				<!-- END card-body -->
				<!-- BEGIN card-arrow -->
                {% include 'components/card-arrow.html' %}
				<!-- END card-arrow -->
			</div>
			<div class="small fw-bold text-inverse mb-1">Theme Cover</div>
			<div class="card">
				<!-- BEGIN card-body -->
				<div class="card-body p-2">
					<!-- BEGIN theme-cover -->
					<h6> This is the totals </h6>
					<!-- END theme-cover -->
				</div>
				<!-- END card-body -->
				<!-- BEGIN card-arrow -->
				<div class="card-arrow">
					<div class="card-arrow-top-left"></div>
					<div class="card-arrow-top-right"></div>
					<div class="card-arrow-bottom-left"></div>
					<div class="card-arrow-bottom-right"></div>
				</div>
				<!-- END card-arrow -->
			</div>
		</div>
	</div>
</div>
<!-- END theme-panel -->