<div class="card border-0 h-100 p-0">
    <div class="card-header bg-inverse bg-opacity-10">
        <h3>Orders</h3>
    </div>
    <div class="card-body">
        <div class="input-group mb-4">
            <div class="flex-fill position-relative">
                <div class="input-group">
                    <input type="text" class="form-control px-35px" placeholder="Filter orders">
                    <div class="input-group-text position-absolute top-0 bottom-0 bg-none border-0 start-0" 
                        style="z-index: 1020;"
                        id="search-orders-tab-input"
                        >
                        <i class="fa fa-search opacity-5"></i>
                    </div>
                </div>
            </div>
            <button class="btn btn-outline-default dropdown-toggle rounded-0" type="button" data-bs-toggle="dropdown"><span class="d-none d-md-inline">Payment Status</span><span class="d-inline d-md-none"><i class="fa fa-credit-card"></i></span> &nbsp;</button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>
            <button class="btn btn-outline-default dropdown-toggle" type="button" data-bs-toggle="dropdown"><span class="d-none d-md-inline">Fulfillment status</span><span class="d-inline d-md-none"><i class="fa fa-check"></i></span> &nbsp;</button>
            <div class="dropdown-menu dropdown-menu-end">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </div>
        <c-tabs.tabs_table />
    </div>
</div>