<div class="table-responsive" style="height: 38rem !important;">
    <table class="table table-hover text-nowrap">
        <thead class="sticky-top bg-dark text-inverse py-2 mt-2">
            <tr>
                <th class="border-top-0 pt-0 pb-2"></th>
                <th class="border-top-0 pt-0 pb-2">Order</th>
                <th class="border-top-0 pt-0 pb-2">Date</th>
                <th class="border-top-0 pt-0 pb-2">Customer</th>
                <th class="border-top-0 pt-0 pb-2">Fulfillment status</th>
                <th class="border-top-0 pt-0 pb-2">Items</th>
                <th class="border-top-0 pt-0 pb-2">Delivery method</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td class="w-10px align-middle">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="product1">
                        <label class="form-check-label" for="product1"></label>
                    </div>
                </td>
                <td class="align-middle">
                    <a href="#"
                        hx-get="{% url 'pos:pos-order' order.number %}"
                        hx-push-url="true"
                        hx-target="#standard-pos-container"
                        hx-swap="outerHTML"
                    >#{{ order.number }}</a></td>
                <td class="align-middle">Thu 26 Nov, 12:23pm</td>
                <td class="align-middle">Amanda Lee</td>
                <td class="align-middle"><span class="badge border {{ order.get_status_class }} px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center"><i class="fa fa-circle fs-9px fa-fw me-5px"></i> {{ order.get_status_display }}</span></td>
                <td class="align-middle">3 items</td>
                <td class="align-middle">Free shipping</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7">No orders to show</td>
            </tr>
            {% endfor %}
            <tr>
                <td class="w-10px align-middle">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="product2">
                        <label class="form-check-label" for="product2"></label>
                    </div>
                </td>
                <td class="align-middle"><a href="page_order_details.html">#1949</a></td>
                <td class="align-middle">Thu 26 Nov, 11:54am</td>
                <td class="align-middle">Leonard Oii</td>
                <td class="align-middle"><span class="badge border border-success text-success px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center"><i class="fa fa-circle fs-9px fa-fw me-5px"></i> Fulfilled</span></td>
                <td class="align-middle">1 item</td>
                <td class="align-middle">Local pickup</td>
            </tr>
            <tr>
                <td class="w-10px align-middle">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="product3">
                        <label class="form-check-label" for="product3"></label>
                    </div>
                </td>
                <td class="align-middle"><a href="page_order_details.html">#1948</a></td>
                <td class="align-middle">Thu 25 Nov, 11:54pm</td>
                <td class="align-middle">John Doe</td>
                <td class="align-middle"><span class="badge border border-warning text-warning px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center"><i class="fa fa-circle fs-9px fa-fw me-5px"></i> Unfulfilled</span></td>
                <td class="align-middle">2 items</td>
                <td class="align-middle">Express</td>
            </tr>
            <tr>
                <td class="w-10px align-middle">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="product4">
                        <label class="form-check-label" for="product4"></label>
                    </div>
                </td>
                <td class="align-middle"><a href="page_order_details.html">#1947</a></td>
                <td class="align-middle">Thu 25 Nov, 11:53pm</td>
                <td class="align-middle">Terry Ng</td>
                <td class="align-middle"><span class="badge border border-warning text-warning px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center"><i class="fa fa-circle fs-9px fa-fw me-5px"></i> Unfulfilled</span></td>
                <td class="align-middle">2 items</td>
                <td class="align-middle">Express</td>
            </tr>
            <tr>
                <td class="w-10px align-middle">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="product5">
                        <label class="form-check-label" for="product5"></label>
                    </div>
                </td>
                <td class="align-middle"><a href="page_order_details.html">#1946</a></td>
                <td class="align-middle">Thu 25 Nov, 11:52pm</td>
                <td class="align-middle">Terry Ng</td>
                <td class="align-middle"><span class="badge border border-yellow text-warning px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center"><i class="fa fa-circle fs-9px fa-fw me-5px"></i> Unfulfilled</span></td>
                <td class="align-middle">2 items</td>
                <td class="align-middle">Express</td>
            </tr>
            <tr>
                <td class="w-10px align-middle">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="product6">
                        <label class="form-check-label" for="product6"></label>
                    </div>
                </td>
                <td class="align-middle"><a href="page_order_details.html">#1945</a></td>
                <td class="align-middle">Thu 24 Nov, 2:43pm</td>
                <td class="align-middle">Lelouch Wong</td>
                <td class="align-middle"><span class="badge border border-primary text-primary px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center"><i class="fa fa-circle fs-9px fa-fw me-5px"></i> Ready for pickup</span></td>
                <td class="align-middle">2 items</td>
                <td class="align-middle">Local pickup</td>
            </tr>
            <tr>
                <td class="w-10px align-middle">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="product7">
                        <label class="form-check-label" for="product7"></label>
                    </div>
                </td>
                <td class="align-middle"><a href="page_order_details.html">#1944</a></td>
                <td class="align-middle">Thu 23 Nov, 2:43pm</td>
                <td class="align-middle">Cynthia Ting</td>
                <td class="align-middle"><span class="badge border border-primary text-primary px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center"><i class="fa fa-circle fs-9px fa-fw me-5px"></i> Ready for delivery</span></td>
                <td class="align-middle">1 item</td>
                <td class="align-middle">Local pickup</td>
            </tr>
            <tr>
                <td class="w-10px align-middle">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="product8">
                        <label class="form-check-label" for="product8"></label>
                    </div>
                </td>
                <td class="align-middle"><a href="page_order_details.html">#1943</a></td>
                <td class="align-middle">Thu 23 Nov, 11:59am</td>
                <td class="align-middle">Richard Leong</td>
                <td class="align-middle"><span class="badge border border-danger text-danger px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center"><i class="fa fa-circle fs-9px fa-fw me-5px"></i> Partially fulfilled</span></td>
                <td class="align-middle">2 items</td>
                <td class="align-middle">Express</td>
            </tr>
            <tr>
                <td class="w-10px align-middle">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="product9">
                        <label class="form-check-label" for="product9"></label>
                    </div>
                </td>
                <td class="align-middle"><a href="page_order_details.html">#1942</a></td>
                <td class="align-middle">Thu 22 Nov, 8:12am</td>
                <td class="align-middle">Clement Tang</td>
                <td class="align-middle"><span class="badge border border-success text-success px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center"><i class="fa fa-circle fs-9px fa-fw me-5px"></i> Fulfilled</span></td>
                <td class="align-middle">1 item</td>
                <td class="align-middle">Express</td>
            </tr>
            <tr>
                <td class="w-10px align-middle">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="product10">
                        <label class="form-check-label" for="product10"></label>
                    </div>
                </td>
                <td class="align-middle"><a href="page_order_details.html">#1941</a></td>
                <td class="align-middle">Thu 22 Nov, 7:42am</td>
                <td class="align-middle">Richard Leong</td>
                <td class="align-middle"><span class="badge border border-success text-success px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center"><i class="fa fa-circle fs-9px fa-fw me-5px"></i> Fulfilled</span></td>
                <td class="align-middle">1 item</td>
                <td class="align-middle">Express</td>
            </tr>
            <tr>
                <td class="w-10px align-middle">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="product2">
                        <label class="form-check-label" for="product2"></label>
                    </div>
                </td>
                <td class="align-middle"><a href="page_order_details.html">#1949</a></td>
                <td class="align-middle">Thu 26 Nov, 11:54am</td>
                <td class="align-middle">Leonard Oii</td>
                <td class="align-middle"><span class="badge border border-success text-success px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center"><i class="fa fa-circle fs-9px fa-fw me-5px"></i> Fulfilled</span></td>
                <td class="align-middle">1 item</td>
                <td class="align-middle">Local pickup</td>
            </tr>
            <tr>
                <td class="w-10px align-middle">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="product3">
                        <label class="form-check-label" for="product3"></label>
                    </div>
                </td>
                <td class="align-middle"><a href="page_order_details.html">#1948</a></td>
                <td class="align-middle">Thu 25 Nov, 11:54pm</td>
                <td class="align-middle">John Doe</td>
                <td class="align-middle"><span class="badge border border-warning text-warning px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center"><i class="fa fa-circle fs-9px fa-fw me-5px"></i> Unfulfilled</span></td>
                <td class="align-middle">2 items</td>
                <td class="align-middle">Express</td>
            </tr>
            <tr>
                <td class="w-10px align-middle">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="product4">
                        <label class="form-check-label" for="product4"></label>
                    </div>
                </td>
                <td class="align-middle"><a href="page_order_details.html">#1947</a></td>
                <td class="align-middle">Thu 25 Nov, 11:53pm</td>
                <td class="align-middle">Terry Ng</td>
                <td class="align-middle"><span class="badge border border-warning text-warning px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center"><i class="fa fa-circle fs-9px fa-fw me-5px"></i> Unfulfilled</span></td>
                <td class="align-middle">2 items</td>
                <td class="align-middle">Express</td>
            </tr>
            {% comment %}<tr>
                <td class="w-10px align-middle">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="product5">
                        <label class="form-check-label" for="product5"></label>
                    </div>
                </td>
                <td class="align-middle"><a href="page_order_details.html">#1946</a></td>
                <td class="align-middle">Thu 25 Nov, 11:52pm</td>
                <td class="align-middle">Terry Ng</td>
                <td class="align-middle"><span class="badge border border-yellow text-warning px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center"><i class="fa fa-circle fs-9px fa-fw me-5px"></i> Unfulfilled</span></td>
                <td class="align-middle">2 items</td>
                <td class="align-middle">Express</td>
            </tr>
            <tr>
                <td class="w-10px align-middle">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="product6">
                        <label class="form-check-label" for="product6"></label>
                    </div>
                </td>
                <td class="align-middle"><a href="page_order_details.html">#1945</a></td>
                <td class="align-middle">Thu 24 Nov, 2:43pm</td>
                <td class="align-middle">Lelouch Wong</td>
                <td class="align-middle"><span class="badge border border-primary text-primary px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center"><i class="fa fa-circle fs-9px fa-fw me-5px"></i> Ready for pickup</span></td>
                <td class="align-middle">2 items</td>
                <td class="align-middle">Local pickup</td>
            </tr>
            <tr>
                <td class="w-10px align-middle">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="product7">
                        <label class="form-check-label" for="product7"></label>
                    </div>
                </td>
                <td class="align-middle"><a href="page_order_details.html">#1944</a></td>
                <td class="align-middle">Thu 23 Nov, 2:43pm</td>
                <td class="align-middle">Cynthia Ting</td>
                <td class="align-middle"><span class="badge border border-primary text-primary px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center"><i class="fa fa-circle fs-9px fa-fw me-5px"></i> Ready for delivery</span></td>
                <td class="align-middle">1 item</td>
                <td class="align-middle">Local pickup</td>
            </tr>
            <tr>
                <td class="w-10px align-middle">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="product8">
                        <label class="form-check-label" for="product8"></label>
                    </div>
                </td>
                <td class="align-middle"><a href="page_order_details.html">#1943</a></td>
                <td class="align-middle">Thu 23 Nov, 11:59am</td>
                <td class="align-middle">Richard Leong</td>
                <td class="align-middle"><span class="badge border border-danger text-danger px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center"><i class="fa fa-circle fs-9px fa-fw me-5px"></i> Partially fulfilled</span></td>
                <td class="align-middle">2 items</td>
                <td class="align-middle">Express</td>
            </tr>
            <tr>
                <td class="w-10px align-middle">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="product9">
                        <label class="form-check-label" for="product9"></label>
                    </div>
                </td>
                <td class="align-middle"><a href="page_order_details.html">#1942</a></td>
                <td class="align-middle">Thu 22 Nov, 8:12am</td>
                <td class="align-middle">Clement Tang</td>
                <td class="align-middle"><span class="badge border border-success text-success px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center"><i class="fa fa-circle fs-9px fa-fw me-5px"></i> Fulfilled</span></td>
                <td class="align-middle">1 item</td>
                <td class="align-middle">Express</td>
            </tr>
            <tr>
                <td class="w-10px align-middle">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="product10">
                        <label class="form-check-label" for="product10"></label>
                    </div>
                </td>
                <td class="align-middle"><a href="page_order_details.html">#1941</a></td>
                <td class="align-middle">Thu 22 Nov, 7:42am</td>
                <td class="align-middle">Richard Leong</td>
                <td class="align-middle"><span class="badge border border-success text-success px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center"><i class="fa fa-circle fs-9px fa-fw me-5px"></i> Fulfilled</span></td>
                <td class="align-middle">1 item</td>
                <td class="align-middle">Express</td>
            </tr> {% endcomment %}
        </tbody>
    </table>
</div>