{% load widget_tweaks static %}
<div class="row border">
    <input type="hidden" name="group-id" id="selected-group" />
    <input type="hidden" name="product-id" id="selected-product" />
    <div class="col-12 px-5 pt-3 d-flex align-content-between gap-3">
        <div class="d-flex flex-wrap">
            <button type="button" class="btn border-0"
                _="on click reload() the location of the window end"
                    ><i class="bi bi-plus-lg me-1"
                    ></i> Reload</button>
            <!-- both buttons below will use the group-id input as hx-include -->
            {% comment %} <form action="{% url 'printers:export-pdf' %}" method="GET"> {% endcomment %}
            <a href="{% url 'printers:export-pdf' %}" target=_blank class="btn border-0">
                <i class="me-1 fas fa-lg fa-fw me-2 fa-file-pdf"></i>
                Export PDF</a>
                {% comment %} </form> {% endcomment %}
            <a href="{% url 'mgt:mgt-price-tags-control' %}" class="btn border-0">
                <i class="me-1 fas fa-lg fa-fw me-2 fa-hashtag"></i> Price Tags</a>
            
            <button type="button" class="btn border-0" data-bs-toggle="dropdown" data-bs-target="#sorting-menu"><i
                class="me-1 fas fa-lg fa-fw me-2 fa-sort"></i> Sorting</button>
            <div class="dropdown-menu" style="" id="sorting-menu">
                <a class="dropdown-item" href="#">Name</a>
                <a class="dropdown-item" href="#">Product group</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Reset to default</a>
            </div>
            <button type="button" class="btn border-0" data-bs-toggle="dropdown" data-bs-target="#export-menu"><i
                class="me-1 fas fa-lg fa-fw me-2 fa-sort"></i> Export</button>
            <div class="dropdown-menu" style="" id="export-menu">
                <a 
                hx-get="{% url 'mgt:modal-select-product-fields' %}" 
                hx-target="#select-product-fields-modal"
                hx-vals='{"target":"csv"}'
                hx-include="#mgt-products-table"
                hx-trigger="click"
                data-bs-target="#select-product-fields-modal" data-bs-toggle="modal"
                
                class="dropdown-item" href="#">CSV</a>

                <a class="dropdown-item" href="#"
                    hx-get="{% url 'mgt:modal-select-product-fields' %}" 
                    hx-target="#select-product-fields-modal"
                    hx-vals='{"target":"excel"}'
                    hx-include="#mgt-products-table"
                    hx-trigger="click"
                    data-bs-target="#select-product-fields-modal" 
                    data-bs-toggle="modal"
                >Excel</a>
                <a class="dropdown-item" href="#">Text</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Reset to default</a>
            </div>
        </div>
        <div class="d-flex gap-3 ms-auto">
            <button class="btn btn-outline-theme btn-sm">search</button>
            <button class="btn btn-outline-theme btn-sm">Clear</button>
        </div>
    </div>
    <div class="col-12 row mt-3 p-3 border-top">
        <div class="col-xl-11 d-flex flex-wrap gap-1">
            
                <div class="w-400px form-group row mb-0">
                    <label for="documents-products" class="ps-4 col-sm-5 col-form-label">{{ form.product.label }}</label>
                    <div class="col-sm-7"><div>{{ form.product }}</div></div>
                </div>
                <div class="w-400px form-group row mb-0">
                    <label for="documents-products" class="ps-4 col-sm-5 col-form-label">{{ form.customer.label }}</label>
                    <div class="col-sm-7"><div>{{ form.customer }}</div></div>
                </div>
                <div class="w-400px form-group row mb-0">
                    <label for="documents-products" class="ps-4 col-sm-5 col-form-label">{{ form.cash_register.label }}</label>
                    <div class="col-sm-7"><div>{{ form.cash_register }}</div></div>
                </div>
                <div class="w-400px form-group row">
                    <label for="documents-products" class="ps-4 col-sm-5 col-form-label">{{ form.user.label }}</label>
                    <div class="col-sm-7"><div>{{ form.user }}</div></div>
                </div>
                <div class="w-400px form-group row">
                    <label for="documents-products" class="ps-4 col-sm-5 col-form-label">{{ form.document_type.label }}</label>
                    <div class="col-sm-7"><div>{{ form.document_type }}</div></div>
                </div>
                <div class="w-400px form-group row">
                    <label for="documents-products" class="ps-4 col-sm-5 col-form-label">{{ form.reference_document_number.label }}</label>
                    <div class="col-sm-7"><div>{{ form.reference_document_number }}</div></div>
                </div>
                <div class="w-400px form-group row">
                    <label for="documents-products" class="ps-4 col-sm-5 col-form-label">{{ form.paid_status.label }}</label>
                    <div class="col-sm-7"><div>{{ form.paid_status }}</div></div>
                </div>
                <div class="w-400px form-group row">
                    <label for="documents-products" class="ps-4 col-sm-5 col-form-label">{{ form.document_type.label }}</label>
                    <div class="col-sm-7"><div>{{ form.document_type }}</div></div>
                </div>
                <div class="w-400px form-group row ">
                    <label for="documents-products" class="ps-4 col-sm-5 col-form-label">
                    {{ form.start_date.label }}</label>
                    <div class="col-sm-7 d-flex gap-1">
                        <div>{{ form.start_date }}</div>
                        <div>-</div>
                        <div>{{ form.end_date }}</div>
                    </div>
                </div>
        </div>
        <div class="col-xl-1">
            <div class="col-xl-2 d-flex align-items-center align-content-center">
                <div>
                    <button type="button" class="btn border-0">
                        <i class="fa fa-shopping-bag fa-4x"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>