{% load widget_tweaks static %}
<div class="file-manager-toolbar">
    <div>
        <input type="hidden" name="group-id" id="selected-group" />
        <input type="hidden" name="product-id" id="selected-product" />

        <button type="button" class="btn border-0"
            _="on click reload() the location of the window end"
                ><i class="bi bi-plus-lg me-1"
                ></i> Reload</button>
        <button type="button" class="btn border-0"  id="add-group-button"
            hx-get="{% url 'mgt:modal-add-product-group' %}" 
            hx-target="#modalAddProductGroup" 
            hx-trigger="click"
            hx-include="#selected-group"
            href="#modalAddProductGroup" data-bs-toggle="modal"
            >
            <i class="bi bi-plus-lg me-1"></i>
            Add Group</button>
        <!-- both buttons below will use the group-id input as hx-include -->
        <button type="button" class="btn border-0"  id="edit-group-button" disabled
            hx-get="{% url 'mgt:modal-update-product-group' %}" 
            hx-target="#modalAddProductGroup" 
            hx-trigger="click"
            hx-include="#selected-group"
            href="#modalAddProductGroup" data-bs-toggle="modal"
            >
            <i class="bi me-1 bi-copy"></i>
            Edit Group</button>
        <button type="button" class="btn border-0"  id="delete-group-button" disabled
            
            hx-get="{% url 'mgt:modal-delete-product-group' %}" 
            hx-target="#modalDeleteProductGroup" 
            hx-trigger="click"
            hx-include="#selected-group"
            href="#modalDeleteProductGroup"
            data-bs-toggle="modal"
            >
            <i class="bi me-1 bi-trash"></i>
            {% comment %} <input type="hidden" name="group-id" id="delete-group-button-input" /> {% endcomment %}
            Delete Group</button>
        <button type="button"
            _="on click trigger click on the #add-product end" 
            class="btn border-0"><i class="bi me-1 bi-arrows-move"></i>
            Add Product</button>
        <button type="button" class="btn border-0" id="edit-product-button"
            hx-get="{% url 'mgt:modal-update-product' %}" 
            hx-target="#modalAddProduct" 
            hx-trigger="click"
            hx-include="#selected-product"
            data-bs-target="#modalAddProduct" data-bs-toggle="modal"
            disabled
            ><i class="bi me-1 bi-upload"></i> Edit Product</button>
        <button type="button" class="btn border-0"  id="delete-product-button" disabled
            
            hx-get="{% url 'mgt:modal-delete-product' %}" 
            hx-target="#modalDeleteProduct" 
            hx-trigger="click"
            hx-include="#selected-product"
            href="#modalDeleteProduct"
            data-bs-toggle="modal"
            >
            <i class="bi me-1 bi-trash"></i>
            {% comment %} <input type="hidden" name="group-id" id="delete-group-button-input" /> {% endcomment %}
            Delete Product</button>
        {% comment %} <form action="{% url 'printers:export-pdf' %}" method="GET"> {% endcomment %}
        <a href="{% url 'printers:export-pdf' %}" target=_blank class="btn border-0">
            <i class="me-1 fas fa-lg fa-fw me-2 fa-file-pdf"></i>
            Export PDF</a>
            {% comment %} </form> {% endcomment %}
        <a href="{% url 'mgt:mgt-price-tags-control' %}" class="btn border-0">
            <i class="me-1 fas fa-lg fa-fw me-2 fa-hashtag"></i> Price Tags</a>
        
        <button type="button" class="btn border-0" data-bs-toggle="dropdown" data-bs-target="#sorting-menu"><i
            class="me-1 fas fa-lg fa-fw me-2 fa-sort"></i> Sorting</button>
        <div class="dropdown-menu" style="" id="sorting-menu">
            <a class="dropdown-item" href="#">Name</a>
            <a class="dropdown-item" href="#">Product group</a>
            <div role="separator" class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Reset to default</a>
        </div>
        <button type="button" class="btn border-0" data-bs-toggle="dropdown" data-bs-target="#export-menu"><i
            class="me-1 fas fa-lg fa-fw me-2 fa-sort"></i> Export</button>
        <div class="dropdown-menu" style="" id="export-menu">
            <a 
            hx-get="{% url 'mgt:modal-select-product-fields' %}" 
            hx-target="#select-product-fields-modal"
            hx-vals='{"target":"csv"}'
            hx-include="#mgt-products-table"
            hx-trigger="click"
            data-bs-target="#select-product-fields-modal" data-bs-toggle="modal"
            
            class="dropdown-item" href="#">CSV</a>

            <a class="dropdown-item" href="#"
                hx-get="{% url 'mgt:modal-select-product-fields' %}" 
                hx-target="#select-product-fields-modal"
                hx-vals='{"target":"excel"}'
                hx-include="#mgt-products-table"
                hx-trigger="click"
                data-bs-target="#select-product-fields-modal" 
                data-bs-toggle="modal"
            >Excel</a>
            <a class="dropdown-item" href="#">Text</a>
            <div role="separator" class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Reset to default</a>
        </div>
    </div>
    <div class="row w-100 mt-3 p-3 border-top">
        <div class="col-xl-3">
            <div class="form-group row">
                <label for="documents-products" class="col-sm-4 col-form-label">{{ form.product.label }}</label>
                <div class="col-sm-8"><div class="mb-3">{{ form.product }}</div></div>
            </div>
            <div class="form-group row">
                <label for="documents-products" class="col-sm-4 col-form-label">{{ form.customer.label }}</label>
                <div class="col-sm-8"><div class="mb-3">{{ form.customer }}</div></div>
            </div>
            <div class="form-group row">
                <label for="documents-products" class="col-sm-4 col-form-label">{{ form.cash_register.label }}</label>
                <div class="col-sm-8"><div class="mb-3">{{ form.cash_register }}</div></div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="form-group row">
                <label for="documents-products" class="col-sm-4 col-form-label">{{ form.user.label }}</label>
                <div class="col-sm-8"><div class="mb-3">{{ form.user }}</div></div>
            </div>
            <div class="form-group row">
                <label for="documents-products" class="col-sm-4 col-form-label">{{ form.document_type.label }}</label>
                <div class="col-sm-8"><div class="mb-3">{{ form.document_type }}</div></div>
            </div>
            <div class="form-group row">
                <label for="documents-products" class="col-sm-4 col-form-label">{{ form.reference_document_number.label }}</label>
                <div class="col-sm-8"><div class="mb-3">{{ form.reference_document_number }}</div></div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="form-group row">
                <label for="documents-products" class="col-sm-4 col-form-label">{{ form.paid_status.label }}</label>
                <div class="col-sm-8"><div class="mb-3">{{ form.paid_status }}</div></div>
            </div>
            <div class="form-group row">
                <label for="documents-products" class="col-sm-4 col-form-label">{{ form.document_type.label }}</label>
                <div class="col-sm-8"><div class="mb-3">{{ form.document_type }}</div></div>
            </div>
            <div class="form-group row ">
                <label for="documents-products" class="col-sm-4 col-form-label">
                {{ form.start_date.label }}</label>
                <div class="col-sm-8 d-flex gap-1 mb-3">
                    <div>{{ form.start_date }}</div>
                    <div>-</div>
                    <div>{{ form.end_date }}</div>
                </div>
                
            </div>
        </div>
        <div class="col-xl-2 d-flex align-items-center align-content-center">
           <div>
           <button type="button" class="btn border-0">
           <i class="fa fa-shopping-bag fa-4x"></i>
           </button>
           </div>
        </div>
    </div>
</div>