<div class="row">

<div class="col-lg-12 table-responsive h-100">
    <table id='documents-table' class='table table-bordered table-xs w-100 fw-semibold text-nowrap mb-3 display compact stripe'></table>
</div>
<div class="col-lg-12 table-responsive h-100">
    <table id='document-items-table' class='table table-bordered table-xs w-100 fw-semibold text-nowrap mb-3 display compact stripe'></table>
</div>

</div>
{% block additional_js %}
<script>
    document.addEventListener('DOMContentLoaded', async function () {
        await renderDocumentsDataTable('documents-table', '{% url "mgt:documents-datatable-data" %}?datatables=1');
        await renderDocumentsDataTable('document-items-table', '{% url "mgt:documents-datatable-data" %}?datatables=1');
    });
</script>
{% endblock additional_js %}