{% load columns %}
{% include 'mgt/buttons/columns.html' with app_name='products' model_name='Product' %}
<table id="example" class="display" style="width:100%"></table>
</div>
</div>
{% with app_name='products' model_name='Product' %}
<input type="hidden" value="{{ app_name|get_columns:model_name }}" id="columns-content" />
{% endwith %}
{% with app_name='products' model_name='Product' %}
{% block additional_js %}
<script>

var columns = document.getElementById('columns-content').value
console.log(columns)

// Initialize checkboxes to match the initial visibility of the columns
document.addEventListener('DOMContentLoaded', function () {
const table = new DataTable('#example', {
    paging: false,
    scrollY: '200px',
    data: [],
	columns: columns,
});
document.querySelectorAll('input[name="columns-checkbox"]').forEach((checkbox) => {
    checkbox.addEventListener('click', function(e){
		let val = e.target.value
        let column = table.column(val);
        column.visible(!column.visible());
	});
});
  
});
</script>
{% endblock additional_js %}
{% endwith %}