<style>
.f32 .flag {
        vertical-align: middle;
        margin: -8px 0;
    }
 
    progress {
        width: 100%;
    }
</style>
<table id='table' class='table'></table>
    
{% block additional_js %}
<script>
document.addEventListener('DOMContentLoaded', function() {
  var table = document.getElementById('table');

  new DataTable(table, {
    ordering: false,
    ajax: {
      url: '{% url 'mgt:item_datatable' %}?datatables=1',
      dataSrc: 'data'  // Ensure this matches the key in the JSON response.
    },
    serverSide: true,
    columns: [
      { data: 'number', title: 'Number' },
      { data: 'customer__name', title: 'Customer' },  // Match these keys with the JSON response.
      { data: 'document_type__name', title: 'Document Type' },
      { data: 'warehouse__name', title: 'Warehouse' }
    ],
  });
});
</script>
{% endblock additional_js %}