{% extends 'base.html' %}

{% block content %}
<form hx-get="{% url 'stock:stock-list' %}" hx-target="#stock-results" hx-push-url="true">
    {{ filter.form.as_p }}
    <button type="submit">Filter</button>
  </form>
  
  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Warehouse</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody id="stock-results" hx-get="{% url 'stock:stock-list' %}?page=2" hx-trigger="revealed" hx-swap="afterend">
      {% include 'stock/partials/stock_table_rows.html' %}
    </tbody>
  </table>
  
{% endblock content %}