{% load allauth i18n %}
<div class="modal modal-cover fade hide" data-bs-backdrop="static" id="enter-password">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">Pin!</h3>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<form 
			hx-get="{% url 'submit-password' %}"
			hx-target=".content"
			class="modal-body card">
				<div class="card-title mb-3">
					Enter your pin to confirm your identity!
				</div>

				{% comment %} <div class="row mb-3" id="login-email" style="display:none;">
					<div class="col-md-9">
						<input 
						type="email"
						class="form-control form-control-lg" 
						name="email" 
						id="email-input" 
						placeholder="Enter your email here!"
						/>
					</div>
				</div> {% endcomment %}

				
				<div class="card-header mb-5">
					<div class="row">
                        <div class="col-md-10">
                            <input 
                            hx-get="{% url 'enter-pin' %}"
                            hx-target="#password-confirm-button"
                            hx-trigger="keyup changed delay:1s"
                            hx-swap="innerHTML"
                            type="text"
                            class="form-control form-control-lg rounded-0 first-input" 
                            name="pin" 
                            id="password-input" />
                        </div>
                        <div class="col-md-2" id="password-confirm-button">
                            <c-buttons.password_confirm />
                        </div>
                    </div>
				</div>
				<div class="card-body mb-3">
						<c-components.keyboard input="password-input" />
                </div>
				<div class="card-footer">
						<a href="#"
						_="on click
							set *display of #login-email to 'block'
							then log 'it is not working'
						end
						"
						class="text-muted fs-12px"
						>Switch user</a>
				</div>
                <c-card-arrow />
			</form>
		</div>
	</div>
</div>
