{% include 'modals/confirm-logout.html' %}
{% comment %} <div class="modal modal-cover fade" id="modalDeleteProductGroup">
    {% include 'mgt/modals/confirm-delete-group.html' %}
</div> {% endcomment %}
<div class="modal modal-cover fade" id="modalDeleteProductGroup" backdrop="false">
    {% include 'mgt/modals/confirm-delete-group.html' %}
</div>
<div class="modal modal-cover fade" id="modalDeleteProduct" backdrop="false">
    {% include 'mgt/modals/confirm-delete-group.html' %}
</div>
<div class="modal fade" id="modalAddGroup">
    {% include 'mgt/modals/add-group-modal.html' %}
</div>
<div class="modal fade" id="modalAddUser" backdrop="false">
    {% include 'mgt/modals/add-user-modal.html' %}
</div>
<div class="modal fade" id="modalAddDocument" backdrop="false">
    {% include 'mgt/modals/add-document-modal.html' %}
</div>
<div class="modal fade" id="modalSelectDocumentType" backdrop="false">
    {% include 'mgt/modals/select-document-type-modal.html' %}
</div>
<div class="modal fade" id="modalAddProduct" backdrop="false">
    {% include 'mgt/modals/add-product-modal.html' %}
</div>
<div class="modal fade" id="modalAddDocumentProduct" backdrop="false">
    {% include 'mgt/modals/add-document-product-modal.html' %}
</div>
<div class="modal fade" id="modalDeleteOrderItem" backdrop="false">
    {% include 'mgt/modals/confirm-delete-order-item.html' %}
</div>
<div class="modal fade" id="modalAddProductGroup" backdrop="false">
    {% include 'mgt/modals/add-product-group-modal.html' %}
</div>
<div class="modal fade" id="select-product-fields-modal" backdrop="false">
    {% include 'mgt/modals/select-product-fields.html' %}
</div>
<div class="modal fade" id="modalDetail">
    {% include 'mgt/modals/view-product-modal.html' %}
</div>