{% include 'modals/confirm-logout.html' %}
{% comment %} <div class="modal modal-cover fade" id="modalDeleteProductGroup">
    {% include 'mgt/modals/confirm-delete-group.html' %}
</div> {% endcomment %}
<div class="modal modal-cover fade" id="modalDeleteProductGroup" backdrop="false">
    {% include 'mgt/modals/confirm-test.html' %}
</div>
<div class="modal fade" id="modalAddGroup">
    {% include 'mgt/modals/add-group-modal.html' %}
</div>
<div class="modal fade" id="modalAddUser" backdrop="false">
    {% include 'mgt/modals/add-user-modal.html' %}
</div>
<div class="modal fade" id="modalAddProduct" backdrop="false">
    {% include 'mgt/modals/add-product-modal.html' %}
</div>
<div class="modal fade" id="modalAddProductGroup" backdrop="false">
    {% include 'mgt/modals/add-product-group-modal.html' %}
</div>