{% load allauth i18n %}
<div class="modal modal-cover fade hide" id="enter-password">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">Passsword!</h3>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">
				<p class="mb-3">
					Enter your password to confirm your identity!
				</p>
				<div class="row mb-5">
					<div class="col-md-9">
						<input 
						hx-get="{% url 'enter-pin' %}"
						hx-target="#password-confirm-button"
						hx-trigger="keyup changed delay:1s"
						hx-swap="innerHTML"
						type="text"
						class="form-control form-control-lg" 
						name="pin" 
						id="password-input" />
					</div>
					<div class="col-md-3" id="password-confirm-button">
						{% include 'buttons/password-confirm.html' %}
					</div>
				</div>
				<div class="pt-3">
					<a href="#" class="text-muted fs-12px">What is it? Terms and conditions</a>
				</div>
			</div>
		</div>
	</div>
</div>
