
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body overflow-y-auto" style="height: 30vh;">
                <div class="mb-3 row gap-3">
                    <div class="col-6">
                        <h6>This is the select document type category</h6>
                    </div>
                    <div class="col-5">
                        
                        <h6>This is the select document type modal</h6>
                        </div>
                    
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-outline-default" data-bs-dismiss="modal">Cancel</a>
                <button type="submit"  class="btn btn-outline-theme">Submit</button>
            </div>
        </div>
    </div>
