
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Order</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body overflow-y-auto" style="height: 20vh;">
                <div class="mb-3 row gap-3">
                    <div class="col-6">
                        <h6>Select a category</h6>
                        <div class="h-100px">
                            <select class="form-select h-100" multiple
                                hx-get="{% url 'mgt:filter-document-type' %}"
                                hx-target="#document_type_select"
                                hx-swap="outerHTML"
                                name="category-id"
                                >
                                {% for category in categories %}                            
                                <option 
                                    value="{{ category.id }}"
                                    {% if category == selected_cat %}selected{% endif %}
                                    >{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-5">
                        <h6>Select a document type</h6>
                            <input type="hidden" id="selected-document-type-id" />
                            <div class="h-100px" id="document_type_select">
                                <select name="document-type" id="document-type-select" class="form-select" style="height: 100%;"  multiple>
                                    {% for type in document_types %}
                                    <option value="{{ type.id }}"
                                    {% if type == first_type %}selected{% endif %}
                                    >{{ type.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-outline-default" data-bs-dismiss="modal">Cancel</a>
                {% comment %} <button class="btn btn-outline-theme" data-bs-dismiss="modal"
                hx-get="{% url 'mgt:modal-add-document' %}"
                hx-target="#modalAddDocument"
                hx-include="#document_type_select"
                data-bs-target="#modalAddDocument" data-bs-toggle="modal"
                >Next</button> {% endcomment %}
                <button class="btn btn-outline-theme" data-bs-dismiss="modal"
                hx-post="{% url 'mgt:add-new-order'  %}"
                hx-target="#mgt-documents-tab-panes"
                hx-include="#document-type-select"
                hx-vals='{"nav-items":"{{ nav_items|length }}"}'
                _="on click 
                toggle .show on .mg-document-tab
                toggle .active on .mg-document-tab                   
                
                end" 
                >Next</button>
                {% comment %} hx-swap="beforeend" {% endcomment %}
            </div>
        </div>
    </div>
    
    {% comment %} 
        {% endcomment %}