{% load fontawesome_5 globals %}
{% if config %}
    {% comment %} DONE {% endcomment %}
    {% if config.input_type == 'select' %}
        <select name="{{ config.name }}" class="form-select" {% if not config.editable %}disabled{% endif %}>
            <option>Select option</option>
            {% if config.params %}
                {% for item in config.params|split:"," %}
                    <option value="{{ item }}" {% if config.value == item %}selected{% endif %}>{{ item }}</option>
                {% endfor %}
            {% endif %}
        </select>
    {% elif config.input_type == 'number' %}
        <div class="d-flex gap-2 w-120px position-relative">
            <button id="decrease" role="button" type="button" 
                    class="position-absolute h-100 btn btn-outline-theme rounded-0"
                    _="on click if #numberinput-{{config.id}}.value > 0 decrement #numberinput-{{config.id}}.value">
                <i class="fa fa-minus"></i>
            </button>
            <input type="number" name="{{ config.name }}" id="numberinput-{{ config.id }}" readonly
                   class="form-control form-control-sm text-center border-theme border-theme-color"
                   value="{{ config.value|default:'' }}" {% if not config.editable %}disabled{% endif %}
                  _="on mousedown
					halt the event -- prevent text selection... 
					end" />
            <button id="increase" type="button" class="position-absolute end-0 h-100 btn btn-outline-theme rounded-0"
                    _="on click increment #numberinput-{{ config.id }}.value">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    {% elif config.input_type == 'text' %}
        <input type="text" name="{{ config.name }}" class="form-control form-control-sm"
               value="{{ config.value|default:'' }}" {% if not config.editable %}disabled{% endif %}>
    {% elif config.input_type == 'textarea' %}
        <textarea name="{{ config.name }}" class="form-control" rows="3" cols="5"
                  {% if not config.editable %}disabled{% endif %}>{{ config.value|default:'' }}</textarea>

    {% elif config.input_type == 'checkbox' %}
        {% if config.params and config.value %}
            {% for item in config.params|extract_values:config.value %}
                <div class="form-check form-check-inline">
                    <input class="form-check-input mb-2" name="{{ config.name }}" type="checkbox"
                           id="check-{{ item.name }}" value="{{ item.name }}" {% if item.show %}checked{% endif %}>
                    <label class="form-check-label" for="check-{{ item.name }}">{{ item.name }}</label>
                </div>
            {% endfor %}
        {% else %}
            <div class="form-check form-switch">
                {{ config.value }}
                <input type="checkbox" name="{{ config.name }}" class="form-check-input" 
                {% if config.value %}checked{% endif %}   {% if not config.editable %}disabled{% endif %}>
            </div>
        {% endif %}

    {% elif config.input_type == 'radio' %}
        {% if config.params %}
            {% for item in config.params|split:"," %}
                <div class="form-check form-check-inline">
                    <input type="radio" name="{{ config.name }}" id="radio{{ forloop.counter0 }}"
                           class="form-check-input" value="{{ item }}"
                           {% if config.value == item %}checked{% endif %} {% if not config.editable %}disabled{% endif %}>
                    <label class="form-check-label mx-2" for="radio{{ forloop.counter0 }}">{{ item|title }}</label>
                    {% if config.value == item %}
                        <span class="fw-light fs-6">(Default)</span>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    {% elif config.input_type == 'file' %}
        {% if not config.params %}
            <div class="d-flex gap-3">
                <div class="avatar-upload feature-img-upload prefix-upload">
                    <div class="avatar-preview feature-img">
                        <div class="image-preview" style="background-image: url('{{ config.value|default:'/static/dashboard/images/no-photo-available.png' }}');"></div>
                        <div class="w-40px h-40px d-flex align-items-center justify-content-center ms-n1">
                            <img src="{{ config.value|default:'/media/no-photo-available.png' }}" alt="" class="ms-100 mh-100 rounded-circle">
                        </div>
                    </div>
                </div>
                <div>
                    <input type="file" name="image_{{ config.id }}" accept=".png, .jpg, .jpeg"
                           class="form-control form-control-sm image-field" {% if not config.editable %}disabled{% endif %}>
                </div>
            </div>
        {% elif config.params == 'multiple' %}
            <div class="image-field-box">
                {% if config.value %}
                    <div class="d-flex flex-wrap pb-2">
                        {% for val in config.value|split:"," %}
                            <div class="slider-pre pb-2 pe-2">
                                <img src="{{ val }}">
                                <div class="delete-round-button">
                                    <a href="#"><i class="fa-solid fa-xmark"></i></a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <input type="file" name="image_{{ config.id }}" accept=".png, .jpg, .jpeg" multiple
                       class="form-control form-control-sm image-field" {% if not config.editable %}disabled{% endif %}>
            </div>
        {% endif %}
    {% endif %}
{% endif %}
