<div class="d-flex gap-2 w-120px position-relative">
    <button id="decrease" role="button" type="button" 
            class="position-absolute h-100 btn btn-outline-theme rounded-0"
            _="on click if #numberinput-{{config.id}}.value > 0 decrement #numberinput-{{config.id}}.value">
        <i class="fa fa-minus"></i>
    </button>
    <input type="number" name="{{ config.name }}" id="numberinput-{{ config.id }}" readonly
            class="form-control form-control-sm text-center border-theme border-theme-color"
            value="{{ config.value }}" {% if not config.editable %}disabled{% endif %}
            _="on mousedown
            halt the event -- prevent text selection... 
            end" />
    <button id="increase" type="button" class="position-absolute end-0 h-100 btn btn-outline-theme rounded-0"
            _="on click increment #numberinput-{{ config.id }}.value">
        <i class="fa fa-plus"></i>
    </button>
</div>