<div class="tab-pane fade h-100" id="orderHistoryTab">
    <div class="flex-1 gap-3 justify-content-md-center h-100 p-4">
            <a href="#" class="btn btn-outline-theme rounded-0 w-125px me-2 mb-2">
                <i class="bi bi-send-check fa-lg"></i><br>
                <span class="small">Submit Order</span>
            </a>
            <a href="#" class="btn btn-outline-theme rounded-0 w-125px me-2 mb-2">
                <i class="bi bi-send-check fa-lg"></i><br>
                <span class="small">Submit Order</span>
            </a>
            <a href="#" class="btn btn-outline-theme rounded-0 w-125px me-2 mb-2">
                <i class="bi bi-send-check fa-lg"></i><br>
                <span class="small">Submit Order</span>
            </a>
            <a href="#" class="btn btn-outline-theme rounded-0 w-125px me-2 mb-2">
                <i class="bi bi-send-check fa-lg"></i><br>
                <span class="small">Submit Order</span>
            </a>
            <a href="#" class="btn btn-outline-theme rounded-0 w-125px me-2 mb-2">
                <i class="bi bi-send-check fa-lg"></i><br>
                <span class="small">Submit Order</span>
            </a>
            <a href="#" class="btn btn-outline-theme rounded-0 w-125px me-2 mb-2">
                <i class="bi bi-send-check fa-lg"></i><br>
                <span class="small">Submit Order</span>
            </a>
            <a href="#" class="btn btn-outline-theme rounded-0 w-125px me-2 mb-2">
                <i class="bi bi-send-check fa-lg"></i><br>
                <span class="small">Submit Order</span>
            </a>
            <a href="#" class="btn btn-outline-theme rounded-0 w-125px me-2 mb-2">
                <i class="bi bi-send-check fa-lg"></i><br>
                <span class="small">Submit Order</span>
            </a>
            <a href="#" class="btn btn-outline-theme rounded-0 w-125px me-2 mb-2">
                <i class="bi bi-send-check fa-lg"></i><br>
                <span class="small">Submit Order</span>
            </a>
    </div>
</div>