{% extends 'base.html' %}
{% block content %}

<div id="content" class="app-content app-content-full-height">
	<div class="d-flex align-items-center mb-2">
		<div>
			<h1 class="page-header mb-0">Documents</h1>
		</div>
		<div class="ms-auto">
			{% include 'mgt/buttons/add-document-button.html' %}
		</div>
	</div>
    <div class="card flex-1 p-0 m-0 d-flex flex-column rounded-0" id="mgt-document-page">
		<div class="card-header pb-0" id="mgt-new-document-nav">
			<ul class="nav nav-tabs border-0" id="mgt-documents-view-navlink">
				<li class="mgt-document-nav nav-item me-1">
					<a href="#mgt-documents-view-list" 
						class="nav-link px-4 {% if not active_number %}active{% endif %}" 
						data-bs-toggle="tab"
						id="view-document-tab"
						>View list</a>
				</li>
				{% for order in orders %}
				<li class="mgt-document-nav nav-item me-1">
					<a href="#mgt-documents-{{ order.number }}" 
						class="nav-link px-4{% if not active_number == order.number %}active{% endif %}" 
						data-bs-toggle="tab"
						id="view-document-tab"
						>{{order.number}}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="tab-content" id="mgt-documents-tab-panes">
			<div class="mg-document-tab p-0 flex-1 tab-pane fade {% if not active_number %}show active{% endif %}" 
				id="mgt-documents-view-list">
				<div class="file-manager h-100" id="fileManager">
					<div class="row border">
						{% include 'mgt/documents/partials/buttons-toolbar.html' %}
						{% include 'mgt/documents/partials/filter-form.html' %} 
					</div>
				</div>
				<div class="file-manager-content d-flex flex-column">	
					{% include 'mgt/documents/tables/documents-table2.html' %}
				</div>

				<div class="file-manager h-100 border-top" id="fileManager">
					<div class="file-manager-container overflow-auto">	
						{% include 'mgt/documents/tables/documents-table3.html' %}
					</div>
				</div>
			</div>
			{% for order in orders %}
			{% include 'mgt/documents/add/new/document.html' %}
			{% endfor %}

		</div>
        
	
		<div class="card-arrow">
			<div class="card-arrow-top-left"></div>
			<div class="card-arrow-top-right"></div>
			<div class="card-arrow-bottom-left"></div>
			<div class="card-arrow-bottom-right"></div>
		</div>
	</div>
</div>


{% endblock content %}

{% block additional_js %}
<script>
	
	var documentsTopButtons = document.createElement('div');
	documentsTopButtons.innerHTML = `{% include 'documents/partials/top-buttons.html' %}`;

    document.addEventListener('DOMContentLoaded', function () {
			//$( '#id_product' ).select2( {
				//theme: "light"
				//theme: "bootstrap-5",
				//dropdownCssClass: 'dropdown-menu'
				//width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
				//placeholder: $( this ).data( 'placeholder' ),
			//} );
			
	renderDocumentsDataTable(
		['documents-table','document-items-table'],
		[
			'{% url "mgt:documents-datatable-data" %}?datatables=1',
			'{% url "mgt:document-items-datatable" %}?document-id=&datatables=1'
		]
		);
	

	
    });
</script>
{% endblock additional_js %}

{% comment %} <div>
	<label for="id_number">Number:</label>
	<input type="text" name="number" value="order-None09112024-3971" class="form-control form-control-sm" id="id_number">
</div>
<div>
	<label for="id_customer">Customer:</label>
	<select name="customer" class="form-select form-select-sm" id="id_customer">
		<option value="" selected>---------</option>
		<option value="1">Good Customer</option>
	</select>
</div>
<div>
	<label for="id_discount_type">Discount type:</label>
	<select name="discount_type" class="form-select form-select-sm" hx-get="/mgt/add-document-change-qty/" hx-target="#add-product-form-render" hx-swap="outerHTML" hx-include="#add-doc-create-item-form" _="
		on change
		if my value is 0 set #discount-type-sign.innerText to &#x27;%&#x27;
		else set #discount-type-sign.innerText to &#x27;$&#x27;  end" id="id_discount_type">
		<option value="0">Percent</option>
		<option value="1">Amount</option>
	</select>
</div>
<div>
	<label for="id_discount">Discount:</label>
	<input type="text" name="discount" class="form-control form-control-sm" hx-trigger="keyup changed delay:500ms" hx-get="/mgt/add-document-change-qty/" hx-target="#add-product-form-render" hx-swap="outerHTML" hx-include="#add-doc-create-item-form" id="id_discount">
</div>
<div>
	<label for="id_document_type">Document type:</label>
	<select name="document_type" required id="id_document_type">
		<option value="">---------</option>
		<option value="1">100 | Purchase</option>
		<option value="2" selected>200 | Sales</option>
		<option value="3">300 | Inventory Count</option>
		<option value="4">220 | Refund</option>
		<option value="5">120 | Stock Return</option>
		<option value="6">400 | Loss And Damage</option>
		<option value="7">230 | Proforma</option>
	</select>
</div> {% endcomment %}