{% extends 'base.html' %}

{% block content %}
<div id="content" class="app-content py-3">
	<div class="d-flex align-items-center mb-3">
		<div>
			
			<h1 class="page-header mb-0">Documents</h1>
		</div>
		<div class="ms-auto">
			{% comment %} _="on click toggle .active" {% endcomment %}
			{% include 'mgt/buttons/add-product-button.html' %}
		</div>
	</div>
    <div class="card flex-1 m-0 d-flex flex-column rounded-0">
        <div class="card-header fw-bold small d-flex">
            <ul class="breadcrumb flex-grow-1">
                <li class="breadcrumb-item"><a href="/mgt/">MANAGEMENT</a></li>
                <li class="breadcrumb-item active">PRODUCTS</li>
            </ul>
			<a href="#" data-toggle="card-expand" class="text-white text-opacity-50 text-decoration-none"><i
				class="fa fa-fw fa-expand"></i> EXPAND</a>
		</div>
        <div class="card-body p-0 flex-1">
            <div class="file-manager h-100" id="fileManager">
                {% include 'mgt/documents/partials/buttons-toolbar.html' %}
                
				
				<div class="file-manager-container">
				{% comment %} <table id="documents-table" class="display" width="100%"></table> {% endcomment %}
					{% include 'mgt/documents/partials/documents-table.html' %}
                </div>
            </div>
        </div>
		<div class="card-arrow">
			<div class="card-arrow-top-left"></div>
			<div class="card-arrow-top-right"></div>
			<div class="card-arrow-bottom-left"></div>
			<div class="card-arrow-bottom-right"></div>
		</div>
    </div>
	<input type="hidden" id="documents-dist" value="{{ documents_dict }}" />
	<script>
	/*
	fetch('/mgt/api/documents/')
		.then(res => res.json())
		.then(data => {
			var formattedData = data.map(function(item) {
                    return [
                        item.number,
                        item.cash_register,
                        new Date(item.date).toLocaleString(),
                        item.reference_document_number,
                        new Date(item.due_date).toLocaleString(),
                        item.paid_status ? 'Paid' : 'Unpaid'
                    ];
                });
				// Initialize the DataTable
                new DataTable('#documents-table', {
                    columns: [
                        { title: 'Number' },
                        { title: 'Cash Register' },
                        { title: 'Date' },
                        { title: 'Reference Document Number' },
                        { title: 'Due Date' },
                        { title: 'Paid Status' }
                    ],
                    data: formattedData
                });
		})
		*/
	var table = document.getElementById('documents-table')
	var resizeBody = function() {
		// handleDataTable()
		document.getElementsByClassName('dataTable')[0].style.width = `${window.innerWidth}px`;
		console.log(document.getElementsByClassName('dataTable')[0].style.width)
	}
	var handleDataTable = function(){
			var header = document.getElementById('header')
			var height = window.innerHeight - header.offsetHeight - 25;
			var width = window.innerWidth ;
			
			var options = {
				//dom: "-sm-12 col-md-5 fs-12px'i><'col-sm-12 col-md-7 fs-12px'p>>",
				scrollX: width - 100,
				pageLength: 10,
				//scrollX: true,
				//lengthMenu: [10, 20, 50, 75, 100]
				//scrollY: 500,
				//scrollY: height,
				//scroller: true,
				//responsive: true,
				//deferRender:    true,
				autoWidth: true,
				select: true,
				fixedHeader: true,
				fixedColumns: { left: 3 },
				order: [[1, 'asc']],
				
				//order: [[1, 'asc']],
				//columnDefs: [{ targets: 'no-sort', orderable: false }],
				/*
				columns: [
                    { "data": "number" },
                    { "data": "cash_register" },
                    { "data": "date", "render": function(data) {
                        return new Date(data).toLocaleString();
                    }},
                    { "data": "reference_document_number" },
                    { "data": "due_date", "render": function(data) {
                        return new Date(data).toLocaleString();
                    }},
                    { "data": "paid_status", "render": function(data) {
                        return data ? 'Paid' : 'Unpaid';
                    }}
                ] 
				
				*/
			}

			var table = new DataTable('#documents-table', options);
			console.log(table)
        	};

	
		document.addEventListener("DOMContentLoaded", (event) => {
		handleDataTable()
		});
		
	</script>
</div>
{% endblock content %}

{% block additional_js%}
{% endblock additional_js%}