<c-base>
  <c-slot name="extra_app_class">app-content-full-height position-relative</c-slot>
  <c-slot name="content fade">
    <div
      id="content"
      hx-on::load="bInput=htmx.find('#barcode-input');bInput.value= '';bInput.focus();"
      class="app-content p-1 ps-xl-4 pe-xl-4 pt-xl-3 pb-xl-3"
      hx-ext="ws"
      ws-connect="/ws/orders/">
      {{ pos_content }}
      <c-buttons.mobile_sidebar />
      <div>
  </c-slot>
  <c-panels.orders />

  {% comment %} {% include 'pos/modals/pos-panel.html' %} {% endcomment %}

  <c-slot name="modals">
    <c-pos.modals />
  </c-slot>
  <c-slot name="additional_js">
    <script>
      console.log("additional_js from pos_base");
    </script>
    <c-scripts.resize />
    <c-pos.tabs.scripts />
    {{ additional_pos_script }}
  </c-slot>
</c-base>