{% extends 'base.html' %}
{% block content %}

<div id="content" class="app-content">
	<div class="d-flex align-items-center mb-2">
		<div>
			<h1 class="page-header mb-0">Documents</h1>
		</div>
		<div class="ms-auto">
            {% include 'buttons/add-document.html' %}
		</div>
	</div>
    <div class="card flex-1 p-0 m-0 d-flex flex-column rounded-0" id="mgt-orders-page">
    <div class="card-header pb-0">
			{% include 'nav/documents-view.html' %}
		</div>
        <div class="tab-content" id="mgt-documents-tab-panes">
            <div class="p-0 flex-1 tab-pane fade show active" id="mgt-documents-view-list">
                <div class="file-manager h-100" id="fileManager">
					<div class="row border">
						{% include 'mgt/documents/partials/buttons-toolbar.html' %}
						{% include 'mgt/documents/partials/filter-form.html' %} 
					</div>
				</div>
                <div class="file-manager-content d-flex flex-column">

                    <!-- document table -->
                    <div class="file-manager h-100 border-top" id="fileManager">
                        <div class="file-manager-container overflow-auto">
                            {% include 'datatables/document-table.html' %}
                        </div>
                    </div>=
                    
                    <!-- document item table -->
                    <div class="file-manager h-100 border-top" id="fileManager">
                        <div class="file-manager-container overflow-auto">
                            {% include 'datatables/document-item-table.html' %}
                        </div>
                    </div>==

                    
                </div>
            </div>
            {% for order in orders %}
            {% include 'orders/add/new/document.html' %}
            {% endfor %}
        </div>
        {% include 'components/card-arrow.html' %}
    </div>
    
</div>

{% endblock content %}

{% block additional_js %}
{% include 'scripts/documents-datatables.html' %}
{% endblock additional_js %}