<div class="price-tag" style="background-color: #ffffff;width: 100%;height: 100%;padding: 10px;display: flex;flex-direction: column;align-items: center;box-sizing: border-box;">
    <div style="font-size: 15px;font-weight: bold;color: black;margin-bottom: 0px;">PRODUCT CODE: {{product.code}}</div>
    <div style="font-size: 25px;font-weight: bold;color: black;">{{product.price|floatformat:"0"}} IQD</div>
    <div class="barcode">
        <img style="width:95%;" src="{{ product.barcode.image.url }}" alt="Barcode">
    </div>
</div>