<form class="list-group list-group-flush" id="price-tag-forms">
    <div class="list-group-item fw-bold px-3 d-flex">
    <div class="d-flex flex-fill align-items-center">
                <a href="javascript:window.history.back();"
                    class="btn btn-outline-default text-nowrap btn-sm px-3 rounded-pill"><i
                        class="fa fa-arrow-left me-1 ms-n1"></i> Back</a>
            </div>
        
        <a href="#" class="text-inverse text-opacity-50"><i class="fa fa-cog"></i></a>
    </div>
    <div class="list-group-item px-3">
        
                <div class="row no-gutters">
                    <div class="col-md-12 px-auto">
                        <div class="card-margins">  
                            <!-- arrow -->
                            <div class="card-margins-arrow">
                                <div class="card-form-arrow-label text-center">
                                    MARGINS
                                </div>
                                <div class="card-form-arrow-left">
                                    <div class="form-group text-center px-75px">
                                        {% comment %} <label>Padding left</label> {% endcomment %}
                                        {% include 'mgt/products/price-tags/forms/number-input.html' with config=option_forms.padding_left %}	
                                    </div>
                                </div>
                                <div class="card-form-arrow-bottom">
                                    <div class="form-group text-center px-75px">
                                        {% comment %} <label>Padding bottom</label> {% endcomment %}
                                        {% include 'mgt/products/price-tags/forms/number-input.html' with config=option_forms.padding_bottom %}	
                                    </div>
                                </div>
                                <div class="card-form-arrow-top">
                                    <div class="form-group text-center px-75px">
                                        {% comment %} <label>Padding top</label> {% endcomment %}
                                        {% include 'mgt/products/price-tags/forms/number-input.html' with config=option_forms.padding_top %}	
                                    </div>
                                </div>
                                <div class="card-form-arrow-right">
                                    <div class="form-group text-center px-75px">
                                        {% comment %} <label>Padding right</label> {% endcomment %}
                                        {% include 'mgt/products/price-tags/forms/number-input.html' with config=option_forms.padding_right %}	
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="px-auto form-group d-flex align-content-center gap-3 mb-1 mt-4">
                        <div class="form-group d-flex align-items-center gap-2 ms-4">
                            <label class="form-label" for="exampleFormControlInput1">
                                <small class="text-inverse text-opacity-50">Width</small>
                            </label>
                            {% include 'mgt/products/price-tags/forms/number-input.html' with config=option_forms.frame_width %}
                        </div>
                        <div class="form-group d-flex align-items-center gap-2">
                            <label class="form-label" for="exampleFormControlInput1">
                            <small class="text-inverse text-opacity-50">Height</small>
                            </label>
                            {% include 'mgt/products/price-tags/forms/number-input.html' with config=option_forms.frame_height %}
                        </div>
                    </div>
                </div>
    </div>
    <div class="list-group-item px-3">
        <div class="text-inverse text-opacity-50 mb-1"><small><strong>Show elements</strong></small></div>	
        <div class="row no-gutters">
            <div class="col-md-12">
                <div class="form-group mb-1">
                    <div class="form-check form-switch form-check-inline">
                        {% include 'mgt/products/price-tags/forms/checkbox-input.html' with config=option_forms.code_show %}
                        <label class="form-check-label" for="inlineCheckbox1">Code</label>
                    </div>
                    <div class="form-check form-switch form-check-inline">
                        {% include 'mgt/products/price-tags/forms/checkbox-input.html' with config=option_forms.name_show %}
                        <label class="form-check-label" for="inlineCheckbox2">Name</label>
                    </div>
                    <div class="form-check form-switch form-check-inline">
                        {% include 'mgt/products/price-tags/forms/checkbox-input.html' with config=option_forms.price_show %}
                        <label class="form-check-label" for="inlineCheckbox3">Price</label>
                    </div>
                    <div class="form-check form-switch form-check-inline">
                        {% include 'mgt/products/price-tags/forms/checkbox-input.html' with config=option_forms.barcode_show %}
                        <label class="form-check-label" for="inlineCheckbox4">Barcode</label>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="h-100 w-100" style="background: url(assets/img/gallery/news-1.jpg) center; background-size: cover;"></div>
            </div>
        </div>
    </div>
    <div class="list-group-item px-3">
        <div class="text-inverse text-opacity-75 mb-1 text-theme"><small><strong class="text-theme">Product code formats</strong></small></div>
        <div class="form-group d-flex flex-wrap gap-2 mb-1">
            <div>
                <label class="form-label mb-1" for="exampleFormControlInput1">
                <small class="text-inverse text-opacity-50">Margin bottom</small>
                </label>
                {% include 'mgt/products/price-tags/forms/number-input.html' with config=option_forms.code_margin_bottom %}
            </div>
            <div>
                <label class="form-label mb-1" for="exampleFormControlInput1">
                    <small class="text-inverse text-opacity-50">Font size</small>
                </label>
                {% include 'mgt/products/price-tags/forms/number-input.html' with config=option_forms.code_font_size %}
            </div>
            <div>
                <label class="form-label mb-1" for="exampleFormControlInput1">
                <small class="text-inverse text-opacity-50">Font weight</small>
                </label>
                {% include 'mgt/products/price-tags/forms/select-input.html' with config=option_forms.code_font_weight %}
            </div>
            <div>
                <label class="form-label mb-1" for="exampleFormControlInput1">
                <small class="text-inverse text-opacity-50">Font color</small>
                </label>
                {% include 'mgt/products/price-tags/forms/text-input.html' with config=option_forms.code_font_color %}
            </div>
        </div>
        <div class="text-inverse text-opacity-75 mb-1 text-theme"><small><strong class="text-theme">Product name formats</strong></small></div>
        <div class="form-group d-flex flex-wrap gap-2 mb-1">
            <div>
                <label class="form-label mb-1" for="exampleFormControlInput1">
                    <small class="text-inverse text-opacity-50">Margin bottom</small>
                </label>
                {% include 'mgt/products/price-tags/forms/number-input.html' with config=option_forms.name_margin_bottom %}
            </div>
            <div>
                <label class="form-label mb-1" for="exampleFormControlInput1">
                    <small class="text-inverse text-opacity-50">Font size</small>
                </label>
                {% include 'mgt/products/price-tags/forms/number-input.html' with config=option_forms.name_font_size %}
            </div>
            <div>
                <label class="form-label mb-1" for="exampleFormControlInput1">
                <small class="text-inverse text-opacity-50">Font weight</small>
                </label>
                {% include 'mgt/products/price-tags/forms/select-input.html' with config=option_forms.name_font_weight %}
            </div>
            <div>
                <label class="form-label mb-1" for="exampleFormControlInput1">
                <small class="text-inverse text-opacity-50">Font color</small>
                </label>
                {% include 'mgt/products/price-tags/forms/text-input.html' with config=option_forms.name_font_color %}
            </div>
        </div>
        <div class="text-inverse text-opacity-75 mb-1 text-theme"><small><strong class="text-theme">Product price formats</strong></small></div>
        <div class="form-group d-flex flex-wrap gap-2 mb-1">
            <div>
                <label class="form-label mb-1" for="exampleFormControlInput1">
                    <small class="text-inverse text-opacity-50">Font size</small>
                </label>
                {% include 'mgt/products/price-tags/forms/number-input.html' with config=option_forms.price_margin_bottom %}
            </div>
            <div>
                <label class="form-label mb-1" for="exampleFormControlInput1">
                    <small class="text-inverse text-opacity-50">Font size</small>
                </label>
                {% include 'mgt/products/price-tags/forms/number-input.html' with config=option_forms.price_font_size %}
            </div>
            <div>
                <label class="form-label mb-1" for="exampleFormControlInput1">
                <small class="text-inverse text-opacity-50">Font weight</small>
                </label>
                {% include 'mgt/products/price-tags/forms/select-input.html' with config=option_forms.price_font_weight %}
            </div>
            <div>
                <label class="form-label mb-1" for="exampleFormControlInput1">
                <small class="text-inverse text-opacity-50">Font color</small>
                </label>
                {% include 'mgt/products/price-tags/forms/text-input.html' with config=option_forms.price_font_color %}
            </div>
        </div>
        <div class="text-inverse text-opacity-75 mb-1 text-theme"><small><strong class="text-theme">Product barcode formats</strong></small></div>
        <div class="form-group d-flex flex-wrap gap-2 mb-1">
            <div>
                <label class="form-label mb-1" for="exampleFormControlInput1">
                <small class="text-inverse text-opacity-50">Barcode width</small>
                </label>
                {% include 'mgt/products/price-tags/forms/number-input.html' with config=option_forms.barcode_width %}
            </div>
            <div>
                <label class="form-label mb-1" for="exampleFormControlInput1">
                <small class="text-inverse text-opacity-50">Barcode height</small>
                </label>
                {% include 'mgt/products/price-tags/forms/number-input.html' with config=option_forms.barcode_height %}
            </div>
        </div>
    </div>
    
    <div class="list-group-item text-center d-flex gap-3">
        <button 
            hx-get="{% url 'mgt:price-tag-preview' %}"
            hx-target="#price-tag-sample"
            hx-include="#price-tag-forms"
            class="btn btn-sm btn-outline-theme list-group-action">
            Print preview
        </button>
        <button class="btn btn-sm btn-outline-theme list-group-action">
            Update defaults
        </button>
        <button class="btn btn-sm btn-outline-theme list-group-action">
            Print selected products
        </button>
    </div>
</form>