<!-- BEGIN #modalPosItem -->
{% load static %}
<div class="modal-dialog" style="max-width: 600px">
    <div class="modal-content">
        <div class="modal-header py-2">
            <h5 class="modal-title fs-16px">{{ item.number }}</h5>
            <button class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
            <div class="row gx-4 align-items-center">
                <div class="col-sm-5 mb-3 mb-sm-0">
                    <div class="card">
                        <div class="card-body p-2">
                            <img src="{{ product.img }}" class="mw-100 d-block" alt="">
                        </div>
                        <c-card-arrow />
                    </div>
                </div>
                <div class="col-sm-7 py-1 fs-13px">
                    <div class="row mb-10px">
                        <div class="col-4 fw-bold">Model:</div>
                        <div class="col-8 text-white">{{ product.name }}</div>
                    </div>
                    <div class="row mb-10px">
                        <div class="col-4 fw-bold">Colour:</div>
                        <div class="col-8 text-white">{{ product.color }}</div>
                    </div>
                    <div class="row mb-10px">
                        <div class="col-4 fw-bold">Quantity:</div>
                        <div class="col-8 text-white">
                            <c-forms.quantity id="modal-qty-input-{{ item.number }}" />
                        </div>
                    </div>
                    <div class="row mb-10px">
                        <div class="col-4 fw-bold">Size:</div>
                        <div class="col-8 text-white">147 x 72 x 7.8mm</div>
                    </div>
                    <div class="row mb-10px">
                        <div class="col-4 fw-bold">Category:</div>
                        <div class="col-8 text-white"><span class="badge bg-theme text-theme-color py-1 fs-10px my-n1 fw-bold">{{ product.parent_group.name }}</span></div>
                    </div>
                    <div class="row mb-10px">
                        <div class="col-4 fw-bold">Price:</div>
                        <div class="col-8 text-white">{{ product.currency.name }} {{ product.price|floatformat:"0" }}</div>
                    </div>
                    <div class="row mb-10px">
                        <div class="col-4 fw-bold">Cost:</div>
                        <div class="col-8 text-white">$1,899</div>
                    </div>
                    <div class="row mb-10px">
                        <div class="col-4 fw-bold">Profit:</div>
                        <div class="col-8 text-success">$200</div>
                    </div>
                    <div class="row">
                        <div class="col-4 fw-bold">Stock:</div>
                        <div class="col-8 text-white"><input type="text" class="form-control form-control-sm w-100px" value="20"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" data-bs-dismiss="modal" class="btn btn-outline-default w-100px">Cancel</a>
            <button type="submit" class="btn btn-outline-theme">Save &amp; Publish</button>
        </div>
    </div>
</div>
