{% load humanize %}

<div class="tab-content pt-3">
  <!-- hx-include="find input" -->
  {% for pt in payment_types %}
  <div
    class="tab-pane fade {% if pt == payment_type %} show active{% endif %}"
    id="pt-{{ pt.id }}"
    role="tabpanel"
    aria-labelledby="{{ pt.name }}-tab"
  >
    <div class="d-flex mb-3">
      <div class="h4 me-2 text-lg-start">{{ pt.name }}</div>
      <div class="flex-fill">
        <input type="hidden" name="payment_type" value="{{ pt.id }}" />
        <input
          type="text"
          class="h4 focus-ring-none w-100 text-end pos-form-control rounded-0 border-0 border-bottom first-input"
          value="{{ remaining|floatformat:'2'|intcomma }}"
          id="payment-amount-{{ pt.id }}"
          name="payment-amount"
          hx-get="{% url 'payments:change' active_order.number %}"
          hx-target="#paid-change"
          hx-trigger="keyup changed delay:750ms"
          hx-include="#order-payment"
        />
        <!-- name="payment-amount-{{ pt.code }}" -->
      </div>
    </div>
  </div>
  {% endfor %}
</div>
