{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<div id="content" class="app-content">
	<div class="d-flex align-items-center mb-3">
		<div>
			<ul class="breadcrumb">
				<li class="breadcrumb-item"><a href="/mgt/">MANAGEMENT</a></li>
				<li class="breadcrumb-item active">STOCKS</li>
			</ul>
			<h1 class="page-header mb-0">Stocks</h1>
		</div>
		<div class="ms-auto">
			<a href="#" class="btn btn-outline-theme" id="foo"
			_="	on click 
					transition my *height to 150px 
					wait 2 seconds 
				then transition my *height to initial
				then beep! #tpd value"
			><i class="fa fa-plus-circle fa-fw me-1"></i> Add Product</a>
		</div>
	</div>
	<div class="mb-sm-4 mb-3 d-sm-flex">
		<div class="mt-sm-0 mt-2"><a href="#" class="text-inverse text-opacity-75 text-decoration-none"><i class="fa fa-download fa-fw me-1 text-theme"></i> Export</a></div>
		<div class="ms-sm-4 mt-sm-0 mt-2"><a href="#" class="text-inverse text-opacity-75 text-decoration-none"><i class="fa fa-upload fa-fw me-1 text-theme"></i> Import</a></div>
		<div class="ms-sm-4 mt-sm-0 mt-2 dropdown-toggle">
			<a href="#" data-bs-toggle="dropdown" class="text-inverse text-opacity-75 text-decoration-none" aria-expanded="false">More Actions</a>
			<div class="dropdown-menu" style="">
				<a class="dropdown-item" href="#">Action</a>
				<a class="dropdown-item" href="#">Another action</a>
				<a class="dropdown-item" href="#">Something else here</a>
				<div role="separator" class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">Separated link</a>
			</div>
		</div>
	</div>
	<div class="card">
		<ul class="nav nav-tabs nav-tabs-v2 px-4" role="tablist">
			<li class="nav-item me-3" role="presentation"><a href="#allTab" class="nav-link active px-2" data-bs-toggle="tab" aria-selected="true" role="tab">All</a></li>
			<li class="nav-item me-3" role="presentation"><a href="#publishedTab" class="nav-link px-2" data-bs-toggle="tab" aria-selected="false" tabindex="-1" role="tab">Published</a></li>
			<li class="nav-item me-3" role="presentation"><a href="#expiredTab" class="nav-link px-2" data-bs-toggle="tab" aria-selected="false" tabindex="-1" role="tab">Expired</a></li>
			<li class="nav-item me-3" role="presentation"><a href="#deletedTab" class="nav-link px-2" data-bs-toggle="tab" aria-selected="false" tabindex="-1" role="tab">Deleted</a></li>
		</ul>
		<div class="tab-content p-4">
			<div class="tab-pane fade show active" id="allTab" role="tabpanel">
				<div class="input-group mb-4">
					<button class="btn btn-outline-default dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter products &nbsp;</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
						<a class="dropdown-item" href="#">Something else here</a>
						<div role="separator" class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Separated link</a>
					</div>
					<div class="flex-fill position-relative">
						<div class="input-group">
							<div class="input-group-text position-absolute top-0 bottom-0 bg-none border-0 pe-0" style="z-index: 1020;">
								<i class="fa fa-search opacity-5"></i>
							</div>
							<input 
							id="tpd" 
							type="text" 
							class="form-control active ps-35px" 
							placeholder="Search products"
							_="on keyup show <tr/> in <tbody/> when its textContent contains my value" 
							>
							<div class="input-group-text position-absolute top-0 bottom-0 end-3 bg-none border-0 pe-0" style="z-index: 1020;">
								<i class="fa fa-search opacity-5"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table table-hover text-nowrap">
						<thead>
							<tr>
								<th class="pt-0 pb-2"></th>
								<th class="pt-0 pb-2">Product</th>
								<th class="pt-0 pb-2">Inventory</th>
								<th class="pt-0 pb-2">Type</th>
								<th class="pt-0 pb-2">Vendor</th>
							</tr>
						</thead>
						<tbody>
                            {% for stock in stocks %}
							<tr>
								<td class="w-10px align-middle">
									<div class="form-check">
										<input type="checkbox" class="form-check-input" id="product1">
										<label class="form-check-label" for="product1"></label>
									</div>
								</td>
								<td>
									<div class="d-flex align-items-center">
										<div class="w-50px h-50px bg-inverse bg-opacity-25 d-flex align-items-center justify-content-center">
											<img alt="" class="mw-100 mh-100" src="{{ stock.product.img }}">
										</div>
										<div class="ms-3">
											<a href="page_product_details.html" class="text-inverse text-opacity-75 text-decoration-none">{{ stock.product.name }}</a>
										</div>
									</div>
								</td>
								<td class="align-middle">{{ stock.quantity }}{{ stock.product.measurement_unit }} @ {{ stock.warehouse.name }}</td>
								<td class="align-middle">{{ stock.product.parent_group.name }}</td>
								<td class="align-middle">Force Majeure</td>
							</tr>
                            {% endfor %}
						</tbody>
					</table>
				</div>
				<div class="flex-1 align-items-center">
					<form>
						<div class="row">
						<div class="col-xl-6">
						<div class="form-group mb-3">
						<label class="form-label" for="exampleFormControlInput1">Text input</label>
						<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
						</div>
						<div class="form-group mb-3">
						<label class="form-label" for="exampleFormControlTextarea1">Textarea</label>
						<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
						</div>
						<div class="form-group mb-3">
						<label class="form-label" for="exampleFormControlFile1">File input</label>
						<input type="file" class="form-control" id="exampleFormControlFile1">
						</div>
						</div>
						<div class="col-xl-6">
						<div class="form-group mb-3">
						<label class="form-label" for="exampleFormControlSelect1">Select dropdown</label>
						<select class="form-select" id="exampleFormControlSelect1">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						</select>
						</div>
						<div class="form-group mb-3">
						<label class="form-label" for="exampleFormControlSelect2">Multiple select</label>
						<select multiple="" class="form-select" id="exampleFormControlSelect2">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						</select>
						</div>
						</div>
						</div>
						</form>
					{% render_field form.parent_group class="form-select" %}
				</div>
				<div class="d-md-flex align-items-center">
					<div class="me-md-auto text-md-left text-center mb-2 mb-md-0">
						Showing 1 to 10 of 57 entries
					</div>
					<ul class="pagination mb-0 justify-content-center">
						<li class="page-item disabled"><a class="page-link">Previous</a></li>
						<li class="page-item"><a class="page-link" href="#">1</a></li>
						<li class="page-item active"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">4</a></li>
						<li class="page-item"><a class="page-link" href="#">5</a></li>
						<li class="page-item"><a class="page-link" href="#">6</a></li>
						<li class="page-item"><a class="page-link" href="#">Next</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="card-arrow">
			<div class="card-arrow-top-left"></div>
			<div class="card-arrow-top-right"></div>
			<div class="card-arrow-bottom-left"></div>
			<div class="card-arrow-bottom-right"></div>
		</div>
	</div>
</div>
{% endblock content %}