<div class="mb-0 pt-10px d-flex flex-wrap text-nowrap pb-0">
    <button type="button" class="btn btn-sm btn-default me-2 mb-10px px-2"><i class="fa fa-fw fa-home"></i></button>
    <button type="button" class="btn btn-sm btn-default me-2 mb-10px" disabled=""><i class="fa fa-fw fa-arrow-turn-up ms-n1"></i> Up One Level</button>
    <div class="btn-group me-2 mb-10px">
        <button type="button" class="btn btn-sm btn-default" id="documents-table-paging-previous"><i class="fa me-1 fa-arrow-left"></i> Back</button>
        <button type="button" class="btn btn-sm btn-default" id="documents-table-paging-next"><i class="fa me-1 fa-arrow-right"></i> Forward</button>
    </div>
    <button type="button" class="btn btn-sm btn-default me-2 mb-10px px-2"><i class="fa fa-fw fa-arrows-rotate"></i></button>
    <div class="btn-group me-2 mb-10px">
        <button type="button" class="btn btn-sm btn-default" id="documents-table-select-all"><i class="fa fa-fw fa-check ms-n1"></i> Select All</button>
        <button type="button" class="btn btn-sm btn-default" id="documents-table-deselect-all"><i class="far fa-fw fa-square ms-n1"></i> Unselect All</button>
    </div>
</div>