{% extends 'pos/pos_base.html' %}
{% load static %}

{% block pos_content %}
<style>
    #drag-handle {
        background-color: #666;
        cursor: ew-resize;
        z-index: 10;
        position: relative;
    }
    #container1, #container2 {
        {% comment %} transition: width 0.200ms ease; {% endcomment %}
        min-width: 250px; /* Enforce minimum width visually */
    }
</style>
    <div class="pos-container card-body" style="width: 100%;">
        <div class="pos-menu" style="width: 10%">
            <div class="logo w-100" >
                <a href="{% url 'index' %}">
                    <div class="logo-img">
                    <img class="" src="{% static 'app/img/icons/zeneon-icon-white-02.svg' %}" style="width: 3.1rem;" />
                    </div>
                    <div class="h6">Zeneon LLC.</div>
                </a>
            </div>
            
            <div class="nav-container">
                <div data-scrollbar="true" data-height="100%" data-skip-mobile="true">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#" data-filter="all">
                                <div class="card">
                                    <div class="card-body">
                                        <i class="fa fa-fw fa-utensils"></i> All Products
                                    </div>
                                    <div class="card-arrow">
                                        <div class="card-arrow-top-left"></div>
                                        <div class="card-arrow-top-right"></div>
                                        <div class="card-arrow-bottom-left"></div>
                                        <div class="card-arrow-bottom-right"></div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        {% for group in groups %}
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-filter="{{ group.id }}">
                                <div class="card">
                                    <div class="card-body">
                                        <i class="fa fa-fw fa-drumstick-bite"></i> {{ group.name }}
                                    </div>
                                    {% include 'components/card-arrow.html' %}
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div id="container1" style="width: 44%; height: 100%; float: left; background-color: lightblue;">
            <!-- Content of container 1 -->
        </div>
        <div class="d-flex align-items-center justify-content-center" id="drag-handle" style="width: 1.2%; height: 100%; float: left; cursor: ew-resize; background-color: gray;">
            <i class="fas fa-lg fa-fw me-2 fa-ellipsis-v"></i>
        </div>
        <div id="container2" style="width: 44%; height: 100%; float: left; background-color: lightcoral;">
            <!-- Content of container 2 -->
        </div>
    </div>


{% endblock pos_content %}

{% block additional_js %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        interact('#drag-handle').draggable({
            axis: 'x', // Restrict movement to horizontal dragging
            listeners: {
                move(event) {
                    const container1 = document.getElementById('container1');
                    const container2 = document.getElementById('container2');
    
                    // Get the current widths
                    const container1Width = parseFloat(window.getComputedStyle(container1).width);
                    const container2Width = parseFloat(window.getComputedStyle(container2).width);
    
                    // Set minimum width in pixels
                    const minWidth = 250;
    
                    // Calculate new widths
                    const deltaX = event.dx;
                    const newContainer1Width = container1Width + deltaX;
                    const newContainer2Width = container2Width - deltaX;
    
                    // Apply new widths with minimum width constraint
                    if (newContainer1Width >= minWidth && newContainer2Width >= minWidth) {
                        container1.style.width = `${newContainer1Width}px`;
                        container2.style.width = `${newContainer2Width}px`;
                    }
                }
            }
        });
    });
    </script>
    
    
{% endblock additional_js %}