{% extends 'pos/pos_base.html' %}
{% load static %}

{% block pos_content %}
<div class="pos card" id="pos">
    <div class="pos-container card-body">
        <div class="pos-menu">
            <div class="logo">
                <a href="{% url 'index' %}">
                    <div class="logo-img">
                    <img class="" src="{% static 'app/img/icons/zeneon-icon-white-02.svg' %}" style="width: 3.1rem;" />
                    </div>
                    <div class="logo-text">Zeneon LLC.</div>
                </a>
            </div>
            <div class="nav-container">
                <div data-scrollbar="true" data-height="100%" data-skip-mobile="true">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#" data-filter="all">
                                <div class="card">
                                    <div class="card-body">
                                        <i class="fa fa-fw fa-utensils"></i> All Products
                                    </div>
                                    <div class="card-arrow">
                                        <div class="card-arrow-top-left"></div>
                                        <div class="card-arrow-top-right"></div>
                                        <div class="card-arrow-bottom-left"></div>
                                        <div class="card-arrow-bottom-right"></div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        {% for group in groups %}
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-filter="{{ group.id }}">
                                <div class="card">
                                    <div class="card-body">
                                        <i class="fa fa-fw fa-drumstick-bite"></i> {{ group.name }}
                                    </div>
                                    <div class="card-arrow">
                                        <div class="card-arrow-top-left"></div>
                                        <div class="card-arrow-top-right"></div>
                                        <div class="card-arrow-bottom-left"></div>
                                        <div class="card-arrow-bottom-right"></div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="pos-content">
            <div class="pos-content-container h-100 p-4" data-scrollbar="true" data-height="100%">
                
                <div class="row">
                    <div class="col-xxl-12">
                    {% include 'pos/partials/barcode-input.html' %}
                    </div>
                </div>
                <div class="row gx-4">
                    {% for product in products %}
                    {% include 'pos/products/product-card.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="pos-sidebar" id="pos-sidebar">
            {% include 'pos/partials/order-detail.html' %}
        </div>
    </div>
    <div class="card-arrow">
        <div class="card-arrow-top-left"></div>
        <div class="card-arrow-top-right"></div>
        <div class="card-arrow-bottom-left"></div>
        <div class="card-arrow-bottom-right"></div>
    </div>
</div>
<a href="#" class="pos-mobile-sidebar-toggler" data-toggle-class="pos-mobile-sidebar-toggled" data-toggle-target="#pos">
<i class="bi bi-bag"></i>
<span class="badge">5</span>
</a>
{% endblock pos_content %}