{% extends 'base.html' %}
{% load static %}
{% block extra_app_class %}app-content-full-height{% endblock extra_app_class %}


{% block content %}
<div id="content" 
hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' 
hx-on::load="bInput=htmx.find('#barcode-input');bInput.value= '';bInput.focus();"
class="app-content p-1 ps-xl-4 pe-xl-4 pt-xl-3 pb-xl-3">
{% block pos_content %}
{% endblock pos_content %}
</div>
{% endblock content %}

{% block modals %}
<div class="modal modal-pos fade" id="modal-product">
    {% include 'pos/modals/product-modal2.html' %}
</div>
{% endblock modals %}