Django>5.0,<6.0
django-allauth
django-extensions
django-cors-headers
djangorestframework
django-countries
django-filter>24.0,<25.0
django-mptt
django-widget-tweaks
django-htmx
django-components
django-colorfield
django-fontawesome-5
django-split-settings
django-renderpdf
django-after-response
django-tables2
django-datatable-view
djangorestframework-datatables
fpdf
loguru
psycopg2
dj-database-url
python-decouple
python-barcode
Pillow
autopep8
six
pytz
tzlocal
icecream
cryptography
xhtml2pdf
reportlab
reportlab[pycairo]
preppy
fpdf2
uharfbuzz
TTFQuery==2.0.0b1
html2image
openpyxl