Django>5.0,<6.0
django-extensions
django-cors-headers
djangorestframework
django-subdomains
django-countries
django-storages
django-filter
django-mptt
django-widget-tweaks
django-htmx
django-components
loguru
psycopg2
dj-database-url
python-decouple
Pillow
stripe
boto3
gunicorn
cryptography
autopep8
six
pycryptodome
cachetools
pytz
pywin32
MSWinPrint
qrcode
relatorio
wmi
pandas
websockets
celery
tzlocal
django-celery-beat
celery-progress
django-split-settings
icecream
cryptography
daphne
channels_redis