Django>5.0,<6.0
django-allauth
django-extensions
django-cors-headers
djangorestframework
django-countries
django-filter
django-mptt
django-widget-tweaks
django-htmx
django-components
django-colorfield
fpdf
loguru
psycopg2
dj-database-url
python-decouple
Pillow
autopep8
six
pytz
tzlocal
django-split-settings
icecream
cryptography
django-fontawesome-5
xhtml2pdf
reportlab
reportlab[pycairo]
preppy
rlextra -i https://www.reportlab.com/pypi/