{% extends 'base.html' %}
{% load fontawesome_5 static globals %}
{% block head_title %}
{{ page_title }}
{% endblock head_title %}
{% block content %}
<div id="content" class="app-content">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-10">
				<div class="row">
					<div class="col-xl-9">
						{% for setting in settings %}
						<div id="{{ setting.name }}" class="{% if setting.children %}mb-3{% else %}mb-5{% endif %}">
							<h4><span class=" fa-fw text-theme">{{ setting.icon.as_html }}</span> {{ setting.name }}</h4>
							<p>Reset all website setting to factory default setting.</p>
							{% if setting.rows %}
							<div class="card">
								<div class="list-group list-group-flush">
									{% for row in setting.rows %}	
									<form class="list-group-item d-flex align-items-center">
										<div class="flex-1">
											<dl class="row mb-0">
												<dt class="col-sm-4 h5">{{ row.title }}</dt>
												<dd class="col-sm-7">
													{% include 'config/partials/input_type.html' with config=row %}												
												</dd>
											</dl>
											{% if row.description %}
											<div class="text-inverse text-opacity-50">
												<i class="fa fa-circle fs-8px fa-fw text-success me-1"></i>{{ row.description }}
											</div>
											{% endif %}
										</div>
										<div>
											<button type="submit" class="btn btn-outline-theme w-100px">Update</button>
										</div>
									</form>
									{% endfor %}
								</div>
								<div class="card-arrow">
									<div class="card-arrow-top-left"></div>
									<div class="card-arrow-top-right"></div>
									<div class="card-arrow-bottom-left"></div>
									<div class="card-arrow-bottom-right"></div>
								</div>
							</div>
							{% endif %}
						</div>
						{% if setting.children %}{% for child in  setting.children %}
						<div id="{{ child.name }}" class="ms-4 mb-5">
							<h4><span class=" fa-fw text-theme">{{ child.icon.as_html }}</span> {{ child.name }}</h4>
							<p>Reset all website setting to factory default setting.</p>
							<div class="card">
								<div class="list-group list-group-flush">
									{% for row in child.rows %}	
									<form class="list-group-item d-flex align-items-center">
										<div class="flex-1">
											<dl class="row mb-0">
												<dt class="col-4 h6">{{ row.title }}</dt>
												<dd class="col-7">
													{% include 'config/partials/input_type.html' with config=row %}												
												</dd>
											</dl>
											{% if row.description %}
											<div class="text-inverse text-opacity-50">
												{{ row.description }}
											</div>
											{% else %}
											<div class="text-inverse text-opacity-50">
												<span class="bg-warning-transparent-1 text-warning ms-xl-3 mt-1 d-inline-block mt-xl-0 px-1 rounded-sm">
													<i class="fa fa-exclamation-circle text-warning fs-12px me-1"></i>
													<span class="text-warning">Please enable the firewall for your website</span>
													</span>
											</div>
											{% endif %}
										</div>
										<div>
											<button type="submit" class="btn btn-outline-theme w-100px">Update</button>
										</div>
									</form>
									{% endfor %}
								</div>
								<div class="card-arrow">
									<div class="card-arrow-top-left"></div>
									<div class="card-arrow-top-right"></div>
									<div class="card-arrow-bottom-left"></div>
									<div class="card-arrow-bottom-right"></div>
								</div>
							</div>
						</div>
						{% endfor %}{% endif %}{% endfor %}
						<!-- RESET SETTINGS TO ORIGINAL: Are you sure? -->
						<div id="resetSettings" class="mb-5">
							<h4><i class="fa fa-redo fa-fw text-theme"></i> Reset settings</h4>
							<p>Reset all website setting to factory default setting.</p>
							<div class="card">
								<div class="list-group list-group-flush">
									<div class="list-group-item d-flex align-items-center">
										<div class="flex-1 text-break">
											<div>Reset Settings</div>
											<div class="text-inverse text-opacity-50">
												This action will clear and reset all the current system settings.
											</div>
										</div>
										<div>
											<a href="#" class="btn btn-outline-default w-100px">Reset</a>
										</div>
									</div>
								</div>
								<div class="card-arrow">
									<div class="card-arrow-top-left"></div>
									<div class="card-arrow-top-right"></div>
									<div class="card-arrow-bottom-left"></div>
									<div class="card-arrow-bottom-right"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3">
						<nav id="sidebar-bootstrap" class="navbar navbar-sticky d-none d-xl-block">
							<nav class="nav">
								{% for section in sections %}
								<a 
									_="on click remove .active from <a/> then add .active to me "
									class="nav-link" href="#{{ section }}" data-toggle="scroll-to">{{ section }}</a>
								{% endfor %}
								<a 
									_="on click remove .active from <a/> then add .active to me "
									class="nav-link" href="#resetSettings" data-toggle="scroll-to">Reset settings</a>
							</nav>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}