{% extends 'base.html' %}
{% load fontawesome_5 static globals %}
{% block head_title %}
{{ page_title }}
{% endblock head_title %}
{% block content %}
<div id="content" class="app-content">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-10">
				<div class="row">
					<div class="col-xl-9">
						{% for setting in settings %}
						{% if setting.rows %}
						<div id="{{ setting.name }}" class="{% if setting.children %}mb-3{% else %}mb-5{% endif %}">
							<h4>
								<span class=" fa-fw text-theme">{{ setting.icon.as_html }}</span>
								{% with setting.name|get_title:'_' as title %}
								<span>{{ title }}</span>
								{% endwith %}
							</h4>
							<p>{{ setting.description }}</p>							
							<div class="card">
								<div class="list-group list-group-flush">
									{% for row in setting.rows %}	
									<form class="list-group-item d-flex align-items-center">
									<input type="hidden" name="{{ row.id }}
										<div class="flex-1">
											<dl class="row mb-0 align-items-start py-2">
												<dd class="col-5 h6">{{ row.title }}</dd>
												<dd class="col-5">
													{% include 'config/partials/input_type.html' with config=row %}												
												</dd>
												<dd class="col-2 text-end">
													<button type="submit" class="btn btn-outline-theme w-100px">Update</button>
												</dd>
											</dl>
											{% if row.description %}
											<div class="text-inverse text-opacity-50">
												{{ row.description }}
											</div>
											{% comment %} {% else %}
											<div class="text-inverse text-opacity-50">
												<span class="bg-warning-transparent-1 text-warning ms-xl-3 mt-1 d-inline-block mt-xl-0 px-1 rounded-sm">
													<i class="fa fa-exclamation-circle text-warning fs-12px me-1"></i>
													<span class="text-warning">Please enable the firewall for your website</span>
													</span>
											</div> {% endcomment %}
											{% endif %}
										</div>
									</form>
									{% endfor %}
								</div>
								<div class="card-arrow">
									<div class="card-arrow-top-left"></div>
									<div class="card-arrow-top-right"></div>
									<div class="card-arrow-bottom-left"></div>
									<div class="card-arrow-bottom-right"></div>
								</div>
							</div>
							
						</div>
						{% endif %}
						{% if setting.children %}{% for child in  setting.children %}
						<div id="{{ child.name }}" class="ms-4 mb-5">
							<h4>
								<span class=" fa-fw text-theme">{{ setting.icon.as_html }}</span>
								{% with child.name|get_title:'_' as title %}
								<span>{{ title }}</span>
								{% endwith %}
							</h4>
							<p>Reset all website setting to factory default setting.</p>
							<div class="card">
								<div class="list-group list-group-flush">
									{% for row in child.rows %}	
									<form class="list-group-item d-flex align-items-center">
										<div class="flex-1">
											<dl class="row mb-0 align-items-start py-2">
												<dd class="col-5 h6">{{ row.title }}</dd>
												<dd class="col-5">
													{% include 'config/partials/input_type.html' with config=row %}												
												</dd>
												<dd class="col-2 text-end">
													<button type="submit" class="btn btn-outline-theme w-100px">Update</button>
												</dd>
											</dl>
											{% if row.description %}
											<div class="text-inverse text-opacity-50">
												{{ row.description }}
											</div>
											{% comment %} {% else %}
											<div class="text-inverse text-opacity-50">
												<span class="bg-warning-transparent-1 text-warning ms-xl-3 mt-1 d-inline-block mt-xl-0 px-1 rounded-sm">
													<i class="fa fa-exclamation-circle text-warning fs-12px me-1"></i>
													<span class="text-warning">Please enable the firewall for your website</span>
													</span>
											</div> {% endcomment %}
											{% endif %}
										</div>
									</form>
									{% endfor %}
								</div>
								<div class="card-arrow">
									<div class="card-arrow-top-left"></div>
									<div class="card-arrow-top-right"></div>
									<div class="card-arrow-bottom-left"></div>
									<div class="card-arrow-bottom-right"></div>
								</div>
							</div>
						</div>
						{% endfor %}{% endif %}{% endfor %}
						<!-- RESET SETTINGS TO ORIGINAL: Are you sure? -->
						<div id="resetSettings" class="mb-5">
							<h4><i class="fa fa-redo fa-fw text-theme"></i> Reset settings</h4>
							<p>Reset all website setting to factory default setting.</p>
							<div class="card">
								<div class="list-group list-group-flush">
									<div class="list-group-item d-flex align-items-center">
										<div class="flex-1 text-break">
											<div>Reset Settings</div>
											<div class="text-inverse text-opacity-50">
												This action will clear and reset all the current system settings.
											</div>
										</div>
										<div>
											<a href="#" class="btn btn-outline-default w-100px">Reset</a>
										</div>
									</div>
								</div>
								<div class="card-arrow">
									<div class="card-arrow-top-left"></div>
									<div class="card-arrow-top-right"></div>
									<div class="card-arrow-bottom-left"></div>
									<div class="card-arrow-bottom-right"></div>
								</div>
							</div>
						</div>
						<div class="coming-soon-content d-flex flex-column">
							<div class="flex-1 mb-3">
								<h2 class="mb-3">Acquire more settings!</h2>
								<p class="mb-4">We will be glad to assist you.<br> You just need to add your email address below!</p>
								<div class="input-group mb-2">
									<input type="text" class="form-control" placeholder="Email Address">
									<button type="submit" class="btn btn-outline-theme">SEND REQUEST</button>
								</div>
								<div class="mb-1 small text-inverse text-opacity-50">* Your email address will be safe and remain secret</div>
							</div>
							<div class="text-center small text-inverse text-opacity-50">
								© 2024 Zeneon LLC. Right Reserved
							</div>
						</div>
					</div>
					<div class="col-xl-3">
						<nav id="sidebar-bootstrap" class="navbar navbar-sticky d-none d-xl-block">
							<nav class="nav">
								{% for section in sections %}
								{% if section.application_properties.exists %}
								{% with section.name|get_title:'_' as title %}
								<a 
									_="on click remove .active from <a/> then add .active to me "
									class="nav-link" href="#{{ section.name }}" data-toggle="scroll-to">{{ title }}</a>
									
								{% endwith %}
								{% endif %}
								{% endfor %}
								<a 
									_="on click remove .active from <a/> then add .active to me "
									class="nav-link" href="#resetSettings" data-toggle="scroll-to">Reset settings</a>
							</nav>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}